{% extends 'base.html.twig' %}

{% block title %}New RevueEnclenchement
{% endblock %}

{% block body %}
<div class="">
	<div class="page-title">
		<div class="title_left">
			<h3>Revue d'Enclenchement</h3>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="row">
		<div class="col-md-12 col-sm-12 ">
			<div class="x_panel">
				<div class="x_title">
					<ul class="nav navbar-right panel_toolbox">
						<a href="{{path('app_affaire_show', {'id' : affaire.id })}}" onclick="history.back();"
							class="btn btn-secondary btn-sm p-2">Retour<i class="fa fa-arrow-circle-left p-1"></i>
						</a>
					</ul>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					{{ form_start(form) }}
					<div class="row">
						<table class="table table-bordered">
							<tr class="table-secondary">
								<th class="text-center" colspan="6">Revue D'enclenchement</th>
							</tr>
							<tr class="table-secondary">
								<td></td>
								<td>N° PROJET</td>
								<td>DESCRIPTION PRESTATION</td>
								<td>Chef de Projet</td>
								<td>CLIENT</td>
								<td>INDICE</td>
							</tr>
							<tr>
								<td>{{ form_widget(form.libelle) }}</td>
								<td>{{ affaire.numAffaire }}</td>
								<td>{{ form_widget(form.description_prestation) }}</td>
								<td>{{ affaire.suiviPar }}</td>
								<td>{{ affaire.client }}</td>
								<td>{{ form_widget(form.indice) }}</td>
							</tr>
							<tr class="table-secondary">
								<td>Type</td>
								<td>Plan</td>
								<td>Paliers</td>
								<td>Amiante</td>
								<td>N° Contrat</td>
								<td>Cahier des Charges</td>
							</tr>
							<tr>
								{% if parametre %}
								<td>{{ parametre[0].type }}</td>
								{% else %}
								<td></td>
								{% endif %}
								<td>{{ form_widget(form.plan) }}</td>
								{% if parametre %}
								<td>{{ parametre[0].typePalier }}</td>
								{% else %}
								<td></td>
								{% endif %}
								<td>{{ form_widget(form.amiante) }}</td>
								<td>{{ form_widget(form.numero_contrat) }}</td>
								<td>{{ form_widget(form.cahier_charge) }}</td>
							</tr>
							<tr class="table-secondary">
								<td>N° PCQ</td>
								<td>Point d'arrêt</td>
								<td>Contre expertise</td>
								<td>Date Recette Client</td>
								<td>Observation</td>
								<td>Clarifications suite RE</td>
							</tr>
							<tr>
								<td>{{ form_widget(form.numero_pcq) }}</td>
								<td>{{ form_widget(form.point_arret) }}</td>
								<td>{{ form_widget(form.contre_expertise) }}</td>
								<td>{{ form_widget(form.re7_client) }}</td>
								<td>{{ form_widget(form.observation) }}</td>
								<td>{{ form_widget(form.clarification) }}</td>
							</tr>
							<tr class="table-secondary">
								<th colspan="6" class="text-center">PLANIFICATION / JALONS</th>
							</tr>
							<tr class="table-secondary">
								<td colspan="2">Délai Demande client</td>
								<td colspan="2">Arrivée de la commande</td>
								<td colspan="2">ARC</td>
							</tr>
							<tr>
								<td colspan="2">{{ form_widget(form.delai_demande_client) }}</td>
								<td colspan="2">{{ form_widget(form.arrive_commande) }}</td>
								<td colspan="2">{{ form_widget(form.arc) }}</td>

							</tr>
							<tr class="table-secondary">
								<td>Revue d'enclenchement</td>
								<td>Arrivée de la machine</td>
								<td>Date rapport expertise finalisé</td>
								{#<td>Objectif rapport expertise (jours)</td>
								<td>Objectif mise à dispo machine pour exp(jours)</td>
								<td>Date machine prête pour expé</td>#}
							</tr>
							<tr>
								<td>{{ form_widget(form.revue_enclenchement) }}</td>
								<td>{{ form_widget(form.arrivee_machine) }}</td>
								<td>{{ form_widget(form.date_rapport_expertise_finalise) }}</td>
								{#<td>{{ form_widget(form.objectif_rapport_expertise) }}</td>
								<td>{{ form_widget(form.objectif_mise_dispo) }}</td>
								<td>{{ form_widget(form.date_machine_prete) }}</td>#}
							</tr>
						</table>
					</div>
					<div class="row">
						<div class="col-md-12 align-center">
							<button class="btn btn-primary btn-sm text-uppercase">{{ button_label|default('Enregistrer')
								}}<i class="fa fa-save p-2"></i></button>
							<hr>
							<p class="text-danger">Toujours Enregistrer avant de passer à (ACHATS / SOUS-TRAITANCE) et
								(ETUDES)</p>
						</div>
					</div>
					{{ form_end(form) }}
				</div>
			</div>
			{% if affaire.revueEnclenchements|length != 0 %}
			<div class="x_panel">
				<div class="x_content">
					<div class="row">
						<table class="table table-bordered table-striped">
							<tr class="table-secondary">
								<th class="text-center" colspan="5">ACHATS / SOUS-TRAITANCE</th>
							</tr>
							<tr class="table-secondary">
								<th>Quoi
								</th>
								<th>Délai/ En Jour</th>
								<th>Observation</th>
								<th>Type</th>
								<th></th>
							</tr>
							{{ form_start(formEtudesAchats) }}
							<tr>
								<td>{{ form_widget(formEtudesAchats.quoi) }}</td>
								<td>{{ form_widget(formEtudesAchats.delai) }}</td>
								<td>{{ form_widget(formEtudesAchats.observation) }}</td>
								<td>{{ form_widget(formEtudesAchats.type) }}</td>
								<td>
									{% if affaire.revueEnclenchements|length != 0 %}
									<button class="btn btn-primary btn-sm text-uppercase">{{
										button_label|default('Ajouter') }}<i class="fa fa-save p-2"></i>
									</button>
									{% endif %}
								</td>
							</tr>
							{{ form_end(formEtudesAchats) }}
							{% if revue_enclenchement.etudesAchats %}
							<tr class="table-secondary">
								<th colspan="4" class="text-center">ETUDES</th>
							</tr>
							{% for item in revue_enclenchement.etudesAchats %}
							{% if item.type == 'ETUDES' %}
							<tr>
								<td>{{item.quoi}}</td>
								<td>{{item.delai}}</td>
								<td>{{item.observation}}</td>
								<td></td>
								<td width="150" class="text-center">
									<a href="{{path('delete_etudes_achats', {'id' : item.id})}}"
										class="btn btn-danger btn-sm">
										<i class="fa fa-trash-o fa-1x"></i>
									</a>
								</td>
							</tr>
							{% endif %}
							{% endfor %}
							<tr class="table-secondary">
								<th colspan="4" class="text-center">ACHATS / SOUS-TRAITANCE</th>
							</tr>
							{% for item in revue_enclenchement.etudesAchats %}
							{% if item.type == 'ACHATS / SOUS-TRAITANCE' %}
							<tr>
								<td>{{item.quoi}}</td>
								<td>{{item.delai}}</td>
								<td>{{item.observation}}</td>
								<td></td>
								<td width="150" class="text-center">
									<a href="{{path('delete_etudes_achats', {'id' : item.id})}}"
										class="btn btn-danger btn-sm">
										<i class="fa fa-trash-o fa-1x"></i>
									</a>
								</td>
							</tr>
							{% endif %}
							{% endfor %}
							{% endif %}
						</table>
					</div>
				</div>
			</div>
			{% endif %}

			{% if affaire.revueEnclenchements|length != 0 %}
				<div class="x_panel">
					<div class="x_content">
						<div class="row">
							<table class="table table-bordered table-striped">
								<tr class="table-secondary">
									<th class="text-center" colspan="5">ATELIER</th>
								</tr>
								<tr class="table-secondary text-center">
									<th>Opération
									</th>
									<th>Travaux</th>
									<th>Heures</th>
									<th>Total</th>
									<th></th>
								</tr>
								{{ form_start(formAtelier) }}
								<tr>
									<td>{{ form_widget(formAtelier.operations) }}</td>
									<td>{{ form_widget(formAtelier.travaux) }}</td>
									<td>{{ form_widget(formAtelier.heures) }}</td>
									<td></td>
									<td class="text-right">
										{% if affaire.revueEnclenchements|length != 0 %}
										<button class="btn btn-primary btn-sm text-uppercase">{{
											button_label|default('Ajouter') }}<i class="fa fa-save p-2"></i>
										</button>
										{% endif %}
									</td>

								</tr>
								{{ form_end(formAtelier) }}

								{% if revue_enclenchement.ateliers %}
								<!-- début de la réception -->
								{% set total_heures_op = 0 %}
								{% set num1 = 0 %}
								{% for item2 in revue_enclenchement.ateliers %}
								{% if item2.operations == 'A réception' %}
								{% set num1 = num1 + 1 %}
								{% set total_heures_op = total_heures_op + item2.heures %}
								{% endif %}
								{% endfor %}
								<tr>
									<td rowspan="{{num1 + 1}}" class="table-secondary ">A réception</td>
									<td class="table-secondary "></td>
									<td class="table-secondary "></td>
									<td rowspan="{{num1 + 1}}">{{total_heures_op}}</td>
								</tr>
								{% for item2 in revue_enclenchement.ateliers %}
								{% if item2.operations == 'A réception' %}
								<tr>
									<td>{{item2.travaux}}</td>
									<td>{{item2.heures}}</td>
									<td width="150" class="text-center">
										<a href="{{path('delete_atelier', {'id' : item2.id})}}"
											class="btn btn-danger btn-sm">
											<i class="fa fa-trash-o fa-1x"></i>
										</a>
									</td>
								</tr>
								{% endif %}
								{% endfor %}
								<!-- fin de la réception -->

								<!-- début de la Démontage moteur -->
								{% set total_heures_dm = 0 %}
								{% set num2 = 0 %}
								{% for item2 in revue_enclenchement.ateliers %}
								{% if item2.operations == 'Démontage moteur' %}
								{% set num2 = num2 + 1 %}
								{% set total_heures_dm = total_heures_dm + item2.heures %}
								{% endif %}
								{% endfor %}
								<tr>
									<td rowspan="{{num2 + 1}}" class="table-secondary">Démontage moteur</td>
									<td class="table-secondary "></td>
									<td class="table-secondary "></td>
									<td rowspan="{{num2 + 1}}">{{total_heures_dm}}</td>
								</tr>
								{% for item2 in revue_enclenchement.ateliers %}
								{% if item2.operations == 'Démontage moteur' %}
								<tr>
									<td>{{item2.travaux}}</td>
									<td>{{item2.heures}}</td>
									<td width="150" class="text-center">
										<a href="{{path('delete_atelier', {'id' : item2.id})}}"
											class="btn btn-danger btn-sm">
											<i class="fa fa-trash-o fa-1x"></i>
										</a>
									</td>
								</tr>
								{% endif %}
								{% endfor %}
								<!-- fin de la Démontage moteur -->

								<!-- début de la Lavage / Etuvage / Nettoyage -->
								{% set total_heures_dm = 0 %}
								{% set num2 = 0 %}
								{% for item2 in revue_enclenchement.ateliers %}
								{% if item2.operations == 'Lavage / Etuvage / Nettoyage' %}
								{% set num2 = num2 + 1 %}
								{% set total_heures_dm = total_heures_dm + item2.heures %}
								{% endif %}
								{% endfor %}
								<tr>
									<td rowspan="{{num2 + 1}}" class="table-secondary ">Lavage / Etuvage / Nettoyage</td>
									<td class="table-secondary "></td>
									<td class="table-secondary "></td>
									<td rowspan="{{num2 + 1}}">{{total_heures_dm}}</td>
								</tr>
								{% for item2 in revue_enclenchement.ateliers %}
								{% if item2.operations == 'Lavage / Etuvage / Nettoyage' %}
								<tr>
									<td>{{item2.travaux}}</td>
									<td>{{item2.heures}}</td>
									<td width="150" class="text-center">
										<a href="{{path('delete_atelier', {'id' : item2.id})}}"
											class="btn btn-danger btn-sm">
											<i class="fa fa-trash-o fa-1x"></i>
										</a>
									</td>
								</tr>
								{% endif %}
								{% endfor %}
								<!-- fin de la Lavage / Etuvage / Nettoyage -->

								<!-- début de l'Expertise électrique -->
								{% set total_heures_op = 0 %}
								{% set num1 = 0 %}
								{% for item2 in revue_enclenchement.ateliers %}
								{% if item2.operations == 'Expertise électrique' %}
								{% set num1 = num1 + 1 %}
								{% set total_heures_op = total_heures_op + item2.heures %}
								{% endif %}
								{% endfor %}
								<tr>
									<td rowspan="{{num1 + 1}}" class="table-secondary ">Expertise électrique</td>
									<td class="table-secondary "></td>
									<td class="table-secondary "></td>
									<td rowspan="{{num1 + 1}}">{{total_heures_op}}</td>
								</tr>
								{% for item2 in revue_enclenchement.ateliers %}
								{% if item2.operations == 'Expertise électrique' %}
								<tr>
									<td>{{item2.travaux}}</td>
									<td>{{item2.heures}}</td>
									<td width="150" class="text-center">
										<a href="{{path('delete_atelier', {'id' : item2.id})}}"
											class="btn btn-danger btn-sm">
											<i class="fa fa-trash-o fa-1x"></i>
										</a>
									</td>
								</tr>
								{% endif %}
								{% endfor %}
								<!-- fin de l'Expertise électrique -->

								<!-- début de l'Expertise mécanique -->
								{% set total_heures_op = 0 %}
								{% set num1 = 0 %}
								{% for item2 in revue_enclenchement.ateliers %}
								{% if item2.operations == 'Expertise mécanique' %}
								{% set num1 = num1 + 1 %}
								{% set total_heures_op = total_heures_op + item2.heures %}
								{% endif %}
								{% endfor %}
								<tr>
									<td rowspan="{{num1 + 1}}" class="table-secondary ">Expertise mécanique</td>
									<td class="table-secondary "></td>
									<td class="table-secondary "></td>
									<td rowspan="{{num1 + 1}}">{{total_heures_op}}</td>
								</tr>
								{% for item2 in revue_enclenchement.ateliers %}
								{% if item2.operations == 'Expertise mécanique' %}
								<tr>
									<td>{{item2.travaux}}</td>
									<td>{{item2.heures}}</td>
									<td width="150" class="text-center">
										<a href="{{path('delete_atelier', {'id' : item2.id})}}"
											class="btn btn-danger btn-sm">
											<i class="fa fa-trash-o fa-1x"></i>
										</a>
									</td>
								</tr>
								{% endif %}
								{% endfor %}
								<!-- fin de l'Expertise mécanique -->

								<!-- début de Remontage moteur -->
								{% set total_heures_op = 0 %}
								{% set num1 = 0 %}
								{% for item2 in revue_enclenchement.ateliers %}
								{% if item2.operations == 'Remontage moteur' %}
								{% set num1 = num1 + 1 %}
								{% set total_heures_op = total_heures_op + item2.heures %}
								{% endif %}
								{% endfor %}
								<tr>
									<td rowspan="{{num1 + 1}}" class="table-secondary">Remontage moteur</td>
									<td class="table-secondary"></td>
									<td class="table-secondary"></td>
									<td rowspan="{{num1 + 1}}">{{total_heures_op}}</td>
								</tr>
								{% for item2 in revue_enclenchement.ateliers %}
								{% if item2.operations == 'Remontage moteur' %}
								<tr>
									<td>{{item2.travaux}}</td>
									<td>{{item2.heures}}</td>
									<td width="150" class="text-center">
										<a href="{{path('delete_atelier', {'id' : item2.id})}}"
											class="btn btn-danger btn-sm">
											<i class="fa fa-trash-o fa-1x"></i>
										</a>
									</td>
								</tr>
								{% endif %}
								{% endfor %}
								<!-- fin de Remontage moteur -->

								<!-- début de Révision Hydro -->
								{% set total_heures_rh = 0 %}
								{% set num11 = 0 %}
								{% for item2 in revue_enclenchement.ateliers %}
								{% if item2.operations == 'Révision Hydro' %}
								{% set num11 = num11 + 1 %}
								{% set total_heures_rh = total_heures_rh + item2.heures %}
								{% endif %}
								{% endfor %}
								<tr>
									<td rowspan="{{num11 + 1}}" class="table-secondary ">Révision Hydro</td>
									<td class="table-secondary "></td>
									<td class="table-secondary "></td>
									<td rowspan="{{num11 + 1}}">{{total_heures_rh}}</td>
								</tr>
								{% for item2 in revue_enclenchement.ateliers %}
								{% if item2.operations == 'Révision Hydro' %}
								<tr>
									<td>{{item2.travaux}}</td>
									<td>{{item2.heures}}</td>
									<td width="150" class="text-center">
										<a href="{{path('delete_atelier', {'id' : item2.id})}}"
											class="btn btn-danger btn-sm">
											<i class="fa fa-trash-o fa-1x"></i>
										</a>
									</td>
								</tr>
								{% endif %}
								{% endfor %}
								<!-- fin de Révision Hydro -->

								<!-- début de Révision Aéro -->
								{% set total_heures_ra = 0 %}
								{% set num11 = 0 %}
								{% for item2 in revue_enclenchement.ateliers %}
								{% if item2.operations == 'Révision Aéro' %}
								{% set num11 = num11 + 1 %}
								{% set total_heures_ra = total_heures_ra + item2.heures %}
								{% endif %}
								{% endfor %}
								<tr>
									<td rowspan="{{num11 + 1}}" class="table-secondary ">Révision Aéro</td>
									<td class="table-secondary "></td>
									<td class="table-secondary "></td>
									<td rowspan="{{num11 + 1}}">{{total_heures_ra}}</td>
								</tr>
								{% for item2 in revue_enclenchement.ateliers %}
								{% if item2.operations == 'Révision Aéro' %}
								<tr>
									<td>{{item2.travaux}}</td>
									<td>{{item2.heures}}</td>
									<td width="150" class="text-center">
										<a href="{{path('delete_atelier', {'id' : item2.id})}}"
											class="btn btn-danger btn-sm">
											<i class="fa fa-trash-o fa-1x"></i>
										</a>
									</td>
								</tr>
								{% endif %}
								{% endfor %}
								<!-- fin de Révision Aéro -->
								<!-- début de Autres -->
								{% set total_heures_op = 0 %}
								{% set num1 = 0 %}
								{% for item2 in revue_enclenchement.ateliers %}
								{% if item2.operations == 'Autres' %}
								{% set num1 = num1 + 1 %}
								{% set total_heures_op = total_heures_op + item2.heures %}
								{% endif %}
								{% endfor %}
								<tr>
									<td rowspan="{{num1 + 1}}" class="table-secondary ">Autres</td>
									<td class="table-secondary "></td>
									<td class="table-secondary "></td>
									<td rowspan="{{num1 + 1}}">{{total_heures_op}}</td>
								</tr>
								{% for item2 in revue_enclenchement.ateliers %}
								{% if item2.operations == 'Autres' %}
								<tr>
									<td>{{item2.travaux}}</td>
									<td>{{item2.heures}}</td>
									<td width="150" class="text-center">
										<a href="{{path('delete_atelier', {'id' : item2.id})}}"
											class="btn btn-danger btn-sm">
											<i class="fa fa-trash-o fa-1x"></i>
										</a>
									</td>
								</tr>
								{% endif %}
								{% endfor %}
								<!-- fin de Autres -->
								{% endif %}
							</table>
						</div>
					</div>
				</div>
			{% endif %}

		</div>
	</div>
</div>
{% endblock %}