{% extends 'base.html.twig' %}

{% block title %}New RevueEnclenchement{% endblock %}

{% block body %}
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Revue d'Enclenchement</h3>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">      
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel">
                <div class="x_title">           
                    <div class="row">
                        <div class="col-md-9">   
                            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CHEF_PROJET') %}
                                <a href="{{path('app_revue_enclenchement_new', {'id' : revue_enclenchement.affaire.id })}}" class="btn btn-outline-warning btn-sm p-2 mr-3 text-uppercase">Modifier Indice A<i class="fa fa-edit p-1"></i></a>
                            {% endif %}                 
                            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CHEF_PROJET') %}
                                <a href="{{path('app_revue_enclenchement_indice', {'id' : revue_enclenchement.affaire.id })}}" class="btn btn-outline-primary btn-sm p-2 mr-3 text-uppercase">Créer indice B<i class="fa fa-plus-circle p-1"></i></a>
                            {% endif %}                                 
                            
                            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CHEF_PROJET') %}
                                <a target="_blank" href="{{path('app_revue_enclenchement_print', {'id' : revue_enclenchement.id })}}" class="btn btn-outline-info btn-sm p-2 mr-3 text-uppercase">Imprimer indice A<i class="fa fa-file p-1"></i></a>
                                
                                {% if revue_enclenchement.affaire.revueEnclenchements |length > 1 %}
                                    <a target="_blank" href="{{path('app_revue_enclenchement_print', {'id' : revue_enclenchement.affaire.revueEnclenchements[1].id })}}" class="btn btn-outline-success btn-sm p-2 mr-3 text-uppercase">Imprimer indice B<i class="fa fa-file p-1"></i></a>
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="col-md-3">            
                            <ul class="nav navbar-right panel_toolbox">
                                <a href="{{path('app_affaire_show', {'id' : revue_enclenchement.affaire.id })}}" onclick="history.back();" class="btn btn-secondary btn-sm p-2 text-uppercase">Retour<i class="fa fa-arrow-circle-left p-1"></i></a>
                            </ul>
                        </div>
                    </div> 
                    <div class="clearfix"></div>  
                </div>
                <div class="x_content">
                    <div class="row">
                        <table class="table table-bordered table-striped">
                            <tr  class="table-secondary">
                                <th class="text-center" colspan="6">Revue D'enclenchement</th>
                            </tr>
                            <tr>
                                <td class="text-center" colspan="6">{{revue_enclenchement.libelle}}</td>
                            </tr>
                            <tr  class="table-secondary">
                                <td>Utilisateur</td>
                                <td>N° PROJET</td>
                                <td>DESCRIPTION PRESTATION</td>
                                <td>Chef de Projet</td>
                                <td>CLIENT</td>
                                <td>INDICE</td>
                            </tr> 
                            <tr>
                                <td>{{revue_enclenchement.utilisateur}}</td>
                                <td>{{ revue_enclenchement.affaire.numAffaire}}</td>
                                <td>{{revue_enclenchement.descriptionPrestation}}</td>
                                <td>{{ revue_enclenchement.affaire.suiviPar}}</td>
                                <td>{{ revue_enclenchement.affaire.client}}</td>
                                <td>{{ revue_enclenchement.indice}}</td>
                            </tr> 
                            <tr  class="table-secondary">
                                {% if parametre %}
                                    <td>Type</td>
                                {% endif %}
                                <td>Plan</td>
                                {% if parametre %}
                                    <td>Paliers</td>
                                {% endif %}
                                <td>Amiante</td>
                                <td>N° Contrat</td>
                                <td>Cahier des Charges</td>
                            </tr>
                            <tr>
                                {% if parametre %}
                                    <td>{{ parametre[0].type}}</td>
                                {% endif %}
                                <td>{{revue_enclenchement.plan}}</td>
                                {% if parametre %}
                                    <td>{{ parametre[0].typePalier}}</td>
                                {% endif %}
                                <td>{{revue_enclenchement.amiante}}</td>
                                <td>{{revue_enclenchement.numeroContrat}}</td>
                                <td>{{revue_enclenchement.cahierCharge}}</td>
                            </tr> 
                            <tr  class="table-secondary">
                                <td>N° PCQ</td>
                                <td>Point d'arrêt</td>
                                <td>Contre expertise</td>
                                <td>Re7 client</td>
                                <td>Observation</td>
                                <td>Clarifications suite RE</td>
                            </tr>
                            <tr>
                                <td>{{revue_enclenchement.numeroPcq}}</td>
                                <td>{{revue_enclenchement.pointArret}}</td>
                                <td>{{revue_enclenchement.contreExpertise}}</td>
                                <td>{{revue_enclenchement.re7Client ? revue_enclenchement.re7Client | date('d-m-Y') : '' }}</td>
                                <td>{{revue_enclenchement.observation}}</td>
                                <td>{{revue_enclenchement.clarification}}</td>
                            </tr> 
                            <tr  class="table-secondary">
                                <th colspan="6" class="text-center">PLANIFICATION / JALONS</th>
                            </tr>
                            <tr  class="table-secondary">
                                <td colspan="2">Délai Demande client</td>
                                <td colspan="2">Arrivée de la commande</td>
                                <td colspan="2">ARC</td>    
                            </tr>
                            <tr>
                                <td colspan="2">{{revue_enclenchement.delaiDemandeClient ? revue_enclenchement.delaiDemandeClient | date('d-m-Y') : ''}}</td>
                                <td colspan="2">{{revue_enclenchement.arriveCommande ? revue_enclenchement.arriveCommande| date('d-m-Y') : ''}}</td>
                                <td colspan="2">{{revue_enclenchement.arc ? revue_enclenchement.arc | date('d-m-Y') : ''  }}</td>

                            </tr>
                            <tr  class="table-secondary">
                                <td>Revue d'enclenchement</td>
                                <td>Arrivée de la machine</td>
                                <td>Objectif rapport expertise (jours)</td>
                                <td>Objectif mise à dispo machine pour exp(jours)</td>
                                <td>Date rapport expertise finalisé</td>
                                <td>Date machine prête pour expé</td>
                            </tr>
                            <tr>
                                <td>{{revue_enclenchement.revueEnclenchement ? revue_enclenchement.revueEnclenchement | date('d-m-Y') : ''}}</td>
                                <td>{{revue_enclenchement.arriveeMachine ? revue_enclenchement.arriveeMachine | date('d-m-Y') : ''}}</td>
                                <td>{{revue_enclenchement.objectifRapportExpertise}}</td>
                                <td>{{revue_enclenchement.objectifMiseDispo}}</td>
                                <td>{{revue_enclenchement.dateRapportExpertiseFinalise ? revue_enclenchement.dateRapportExpertiseFinalise | date('d-m-Y') : ''}}</td>
                                <td>{{revue_enclenchement.dateMachinePrete ? revue_enclenchement.dateMachinePrete | date('d-m-Y') : ''}}</td>
                            </tr> 
                        </table>
                    </div>
                </div>
            </div>

            <div class="x_panel">
                <div class="x_content">
                    <div class="row">
                        <table class="table table-bordered table-striped">
                            <tr  class="table-secondary">
                                <th class="text-center" colspan="5">ACHATS / SOUS-TRAITANCE</th>
                            </tr>
                            <tr  class="table-secondary">
                                <th>Quoi </th>
                                <th>Délai/ En Jour</th>
                                <th>Observation</th>
                            </tr>      
                            {% if revue_enclenchement.etudesAchats %}
                                <tr  class="table-secondary">
                                    <th colspan="4" class="text-center">ETUDES</th>
                                </tr>
                                {% for item in revue_enclenchement.etudesAchats %}
                                    {% if item.type == 'ETUDES' %}
                                        <tr>
                                            <td>{{item.quoi}}</td>
                                            <td>{{item.delai ? item.delai | date('d-m-Y') : ''}}</td>
                                            <td>{{item.observation}}</td>
                                            <td></td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                <tr  class="table-secondary">
                                    <th colspan="4" class="text-center">ACHATS / SOUS-TRAITANCE</th>
                                </tr>
                                {% for item in revue_enclenchement.etudesAchats %}
                                    {% if item.type == 'ACHATS / SOUS-TRAITANCE' %}
                                        <tr>
                                            <td>{{item.quoi}}</td>
                                            <td>{{item.delai ? item.delai | date('d-m-Y') : ''}}</td>
                                            <td>{{item.observation}}</td>
                                            <td></td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </table>
                    </div>                    
                </div>
            </div>
            <div class="x_panel">
                <div class="x_content">
                    <div class="row">
                        <table class="table table-bordered">
                            <tr  class="table-secondary">
                                <th class="text-center" colspan="5">ATELIER</th>
                            </tr>
                            <tr class="table-secondary text-center">
                                <th width="20%">Opération </th>
                                <th>Travaux</th>
                                <th width="5%">Heures</th>
                                <th width="5%">Total</th>
                            </tr>
                            {% if revue_enclenchement.ateliers %}
                                <!-- début de la réception -->
                                    {% set total_heures_op = 0 %}
                                    {% set num1 = 0 %}
                                    {% for item2 in revue_enclenchement.ateliers %}
                                        {% if item2.operations == 'A réception' %}   
                                            {% set num1 = num1 + 1 %}
                                            {% set total_heures_op = total_heures_op + item2.heures %}                          
                                        {% endif %}
                                    {% endfor %}   
                                        <tr>
                                            <td rowspan="{{num1 + 1}}" class="table-secondary ">A réception</td>
                                            <td></td>
                                            <td></td>
                                            <td class="text-center" rowspan="{{num1 + 1}}">{{total_heures_op}}</td>
                                        </tr>
                                    {% for item2 in revue_enclenchement.ateliers %}
                                        {% if item2.operations == 'A réception' %}
                                            <tr>
                                                <td>{{item2.travaux}}</td>
                                                <td>{{item2.heures}}</td>
                                                </tr>                                  
                                        {% endif %}
                                    {% endfor %}   
                                <!-- fin de la réception -->           
                                
                                <!-- début de la Démontage moteur -->
                                    {% set total_heures_dm = 0 %}
                                    {% set num2 = 0 %}
                                    {% for item2 in revue_enclenchement.ateliers %}
                                        {% if item2.operations == 'Démontage moteur' %}   
                                            {% set num2 = num2 + 1 %}
                                            {% set total_heures_dm = total_heures_dm + item2.heures %}                          
                                        {% endif %}
                                    {% endfor %}   
                                        <tr>
                                            <td rowspan="{{num2 + 1}}" class="table-secondary">Démontage moteur</td>
                                            <td></td>
                                            <td></td>
                                            <td class="text-center" rowspan="{{num2 + 1}}">{{total_heures_dm}}</td>
                                        </tr>
                                    {% for item2 in revue_enclenchement.ateliers %}
                                        {% if item2.operations == 'Démontage moteur' %}
                                            <tr>
                                                <td>{{item2.travaux}}</td>
                                                <td>{{item2.heures}}</td>
                                            </tr>                                  
                                        {% endif %}
                                    {% endfor %}   
                                <!-- fin de la Démontage moteur -->         
                                
                                <!-- début de la Lavage / Etuvage / Nettoyage -->
                                    {% set total_heures_len = 0 %}
                                    {% set num2 = 0 %}
                                    {% for item2 in revue_enclenchement.ateliers %}
                                        {% if item2.operations == 'Lavage / Etuvage / Nettoyage' %}   
                                            {% set num2 = num2 + 1 %}
                                            {% set total_heures_len = total_heures_len + item2.heures %}                          
                                        {% endif %}
                                    {% endfor %}   
                                        <tr>
                                            <td rowspan="{{num2 + 1}}" class="table-secondary ">Lavage / Etuvage / Nettoyage</td>
                                            <td></td>
                                            <td></td>
                                            <td class="text-center" rowspan="{{num2 + 1}}">{{total_heures_len}}</td>
                                        </tr>
                                    {% for item2 in revue_enclenchement.ateliers %}
                                        {% if item2.operations == 'Lavage / Etuvage / Nettoyage' %}
                                            <tr>
                                                <td>{{item2.travaux}}</td>
                                                <td>{{item2.heures}}</td>
                                            </tr>                                  
                                        {% endif %}
                                    {% endfor %}   
                                <!-- fin de la Lavage / Etuvage / Nettoyage -->   
                                
                                <!-- début de l'Expertise électrique -->
                                    {% set total_heures_ee = 0 %}
                                    {% set num1 = 0 %}
                                    {% for item2 in revue_enclenchement.ateliers %}
                                        {% if item2.operations == 'Expertise électrique' %}   
                                            {% set num1 = num1 + 1 %}
                                            {% set total_heures_ee = total_heures_ee + item2.heures %}                          
                                        {% endif %}
                                    {% endfor %}   
                                        <tr>
                                            <td rowspan="{{num1 + 1}}" class="table-secondary ">Expertise électrique</td>
                                            <td></td>
                                            <td></td>
                                            <td class="text-center" rowspan="{{num1 + 1}}">{{total_heures_ee}}</td>
                                        </tr>
                                    {% for item2 in revue_enclenchement.ateliers %}
                                        {% if item2.operations == 'Expertise électrique' %}
                                            <tr>
                                                <td>{{item2.travaux}}</td>
                                                <td>{{item2.heures}}</td>
                                            </tr>                                  
                                        {% endif %}
                                    {% endfor %}   
                                <!-- fin de l'Expertise électrique -->           
                                
                                <!-- début de l'Expertise mécanique -->
                                    {% set total_heures_em = 0 %}
                                    {% set num1 = 0 %}
                                    {% for item2 in revue_enclenchement.ateliers %}
                                        {% if item2.operations == 'Expertise mécanique' %}   
                                            {% set num1 = num1 + 1 %}
                                            {% set total_heures_em = total_heures_em + item2.heures %}                          
                                        {% endif %}
                                    {% endfor %}   
                                        <tr>
                                            <td rowspan="{{num1 + 1}}" class="table-secondary ">Expertise mécanique</td>
                                            <td></td>
                                            <td></td>
                                            <td class="text-center" rowspan="{{num1 + 1}}">{{total_heures_em}}</td>
                                        </tr>
                                    {% for item2 in revue_enclenchement.ateliers %}
                                        {% if item2.operations == 'Expertise mécanique' %}
                                            <tr>
                                                <td>{{item2.travaux}}</td>
                                                <td>{{item2.heures}}</td>
                                            </tr>                                  
                                        {% endif %}
                                    {% endfor %}   
                                <!-- fin de l'Expertise mécanique --> 
                                
                                <!-- début de Remontage moteur -->
                                    {% set total_heures_rm = 0 %}
                                    {% set num1 = 0 %}
                                    {% for item2 in revue_enclenchement.ateliers %}
                                        {% if item2.operations == 'Remontage moteur' %}   
                                            {% set num1 = num1 + 1 %}
                                            {% set total_heures_rm = total_heures_rm + item2.heures %}                          
                                        {% endif %}
                                    {% endfor %}   
                                        <tr>
                                            <td rowspan="{{num1 + 1}}" class="table-secondary">Remontage moteur</td>
                                            <td></td>
                                            <td></td>
                                            <td class="text-center" rowspan="{{num1 + 1}}">{{total_heures_rm}}</td>
                                        </tr>
                                    {% for item2 in revue_enclenchement.ateliers %}
                                        {% if item2.operations == 'Remontage moteur' %}
                                            <tr>
                                                <td>{{item2.travaux}}</td>
                                                <td>{{item2.heures}}</td>
                                            </tr>                                  
                                        {% endif %}
                                    {% endfor %}   
                                <!-- fin de Remontage moteur -->

                                <!-- début de Autres -->
                                    {% set total_heures_au = 0 %}
                                    {% set num1 = 0 %}
                                    {% for item2 in revue_enclenchement.ateliers %}
                                        {% if item2.operations == 'Autres' %}   
                                            {% set num1 = num1 + 1 %}
                                            {% set total_heures_au = total_heures_au + item2.heures %}                          
                                        {% endif %}
                                    {% endfor %}   
                                        <tr>
                                            <td rowspan="{{num1 + 1}}" class="table-secondary ">Autres</td>
                                            <td></td>
                                            <td></td>
                                            <td class="text-center" rowspan="{{num1 + 1}}">{{total_heures_au}}</td>
                                        </tr>
                                    {% for item2 in revue_enclenchement.ateliers %}
                                        {% if item2.operations == 'Autres' %}
                                            <tr>
                                                <td>{{item2.travaux}}</td>
                                                <td>{{item2.heures}}</td>
                                                <td width="150" class="text-center"><a  href="{{path('delete_atelier', {'id' : item2.id})}}" class="btn btn-danger btn-sm"><i class="fa fa-trash-o fa-1x"></i></a></td>
                                            </tr>                                  
                                        {% endif %}
                                    {% endfor %}   
                                <!-- fin de Autres -->   
                                    <tr>
                                        <td colspan="3"></td>
                                        <td class="text-center">{{total_heures_dm + total_heures_len + total_heures_au + total_heures_rm + total_heures_em + total_heures_ee + total_heures_op}}</td>
                                    </tr>  
                            {% endif %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
  