<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bon Affectation</title>
</head>
<style>
table{
    width: 100%;
}
.table { 
    width: 100%; 
    border-collapse: collapse; 
    }    
.tr:nth-of-type(odd) { 
    background: #eee; 
    }

.th { 
    background: #0063AF; 
    color: white; 
    font-weight: bold; 
    text-align: center; 
}

.td, .th { 
    padding: 10px; 
    border: 1px solid #0063AF; 
    font-size: 12px;
    }
td{
    padding: 10px;
}
hr, .p{
    border-bottom: 3px solid #0063AF;
}
h2{
    text-align: center;
    text-transform: uppercase;
    font-size: x-large;
    font-family: serif;
    color: #0063AF;
}   
footer {
        position: fixed; 
        bottom: -60px; 
        left: 0px; 
        right: 0px;
        height: 100px; 
        text-align: center;
        line-height: 35px;
    }
footer:after {
    content:"Page " counter(page) " / " counter(pages);
    margin-left: 600px;
    position: fixed; 
    bottom: -80px; 
    left: 0px; 
    right: 0px;
    height: 100px; 
}

</style>
<body>
    <h2>Bon de Retour Affaire n° {{ retourAffectation.affectation}}</h2>
    <p class="p"></p>
    <div class="header">
        <table>
            <tr>
                <th style="text-align: left;">Nom affaire : </th>
                <td>{{ retourAffectation.affectation.affaire.nomAffaire }}</td>
                <th style="text-align: left;">Service Affectation : </th>
                <td>{{ retourAffectation.affectation.serviceAffectation }}</td>
            </tr>
            <tr>
                <th style="text-align: left;">Retour Saisie par  : </th>
                <td>{{ retourAffectation.retourSaisiePar }}</td>
                <th style="text-align: left;">Date Retour : </th>
                <td>{{ retourAffectation.dateSortie ? retourAffectation.dateSortie|date('d-m-Y') : '' }}</td>
            </tr>
        </table> 
    </div>
    <p class="p"></p>
    <div class="body">
        <table class="table">
            <thead>
                <tr  class="tr">
                    <th class="th" width="15%">Repère</th>
                    <th class="th" width="15%">Désignation</th>
                    <th class="th" width="15%">Type</th>
                    <th class="th" width="15%">Date Retour</th>
                    <th class="th" width="15%">Etat</th>
                    <th class="th" width="15%">Observation</th>
                </tr>
            </thead>
            <tbody> 
                {% for item in retourAffectation.affectation.laffectations %}
                    <tr> 
                        <td class="td">{{item.appareil}}</td>
                        <td class="td">{{item.designation}}</td>
                        <td class="td">{{item.type}}</td>
                        <td class="td">{{item.dateRetour ? item.dateRetour|date('d-m-Y') : '' }}</td>
                        <td class="td">{{item.etat}}</td> 
                        <td class="td">{{item.observation}}</td> 
                    </tr>                                        
                {% endfor %} 
            </tbody>
        </table>
    </div>
    <footer>
        <hr>
        <p>{{ "now" | date('d-m-Y') }}</p>
    </footer>
</body>
</html>