{% extends 'base.html.twig' %}

{% block title %}Affaire{% endblock %}

{% block body %}
<div class="">
    <div class="page-title">
        <div class="title_left"><h4>Remontage</h4></div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    {% if is_granted('ROLE_TECHNICIEN_ELECTRICIEN') or is_granted('ROLE_CHEF_PROJET') or is_granted('ROLE_LECTEUR') %}
                        {% if parametre.expertiseElectiqueAvantLavage == 1 %}
                            <a href="{{path('app_expertise_electrique_avant_lavage', {'id' : parametre.id })}}" class="btn btn-outline-success btn-sm">Exp. Elec Avant Lavage <i class="fa fa-check"></i></a>
                        {% else %}
                            <a href="{{path('app_expertise_electrique_avant_lavage', {'id' : parametre.id })}}" class="btn btn-outline-primary btn-sm">Exp. Elec Avant Lavage</a>
                        {% endif %}  
                    
                        {% if parametre.expertiseElectiqueApresLavage == 1 %}
                            <a href="{{path('app_expertise_electrique_apres_lavage', {'id' : parametre.id })}}" class="btn btn-outline-success btn-sm">Exp. Élec Après Lavage <i class="fa fa-check"></i></a>
                        {% else %}
                            <a href="{{path('app_expertise_electrique_apres_lavage', {'id' : parametre.id })}}" class="btn btn-outline-primary btn-sm">Exp. Élec Après Lavage</a>
                        {% endif %}                                                              
                    {% endif %}

                    {% if is_granted('ROLE_TECHNICIEN_MECANICIEN') or is_granted('ROLE_CHEF_PROJET') or is_granted('ROLE_LECTEUR') %}
                        {% if parametre.expertiseMecanique == 1 %}
                            <a href="{{path('app_expertise_mecanique', {'id' : parametre.id })}}" class="btn btn-outline-success btn-sm">Exp. Mécanique <i class="fa fa-check"></i></a>
                        {% else %}
                            <a href="{{path('app_expertise_mecanique', {'id' : parametre.id })}}" class="btn btn-outline-primary btn-sm">Exp. Mécanique</a>
                        {% endif %}
                    {% endif %}

                    {% if (parametre.expertiseElectiqueAvantLavage == 1) and (parametre.expertiseMecanique == 1) and (parametre.expertiseElectiqueApresLavage == 1) %}
                        <a href="{{path('app_constat_index', {'id' : parametre.id })}}" class="btn btn-outline-success btn-sm">Constats</a>
                    {% else %}
                            <a href="{{path('app_constat_index', {'id' : parametre.id })}}" class="btn btn-outline-primary btn-sm">Constats</a>
                    {% endif %}
                        
                    {% if (parametre.expertiseElectiqueAvantLavage == 1) and (parametre.expertiseMecanique == 1) and (parametre.expertiseElectiqueApresLavage == 1) %}          
                        {% if is_granted('ROLE_CHEF_PROJET') %}
                            {% if parametre.contreExpertise %}
                                <a href="{{path('app_contre_expertise', {'id' : parametre.id })}}" class="btn btn-outline-success btn-sm">Contre-Expertise <i class="fa fa-check"></i></a>
                            {% else %}
                                <a href="{{path('app_contre_expertise', {'id' : parametre.id })}}" class="btn btn-outline-primary btn-sm">Contre-Expertise</a>
                            {% endif %}
                        {% endif %}

                        {% if is_granted('ROLE_TECHNICIEN_MECANICIEN') or is_granted('ROLE_CHEF_PROJET') or is_granted('ROLE_LECTEUR') %}
                            <a href="{{path('app_remontage_index', {'id' : parametre.id })}}" class="btn btn-outline-secondary btn-sm">Remontage <i class="fa fa-check"></i></a>
                        {% endif %}
                        
                        {% if is_granted('ROLE_TECHNICIEN_ELECTRICIEN') or is_granted('ROLE_CHEF_PROJET') or is_granted('ROLE_LECTEUR') %}
                            {% if parametre.remontage == 1 %}
                                {% if parametre.essaisFinaux == 1 %}
                                    <a href="{{path('app_essais_finaux', {'id' : parametre.id })}}" class="btn btn-outline-success btn-sm">Essais Finaux<i class="fa fa-check"></i></a>
                                {% else %}
                                    <a href="{{path('app_essais_finaux', {'id' : parametre.id })}}" class="btn btn-outline-primary btn-sm">Essais Finaux</a>
                                {% endif %}                                
                            {% endif %}                                    
                        {% endif %}

                        {% if is_granted('ROLE_MAGASINIER') or is_granted('ROLE_CHEF_PROJET') %}
                            {% if parametre.phototheques | length > 1 %}
                                <a href="{{path('app_phototheque', {'id' : parametre.id })}}" class="btn btn-outline-success btn-sm">Photothèque après travaux <i class="fa fa-check"></i></a>
                            {% else %}
                                <a href="{{path('app_phototheque', {'id' : parametre.id })}}" class="btn btn-outline-primary btn-sm">Photothèque après travaux</a>
                            {% endif %} 
                        {% endif %}

                        {% if is_granted('ROLE_CHEF_PROJET') %}
                            {% if parametre.infoGenerale %}
                                <a href="{{path('app_info_generale', {'id' : parametre.id })}}" class="btn btn-outline-success btn-sm">Info Générale <i class="fa fa-check"></i></a>
                            {% else %}
                                <a href="{{path('app_info_generale', {'id' : parametre.id })}}" class="btn btn-outline-primary btn-sm">Info Générale</a>
                            {% endif %} 
                        {% endif %}

                    {% endif %}

                    <ul class="nav navbar-right panel_toolbox">
                        <a href="{{path('app_affaire_show', {'id' : parametre.affaire.id })}}" onclick="history.back();" class="btn btn-secondary btn-sm p-2">Retour<i class="fa fa-arrow-circle-left p-1"></i></a>
                    </ul>
                    <div class="clearfix"></div> 
                </div> 
            </div>
        </div>
    </div>  
    <!-- début contenu formulaire --> 
        <div class="row">
            <div class="col-md-12 col-sm-12 ">                  
                <!-- début Remontage paliers -->
                    <div class="x_panel"> 
                        <div class="x_title">
                            <div class="row">
                                <div class="col-md-4">
                                    <h2>Remontage paliers</h2>
                                </div>
                                <div class="col-md-4 text-center">
                                    {% if parametre.remontagePalier == null %}
                                        <a href="#" class="btn btn-secondary btn-sm">En attente <i class="fa fa-plus-circle"></i></a>
                                    {% else %}
                                        {% if parametre.remontagePalier.etat == 1 %}
                                            <a href="#" class="btn btn-success btn-sm">Terminé <i class="fa fa-check"></i></a>                                           
                                        {% else %}
                                            <a href="#" class="btn btn-danger btn-sm">En cours <i class="fa fa-circle-o"></i></a>   
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div class="col-md-2 text-right">
                                    {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CHEF_PROJET') or is_granted('ROLE_AGENT_MAITRISE') or is_granted('ROLE_VERIFICATEUR') or is_granted('ROLE_TECHNICIEN_ELECTRICIEN') or is_granted('ROLE_TECHNICIEN_MECANICIEN') %}
                                        {% if parametre.affaire.bloque != 1 %}
                                            <a class="btn btn-primary" href="{{path('app_remontage_palier', {'id' : parametre.id })}}"><i class="fa fa-plus-circle"></i></a>
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div class="col-md-2">
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li ><a class="collapse-link" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" href="#collapse1"><i class="fa fa-chevron-up"></i></a></li>
                                    </ul>                                                
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content collapse" id="collapse1">
                            <div class="row">
                                {% if parametre.remontagePalier %}
                                    <div class="col-md-12">
                                        <table class="table table-bordered">
                                            <tr class="table-secondary text-center">
                                                <th rowspan="2">Rep</th>
                                                <th rowspan="2">Désignation Piéces</th>
                                                <th colspan="2">Cotes relevées</th>
                                            </tr>
                                            <tr class="table-secondary text-center">
                                                <th>CA</th>
                                                <th>COA</th>
                                            </tr>
                                            <tr>
                                                <td>A</td>
                                                <td>Moyeu Palier</td>
                                                <td>{{ parametre.remontagePalier.caa }}</td>
                                                <td>{{ parametre.remontagePalier.coaa }}</td>
                                            </tr>
                                            <tr>
                                                <td>B</td>
                                                <td>Emboîtage C-Rlt extérieur</td>
                                                <td>{{ parametre.remontagePalier.cab }}</td>
                                                <td>{{ parametre.remontagePalier.coab }}</td>
                                            </tr>
                                            <tr>
                                                <td>C</td>
                                                <td>Roulement</td>
                                                <td>{{ parametre.remontagePalier.cac }}</td>
                                                <td>{{ parametre.remontagePalier.coac }}</td>
                                            </tr>
                                            <tr>
                                                <td>D</td>
                                                <td>Emboîtage C-Rlt intérieur</td>
                                                <td>{{ parametre.remontagePalier.cad }}</td>
                                                <td>{{ parametre.remontagePalier.coad }}</td>
                                            </tr>
                                            <tr>
                                                <td>Jeu</td>
                                                <td>Jeu axial</td>
                                                {% if parametre.remontagePalier %}
                                                    <td>{{ parametre.remontagePalier.caJeu }}</td>
                                                    <td>{{ parametre.remontagePalier.coaJeu }}</td>
                                                {% endif %}
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td>Roulement</td>
                                                <td>{{ parametre.remontagePalier.caRoulement }}</td>
                                                <td>{{ parametre.remontagePalier.coaRoulement }}</td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td class="table-secondary">Type de graisse</td>
                                                <td class="table-secondary" colspan="2">{{ parametre.remontagePalier.typeGraisse}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>  
                <!-- /fin Remontage paliers -->  

                <!-- début Equilibrage -->
                    <div class="x_panel"> 
                        <div class="x_title">
                            <div class="row">
                                <div class="col-md-4">
                                    <h2>Equilibrage</h2>
                                </div>
                                <div class="col-md-4 text-center">
                                    {% if parametre.remontageEquilibrage == null %}
                                        <a href="#" class="btn btn-secondary btn-sm">En attente <i class="fa fa-plus-circle"></i></a>
                                    {% else %}
                                        {% if parametre.remontageEquilibrage.etat == 1 %}
                                            <a href="#" class="btn btn-success btn-sm">Terminé <i class="fa fa-check"></i></a>                                           
                                        {% else %}
                                            <a href="#" class="btn btn-danger btn-sm">En cours <i class="fa fa-circle-o"></i></a>   
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div class="col-md-2 text-right">
                                    {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CHEF_PROJET') or is_granted('ROLE_AGENT_MAITRISE') or is_granted('ROLE_VERIFICATEUR') or is_granted('ROLE_TECHNICIEN_ELECTRICIEN') or is_granted('ROLE_TECHNICIEN_MECANICIEN') %}
                                        {% if parametre.affaire.bloque != 1 %}
                                            <a class="btn btn-primary" href="{{path('app_equilibrage', {'id' : parametre.id })}}"><i class="fa fa-plus-circle"></i></a>
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div class="col-md-2">
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li ><a class="collapse-link" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" href="#collapse2"><i class="fa fa-chevron-up"></i></a></li>
                                    </ul>                                                
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content collapse" id="collapse2">
                            {% if parametre.remontageEquilibrage %}
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table table-bordered">
                                            <tr class="table-secondary text-center">
                                                <th colspan="7">Données techniques d'entrée</th>
                                            </tr>
                                            <tr class="text-center">
                                                <td width="10%">Vitesse</td>
                                                <td>{{ parametre.remontageEquilibrage.vitesse}}</td>
                                                <td width="4%">Tr/min</td>
                                                <td class="table-secondary"></td>
                                                <td class="table-secondary">Entiére</td>
                                                <td class="table-secondary">1/2</td>
                                                <td class="table-secondary">Sans</td>
                                            </tr>
                                            <tr class="text-center">
                                                <td>Poids rotor</td>
                                                <td>{{ parametre.remontageEquilibrage.poidsrotor}}</td>
                                                <td>Kg</td>
                                                <td class="table-secondary">Clavatte</td>
                                                <td>{{ parametre.remontageEquilibrage.clavetteEntiere}}</td>
                                                <td>{{ parametre.remontageEquilibrage.clavette12}}</td>
                                                <td>{{ parametre.remontageEquilibrage.clavetteSans}}</td> 
                                            </tr>
                                            <tr class="text-center">
                                                <td>Vitesse d'équilibrage</td>
                                                <td>{{ parametre.remontageEquilibrage.vitesseEquilibrage}}</td>
                                                <td>Tr/min</td>
                                                <td class="table-secondary">Correction</td>
                                                <td colspan="3">{{ parametre.remontageEquilibrage.correction}}</td>
                                            </tr>
                                            <tr class="text-center">
                                                <td>Nb de plan d'équilibrage</td>
                                                <td>{{ parametre.remontageEquilibrage.nbPlan}}</td>
                                            </tr>
                                            <tr class="text-center">
                                                <td>Qualité d'équilibrage</td>
                                                <td>{{ parametre.remontageEquilibrage.qualiteEquilibrage}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table table-bordered">
                                            <tr class="table-secondary text-center">
                                                <th rowspan="2"></th>
                                                <th colspan="2">Sans ventilateur</th>
                                                <th colspan="2">Avec ventilateur</th>
                                            </tr>
                                            <tr class="text-center">
                                                <th class="table-secondary">Plan CA</th>
                                                <th class="table-secondary">Plan COA</th>
                                                <th class="table-secondary">Plan CA</th>
                                                <th class="table-secondary">Plan COA</th>
                                            </tr>
                                            <tr class="text-center">
                                                <td>Rayon d'équilibrage (mm)</td>
                                                <td>{{ parametre.remontageEquilibrage.sansPlanCa1}}</td>
                                                <td>{{ parametre.remontageEquilibrage.sansPlanCoa1}}</td>
                                                <td>{{ parametre.remontageEquilibrage.avecPlanCa1}}</td>
                                                <td>{{ parametre.remontageEquilibrage.avecPlanCoa1}}</td>
                                            </tr>
                                            <tr class="text-center">
                                                <td>Balourd initial (en g)</td>
                                                <td>{{ parametre.remontageEquilibrage.sansPlanCa2}}</td>
                                                <td>{{ parametre.remontageEquilibrage.sansPlanCoa2}}</td>
                                                <td>{{ parametre.remontageEquilibrage.avecPlanCa2}}</td>
                                                <td>{{ parametre.remontageEquilibrage.avecPlanCoa2}}</td>
                                            </tr>
                                            <tr class="text-center">
                                                <td>Angle balourd initial (dégrés)</td>
                                                <td>{{ parametre.remontageEquilibrage.sansPlanCa3}}</td>
                                                <td>{{ parametre.remontageEquilibrage.sansPlanCoa3}}</td>
                                                <td>{{ parametre.remontageEquilibrage.avecPlanCa3}}</td>
                                                <td>{{ parametre.remontageEquilibrage.avecPlanCoa3}}</td>
                                            </tr>
                                            <tr class="text-center">
                                                <td>Balourd résiduel admissible</td>
                                                <td>{{ parametre.remontageEquilibrage.sansPlanCa4}}</td>
                                                <td>{{ parametre.remontageEquilibrage.sansPlanCoa4}}</td>
                                                <td>{{ parametre.remontageEquilibrage.avecPlanCa4}}</td>
                                                <td>{{ parametre.remontageEquilibrage.avecPlanCoa4}}</td>
                                            </tr>
                                            <tr class="text-center">
                                                <td>Balourd Résiduel</td>
                                                <td>{{ parametre.remontageEquilibrage.sansPlanCa5}}</td>
                                                <td>{{ parametre.remontageEquilibrage.sansPlanCoa5}}</td>
                                                <td>{{ parametre.remontageEquilibrage.avecPlanCa5}}</td>
                                                <td>{{ parametre.remontageEquilibrage.avecPlanCoa5}}</td>
                                            </tr>
                                            <tr class="text-center">
                                                <td>Angle balourd résiduel</td>
                                                <td>{{ parametre.remontageEquilibrage.sansPlanCa6 }}</td>
                                                <td>{{ parametre.remontageEquilibrage.sansPlanCoa6 }}</td>
                                                <td>{{ parametre.remontageEquilibrage.avecPlanCa6 }}</td>
                                                <td>{{ parametre.remontageEquilibrage.avecPlanCoa6 }}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>  
                <!-- /fin Equilibrage -->   
                      
                <!-- début Remontage et finitions -->
                    <div class="x_panel"> 
                        <div class="x_title">
                            <div class="row">
                                <div class="col-md-4">
                                    <h2>Remontage et finitions</h2>
                                </div>
                                <div class="col-md-4 text-center">
                                    {% if parametre.remontageFinition == null %}
                                        <a href="#" class="btn btn-secondary btn-sm">En attente <i class="fa fa-plus-circle"></i></a>
                                    {% else %}
                                        {% if parametre.remontageFinition.etat == 1 %}
                                            <a href="#" class="btn btn-success btn-sm">Terminé <i class="fa fa-check"></i></a>                                           
                                        {% else %}
                                            <a href="#" class="btn btn-danger btn-sm">En cours <i class="fa fa-circle-o"></i></a>   
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div class="col-md-2 text-right">
                                    {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CHEF_PROJET') or is_granted('ROLE_AGENT_MAITRISE') or is_granted('ROLE_VERIFICATEUR') or is_granted('ROLE_TECHNICIEN_ELECTRICIEN') or is_granted('ROLE_TECHNICIEN_MECANICIEN') %}
                                        {% if parametre.affaire.bloque != 1 %}
                                            <a class="btn btn-primary" href="{{path('app_remontage_finition', {'id' : parametre.id })}}"><i class="fa fa-plus-circle"></i></a>
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div class="col-md-2">
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li ><a class="collapse-link" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" href="#collapse3"><i class="fa fa-chevron-up"></i></a></li>
                                    </ul>                                                
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content collapse" id="collapse3">
                            <div class="row">
                                {% if parametre.remontageFinition %}
                                    <div class="col-md-6">
                                        <table class="table table-bordered">
                                            <tr  class="table-secondary">
                                                <th>Carcasse</th>
                                                <th width="20%">Contôles</th>
                                            </tr>
                                            <tr>
                                                <td>Vérifier la bonne position des paliers par rapport à la carcasse</td>
                                                <td>{{ parametre.remontageFinition.controleCarcasse}}</td>
                                            </tr>
                                            <tr  class="table-secondary">
                                                <th colspan="2">Câblage et Boîte à bornes</th>
                                            </tr>
                                            <tr>
                                                <td>Etamage des plages de raccordement au réseau</td>
                                                <td>{{ parametre.remontageFinition.controleCablage1}}</td>
                                            </tr>
                                            <tr>
                                                <td>Serrage des connexions et de la barre de neutre</td>
                                                <td>{{ parametre.remontageFinition.controleCablage2}}</td>
                                            </tr>
                                            <tr>
                                                <td>Marquage unitaire des phases, pose des logo</td>
                                                <td>{{ parametre.remontageFinition.controleCablage3}}</td>
                                            </tr>
                                            <tr>
                                                <td>Présence et efficacité des liaisons équipotentielles (absence de tout isolant)</td>
                                                <td>{{ parametre.remontageFinition.controleCablage4}}</td>
                                            </tr>
                                            <tr  class="table-secondary">
                                                <th colspan="2">Sondes</th>
                                            </tr>
                                            <tr>
                                                <td>Vérification de la boîte à sondes (repérage, plans et maintien des connexions)</td>
                                                <td>{{ parametre.remontageFinition.controleSonde1}}</td>
                                            </tr>
                                            <tr>
                                                <td>Passage des sondes paliers non obturé</td>
                                                <td>{{ parametre.remontageFinition.controleSonde2}}</td>
                                            </tr>
                                            <tr>
                                                <td>Vérification du nombre et de la mise en place des sondes</td>
                                                <td>{{ parametre.remontageFinition.controleSonde3}}</td>
                                            </tr>
                                            <tr  class="table-secondary">
                                                <th colspan="2">Arbre</th>
                                            </tr>
                                            <tr>
                                                <td>Absence de point dur et de frottement lors de la rotation mécanique de l’arbre</td>
                                                <td>{{ parametre.remontageFinition.controleArbre1}}</td>
                                            </tr>
                                            <tr>
                                                <td>Présence de l'accouplement</td>
                                                <td>{{ parametre.remontageFinition.controleArbre2}}</td>
                                            </tr>
                                            <tr  class="table-secondary">
                                                <th colspan="2">Général</th>
                                            </tr>
                                            <tr>
                                                <td>Propreté du plan de pose ou plans d’attache du moteur</td>
                                                <td>{{ parametre.remontageFinition.controleGeneral1}}</td>
                                            </tr>
                                            <tr>
                                                <td>Vérification du freinage mécanique des vis</td>
                                                <td>{{ parametre.remontageFinition.controleGeneral2}}</td>
                                            </tr>
                                            <tr>
                                                <td>Vérification de la compression des joints, de l'étanchéité des paliers et tuyauterie.</td>
                                                <td>{{ parametre.remontageFinition.controleGeneral3}}</td>
                                            </tr>
                                            <tr>
                                                <td>Référence de la graisse des roulements</td>
                                                <td>{{ parametre.remontageFinition.controleGeneral4}}</td>
                                            </tr>
                                            <tr>
                                                <td>Vérification référence roulements montés (étiquettes des boîtes)</td>
                                                <td>{{ parametre.remontageFinition.controleGeneral5}}</td>
                                            </tr>
                                            <tr>
                                                <td>Vérification huile + coussinets</td>
                                                <td>{{ parametre.remontageFinition.controleGeneral6}}</td>
                                            </tr>
                                            <tr>
                                                <td>Aspect des pistes – absence de choc</td>
                                                <td>{{ parametre.remontageFinition.controleGeneral7}}</td>
                                            </tr>
                                            <tr>
                                                <td>Absence de poussière dans la chambre collecteur bagues</td>
                                                <td>{{ parametre.remontageFinition.controleGeneral8}}</td>
                                            </tr>
                                            <tr>
                                                <td>Repérage de la ligne neutre</td>
                                                <td>{{ parametre.remontageFinition.controleGeneral9}}</td>
                                            </tr>
                                            <tr>
                                                <td>Pré-rodage complet des balais</td>
                                                <td>{{ parametre.remontageFinition.controleGeneral10}}</td>
                                            </tr>
                                            <tr>
                                                <td>Vérifier position des cages / pistes et présence des amortisseurs</td>
                                                <td>{{ parametre.remontageFinition.controleGeneral11}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-md-6">
                                        <table class="table table-bordered">
                                            <tr  class="table-secondary">
                                                <th>Carcasse</th>
                                                <th width="20%">Contôles</th>
                                            </tr>
                                            <tr>
                                                <td>Vérifier le freinage des vis et la présence des rondelles sur l’ensemble de la machine</td>
                                                <td>{{ parametre.remontageFinition.controleCarcasse2}}</td>
                                            </tr>
                                            <tr  class="table-secondary">
                                                <th colspan="2">Câblage et Boîte à bornes</th>
                                            </tr>
                                            <tr>
                                                <td>Propreté de l’intérieur de la boîte et présence des joints en état</td>
                                                <td>{{ parametre.remontageFinition.controleCablage21}}</td>
                                            </tr>
                                            <tr  class="table-secondary">
                                                <th colspan="2">Sondes</th>
                                            </tr>
                                            <tr>
                                                <td>Propreté de l’intérieur de la boîte et présence des joints en état</td>
                                                <td>{{ parametre.remontageFinition.controleSonde21}}</td>
                                            </tr>
                                            <tr  class="table-secondary">
                                                <th colspan="2">Arbre</th>
                                            </tr>
                                            <tr>
                                                <td>Propreté de l'arbre</td>
                                                <td>{{ parametre.remontageFinition.controleArbre21}}</td>
                                            </tr>
                                            <tr>
                                                <td>Présence de protection sur l’arbre et blocage de l’arbre</td>
                                                <td>{{ parametre.remontageFinition.controleArbre22}}</td>
                                            </tr>
                                            <tr>
                                                <td>Présence de l'accouplement</td>
                                                <td>{{ parametre.remontageFinition.controleArbre23}}</td>
                                            </tr>
                                            <tr  class="table-secondary">
                                                <th colspan="2">Général</th>
                                            </tr>
                                            <tr>
                                                <td>Aspect général de la peinture et présence de peinture sur la visserie</td>
                                                <td>{{ parametre.remontageFinition.controleGeneral21}}</td>
                                            </tr>
                                            <tr>
                                                <td>Absence graisse dans les bacs de récupération</td>
                                                <td>{{ parametre.remontageFinition.controleGeneral22}}</td>
                                            </tr>
                                            <tr>
                                                <td>Absence de graisse, copeaux au niveau des paliers à l’intérieur de la machine</td>
                                                <td>{{ parametre.remontageFinition.controleGeneral23}}</td>
                                            </tr>
                                            <tr>
                                                <td>Protection des graisseurs</td>
                                                <td>{{ parametre.remontageFinition.controleGeneral24}}</td>
                                            </tr>
                                            <tr>
                                                <td>Trous de goupillage non obturés</td>
                                                <td>{{ parametre.remontageFinition.controleGeneral25}}</td>
                                            </tr>
                                            <tr>
                                                <td>Présence de bouchons d’obturation et de filtres à l’état neuf</td>
                                                <td>{{ parametre.remontageFinition.controleGeneral26}}</td>
                                            </tr>
                                            <tr>
                                                <td>Présence de la visserie pour le raccordement sur site</td>
                                                <td>{{ parametre.remontageFinition.controleGeneral27}}</td>
                                            </tr>
                                            <tr>
                                                <td>Présence et efficacité des liaisons équipotentielles (absence de tout isolant)</td>
                                                <td>{{ parametre.remontageFinition.controleGeneral28}}</td>
                                            </tr>
                                            <tr  class="table-secondary">
                                                <th colspan="2">Plaques</th>
                                            </tr>
                                            <tr>
                                                <td>Présence des plaques de masse</td>
                                                <td>{{ parametre.remontageFinition.controlePlaque1}}</td>
                                            </tr>
                                            <tr>
                                                <td>Vérification plaque de firme</td>
                                                <td>{{ parametre.remontageFinition.controlePlaque2}}</td>
                                            </tr>
                                            <tr>
                                                <td>Présence de la plaque de graissage et nouveaux roulements</td>
                                                <td>{{ parametre.remontageFinition.controlePlaque3}}</td>
                                            </tr>
                                            <tr>
                                                <td>Mettre étiquette «Ne pas oublier de remplir d'huile avant démarrage»</td>
                                                <td>{{ parametre.remontageFinition.controlePlaque4}}</td>
                                            </tr>
                                            <tr>
                                                <td>Repérage de la ligne neutre</td>
                                                <td>{{ parametre.remontageFinition.controlePlaque5}}</td>
                                            </tr>
                                        </table>
                                    </div> 
                                {% endif %}
                            </div>
                        </div>
                    </div>  
                <!-- /fin Remontage et finitions -->  

                <!-- début photo -->
                    <div class="x_panel"> 
                        <div class="x_title">
                            <div class="row">
                                <div class="col-md-4">
                                    <h2>Photos</h2>
                                </div>
                                <div class="col-md-4 text-center">
                                    {% if parametre.remontagePhotos| length != null %}
                                        <a href="#" class="btn btn-success btn-sm">Terminé <i class="fa fa-check"></i></a> 
                                    {% else %}
                                        <a href="" class="btn btn-secondary btn-sm">En attente <i class="fa fa-plus-circle"></i></a>
                                    {% endif %}
                                </div>
                                <div class="col-md-2 text-right">
                                    {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CHEF_PROJET') or is_granted('ROLE_AGENT_MAITRISE') or is_granted('ROLE_VERIFICATEUR') or is_granted('ROLE_TECHNICIEN_ELECTRICIEN') or is_granted('ROLE_TECHNICIEN_MECANICIEN') %}
                                        {% if parametre.affaire.bloque != 1 %}
                                            <a class="btn btn-primary" href="{{path('app_photo_remontage', {'id' : parametre.id })}}"><i class="fa fa-plus-circle"></i></a>
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div class="col-md-2">
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li ><a class="collapse-link" data-toggle="collapse" aria-expanded="false" href="#collapse8"><i class="fa fa-chevron-up"></i></a></li>
                                    </ul>                                                
                                </div>
                            </div>
                            <div class="row">
                                {% for flash_message in app.session.flashbag.get('message') %}
                                    <div class="container alert alert-danger p-2 ml-5 mr-5 mt-2" role="alert">
                                        {{ flash_message }}
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content collapse" id="collapse8">
                            <div class="row">
                                {% if parametre.remontagePhotos %}
                                    <table class="table table-bordered">
                                        <tr  class="table-secondary">
                                            <th>Libelle</th>
                                            <th width="150">Image</th>
                                            <th width="20"></th>
                                        </tr>
                                        {% for item in parametre.remontagePhotos %}
                                            <tr>
                                                <td>{{item.libelle}}</td>
                                                <td class="image"><img class="p-2" src="{{asset('/photo_remontages/'~ item.image)}}" height="80"></td>
                                                <td><a href="{{path('delete_photo_remontage', {'id' : item.id })}}" onclick="return confirm('Voulez-vous valider ?')"><i class="fa fa-trash fa-2x text-danger"></i></a></td>
                                            </tr>
                                        {% endfor %} 
                                    </table>                                        
                                {% endif %}
                            </div>
                        </div>
                    </div>
                <!-- /fin photo -->
                    
                 <!-- début bouton -->
                    {% if is_granted('ROLE_SUPER_ADMIN')  or is_granted('ROLE_VERIFICATEUR') or is_granted('ROLE_AGENT_MAITRISE') %}
                        <div class="x_panel"> 
                            <div class="x_content">
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <a href="{{path('valider_remontage', {'id' : parametre.id })}}" class="btn btn-danger btn-sm text-uppercase" onclick="return confirm('Voulez-vous vraiment valider ?')">Validation du Rapport final<i class="fa fa-check-circle p-2"></i></a>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    {% endif %}
                <!-- /fin bouton -->
            </div>
        </div>                    
    <!-- /fin contenu du formulaire--> 
</div>
</div>
{% endblock %}
