{% extends 'base.html.twig' %}
{% block title %}Affaire{% endblock %}

{% block body %}
<div class="">
    <div class="page-title">
        <div class="title_left"><h4>Remontage paliers</h4>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">     
                    <ul class="nav navbar-right panel_toolbox">
                        <a href="{{path('app_remontage_index',{'id' : parametre.id})}}" class="btn btn-secondary btn-sm p-2">Retour<i class="fa fa-arrow-circle-left p-1"></i></a>
                    </ul>
                    <div class="clearfix"></div> 
                </div>
                <div class="x_content">
                    {{ form_start(formRemontagePalier) }}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="item form-group">
                                    <table class="table table-bordered">
                                        <tr class="table-secondary text-center">
                                            <th rowspan="2">Rep</th>
                                            <th rowspan="2">Désignation Piéces</th>
                                            <th colspan="2">Cotes relevées</th>
                                        </tr>
                                        <tr class="table-secondary text-center">
                                            <th>CA</th>
                                            <th>COA</th>
                                        </tr>
                                        <tr>
                                            <td>A</td>
                                            <td>Moyeu Palier</td>
                                            <td>{{ form_widget(formRemontagePalier.caa) }}</td>
                                            <td>{{ form_widget(formRemontagePalier.coaa) }}</td>
                                        </tr>
                                        <tr> 
                                            <td>B</td>
                                            <td>Emboîtage C-Rlt extérieur</td>
                                            <td>{{ form_widget(formRemontagePalier.cab) }}</td>
                                            <td>{{ form_widget(formRemontagePalier.coab) }}</td>
                                        </tr>
                                        <tr>
                                            <td>C</td>
                                            <td>Roulement</td>
                                            <td>{{ form_widget(formRemontagePalier.cac) }}</td>
                                            <td>{{ form_widget(formRemontagePalier.coac) }}</td>
                                        </tr>
                                        <tr>
                                            <td>D</td>
                                            <td>Emboîtage C-Rlt intérieur</td>
                                            <td>{{ form_widget(formRemontagePalier.cad) }}</td>
                                            <td>{{ form_widget(formRemontagePalier.coad) }}</td>
                                        </tr>
                                        <tr>
                                            <td>Jeu</td>
                                            <td>Jeu axial</td>
                                            <td>{{ form_widget(formRemontagePalier.ca_jeu) }}</td>
                                            <td>{{ form_widget(formRemontagePalier.coa_jeu) }}</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>Roulement</td>
                                            <td>{{ form_widget(formRemontagePalier.ca_roulement) }}</td>
                                            <td>{{ form_widget(formRemontagePalier.coa_roulement) }}</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td class="table-secondary">Type de graisse</td>
                                            <td class="table-secondary" colspan="2">{{ form_widget(formRemontagePalier.type_graisse) }}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 text-left">
                                <button class="btn btn-secondary btn-sm" name="bouton1" value="remontage_palier_en_cours"> En cours <i class="fa fa-save"></i></button>
                            </div>
                            <div class="col-md-6 text-right">
                                <button class="btn btn-success btn-sm" name="bouton1" value="remontage_palier_terminer"> Terminer <i class="fa fa-save"></i></button>
                            </div>
                        </div>
                    {{ form_end(formRemontagePalier) }}
                </div>
            </div>
        </div>
    </div> 
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        function updateSumField() 
        {

            let caa = parseFloat(document.getElementById('remontage_palier_caa').value);
            let cab = parseFloat(document.getElementById('remontage_palier_cab').value);
            let cac = parseFloat(document.getElementById('remontage_palier_cac').value);
            let cad = parseFloat(document.getElementById('remontage_palier_cad').value);

            let coaa = parseFloat(document.getElementById('remontage_palier_coaa').value);
            let coab = parseFloat(document.getElementById('remontage_palier_coab').value);
            let coac = parseFloat(document.getElementById('remontage_palier_coac').value);
            let coad = parseFloat(document.getElementById('remontage_palier_coad').value);
            
            const som_jeu_ca = document.getElementById('remontage_palier_ca_jeu');
            const som_jeu_coa = document.getElementById('remontage_palier_coa_jeu');

            const valeur1 = caa + cab + cac + cad;
            valeurFinale = valeur1.toFixed(2);
            som_jeu_ca.value = isNaN(valeurFinale) ? '' : (valeurFinale);

            const valeur2 = coaa + coab + coac + coad;
            valeurFinale = valeur2.toFixed(2);
            som_jeu_coa.value = isNaN(valeurFinale) ? '' : (valeurFinale);

        }

        document.getElementById('remontage_palier_caa').addEventListener('input', updateSumField);
        document.getElementById('remontage_palier_cab').addEventListener('input', updateSumField);
        document.getElementById('remontage_palier_cac').addEventListener('input', updateSumField);
        document.getElementById('remontage_palier_cad').addEventListener('input', updateSumField);

        document.getElementById('remontage_palier_coaa').addEventListener('input', updateSumField);
        document.getElementById('remontage_palier_coab').addEventListener('input', updateSumField);
        document.getElementById('remontage_palier_coac').addEventListener('input', updateSumField);
        document.getElementById('remontage_palier_coad').addEventListener('input', updateSumField);
    });
</script>
{% endblock %}
