{% extends 'base.html.twig' %}

{% block title %}Affaire index{% endblock %}

{% block body %}
<style>
	/* Ajouter une animation de clignotement */
	@keyframes clignotement {
		0% {
			opacity: 1;
		}
		50% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

	/* Appliquer l'animation au bouton */
	.clignotant {
		animation: clignotement 1s infinite;
	}
</style>
<div class="page-title">
    <div class="title_left">
    <h3>Gestion Affaires</h3>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
            <h2>Listes des affaires</h2>
            <div class="clearfix"></div>
            </div>
            <div class="x_content">
            <div class="row">
                <div class="col-sm-12">
                <div class="card-box table-responsive">
                    <table id="datatable" class="table table-hover table-striped table-bordered table-sm" style="width:100%">
                        <thead class="table-secondary" cellspacing="0">
                            <tr class="text-center">
                                <th width="2">N°</th>
                                <th>N° Affaire JE</th>
                                <th>Nom Client</th>
                                <th>Type Machine</th>
                                {#<th>Machine</th>#}
                                <th>Suivi Par</th>
                                <th>Reunion Enc</th>
                                <th>Date d'arrivée</th>
                                <th>Expertise Electrique Avant lavage</th>
                                <th>Expertise Méca</th>
                                <th>Expertise Electrique Après lavage</th>
                                <th>Validation Rapport Expertise</th>
                                <th>Remontage</th>
                                <th>Fin Essais Finaux</th>
                                <th>Validation Rapport Final</th>
                                <th>Date livraison</th>
                                <th width="50" class="text-center"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% set i = 0 %}
                        {% for affaire in affaires %}
                            {% for item in affaire.parametres %}
                                {% set i = i + 1 %}
                                
									<tr>
										<td>{{i}}</td>
										<td>{{ item.affaire.numAffaire }}</td>
										<td>{{ item.affaire.client }}</td>
										<td>{{ item.type }}</td>
										{#<td>{{ item.machine }}</td>#}
										<td>{{ item.affaire.suiviPar }}</td>
										{% if item.affaire.revueEnclenchements|length != 0 %}
											<td class="text-center text-success">ok</td>
										{% else %}
											<td class="text-center text-danger">Non OK</td>
										{% endif %}
										<td>{{ item.dateArrivee ? item.dateArrivee|date('d-m-Y') : '' }}</td>
										{% if item.affaire.revueEnclenchements|length == 0 %}
											<td class="text-center">
												<i class="fa fa-circle fa-10x black"></i>
											</td>
										{% elseif item.expertiseElectiqueAvantLavage == 1 %}
											<td class="text-center">
												<i class="fa fa-circle fa-10x green"></i>
											</td>
										{% elseif item.expertiseElectiqueAvantLavage == 0 %}
											<td class="text-center">
												<i class="fa fa-circle fa-10x red clignotant"></i>
											</td>
										{% endif %}

										{% if item.affaire.revueEnclenchements|length == 0 %}
											<td class="text-center">
												<i class="fa fa-circle fa-10x black"></i>
											</td>
										{% elseif item.expertiseMecanique == 1 %}
											<td class="text-center">
												<i class="fa fa-circle fa-10x green"></i>
											</td>
										{% elseif item.expertiseMecanique == 0 %}
											<td class="text-center">
												<i class="fa fa-circle fa-10x red clignotant"></i>
											</td>
										{% endif %}

										{% if item.affaire.revueEnclenchements|length == 0 %}
											<td class="text-center">
												<i class="fa fa-circle fa-10x black"></i>
											</td>
										{% elseif item.expertiseElectiqueApresLavage == 1 %}
											<td class="text-center">
												<i class="fa fa-circle fa-10x green"></i>
											</td>
										{% elseif item.expertiseElectiqueApresLavage == 0 %}
											<td class="text-center">
												<i class="fa fa-circle fa-10x red clignotant"></i>
											</td>
										{% endif %}
										{% if item.expertiseElectiqueApresLavage == 0 or item.expertiseElectiqueAvantLavage == 0 or item.expertiseMecanique == 0 %}
											<td class="text-center">
												<i class="fa fa-circle fa-10x black"></i>
											</td>
										{% elseif item.statut == 1 %}
											<td class="text-center">
												<i class="fa fa-circle fa-10x green"></i>
											</td>
										{% elseif item.statut == 0 %}
											<td class="text-center">
												<i class="fa fa-circle fa-10x red clignotant"></i>
											</td>
										{% endif %}
										{% if item.remontage == 1 %}
											<td class="text-center">
												<i class="fa fa-circle fa-10x green"></i>
											</td>
										{% elseif item.statut == 0 %}
											<td class="text-center">
												<i class="fa fa-circle fa-10x black"></i>
											</td>
										{% elseif item.remontage == 0 %}
											<td class="text-center">
												<i class="fa fa-circle fa-10x red clignotant"></i>
											</td>
										{% endif %}
										{% if item.essaisFinaux == 1 %}
											<td class="text-center">
												<i class="fa fa-circle fa-10x green"></i>
											</td>
										{% elseif item.remontage == 0 %}
											<td class="text-center">
												<i class="fa fa-circle fa-10x black"></i>
											</td>
										{% else %}
											<td class="text-center">
												<i class="fa fa-circle fa-10x red clignotant"></i>
											</td>
										{% endif %}

										{% if item.statutFinal == 1 and item.statut == 1 %}
											<td class="text-center">
												<i class="fa fa-circle fa-10x green"></i>
											</td>
										{% elseif item.statut == 0 %}
											<td class="text-center">
												<i class="fa fa-circle fa-10x black"></i>
											</td>
										{% else %}
											<td class="text-center">
												<i class="fa fa-circle fa-10x red clignotant"></i>
											</td>
										{% endif %}
                                        <td>{{ item.affaire.dateLivraison ? item.affaire.dateLivraison|date('d-m-Y') : '' }}</td>
                                        <td class="text-center">
                                        <a href="{{path('app_affaire_show', {'id' : item.affaire.id })}}" class="btn btn-outline-info btn-sm"><i class="fa fa-eye fa-1x"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="13">Pas d'affaire dans le système</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
