{% extends 'base.html.twig' %}

{% block title %}Parametre index{% endblock %}

{% block body %}
    <h1>Parametre index</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type_machine</th>
                <th>Puissance</th>
                <th>Montage</th>
                <th>Fabricant</th>
                <th>Presence_balais</th>
                <th>Vitesse</th>
                <th>Masse</th>
                <th>Type_palier</th>
                <th>Presence_balais_masse</th>
                <th>Stator_tension</th>
                <th>Stator_frequence</th>
                <th>Stator_courant</th>
                <th>Stator_couplage</th>
                <th>Date_arrivee</th>
                <th>Rotor_tension</th>
                <th>Rotor_expertise_refrigeant</th>
                <th>Rotor_courant</th>
                <th>Presence_plans</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for parametre in parametres %}
            <tr>
                <td>{{ parametre.id }}</td>
                <td>{{ parametre.typeMachine }}</td>
                <td>{{ parametre.puissance }}</td>
                <td>{{ parametre.montage }}</td>
                <td>{{ parametre.fabricant }}</td>
                <td>{{ parametre.presenceBalais ? 'Oui' : 'Non' }}</td>
                <td>{{ parametre.vitesse }}</td>
                <td>{{ parametre.masse }}</td>
                <td>{{ parametre.typePalier }}</td>
                <td>{{ parametre.presenceBalaisMasse ? 'Oui' : 'Non' }}</td>
                <td>{{ parametre.statorTension }}</td>
                <td>{{ parametre.statorFrequence }}</td>
                <td>{{ parametre.statorCourant }}</td>
                <td>{{ parametre.statorCouplage }}</td>
                <td>{{ parametre.dateArrivee ? parametre.dateArrivee|date('Y-m-d') : '' }}</td>
                <td>{{ parametre.rotorTension }}</td>
                <td>{{ parametre.rotorExpertiseRefrigeant }}</td>
                <td>{{ parametre.rotorCourant }}</td>
                <td>{{ parametre.presencePlans ? 'Oui' : 'Non' }}</td>
                <td>
                    <a href="{{ path('app_parametre_show', {'id': parametre.id}) }}">show</a>
                    <a href="{{ path('app_parametre_edit', {'id': parametre.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="20">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_parametre_new') }}">Create new</a>
{% endblock %}
