{% extends 'base.html.twig' %}

{% block title %}Affaire{% endblock %}

{% block body %}
    <div class="">
        <div class="page-title">
            <div class="title_left"><h3>Expertise du projet</h3>
            </div>
        </div>
        <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12">
                    <div class="x_panel">
                        <div class="x_title">
                            {% if is_granted('ROLE_TECHNICIEN_ELECTRICIEN') or is_granted('ROLE_CHEF_PROJET') or is_granted('ROLE_LECTEUR') %}
                                {% if parametre.expertiseElectiqueAvantLavage == 1 %}
                                    <a href="{{path('app_expertise_electrique_avant_lavage', {'id' : parametre.id })}}" class="btn btn-outline-success btn-sm">Exp. Elec Avant Lavage<i class="fa fa-check"></i></a>
                                {% else %}
                                    <a href="{{path('app_expertise_electrique_avant_lavage', {'id' : parametre.id })}}" class="btn btn-outline-primary btn-sm">Exp. Elec Avant Lavage</a>
                                {% endif %}  
                            
                                {% if parametre.expertiseElectiqueApresLavage == 1 %}
                                    <a href="{{path('app_expertise_electrique_apres_lavage', {'id' : parametre.id })}}" class="btn btn-outline-success btn-sm">Exp. Élec Après Lavage <i class="fa fa-check"></i></a>
                                {% else %}
                                    <a href="{{path('app_expertise_electrique_apres_lavage', {'id' : parametre.id })}}" class="btn btn-outline-primary btn-sm">Exp. Élec Après Lavage</a>
                                {% endif %}                                                              
                            {% endif %}

                            {% if is_granted('ROLE_TECHNICIEN_MECANICIEN') or is_granted('ROLE_CHEF_PROJET') or is_granted('ROLE_LECTEUR') %}
                                {% if parametre.expertiseMecanique == 1 %}
                                    <a href="{{path('app_expertise_mecanique', {'id' : parametre.id })}}" class="btn btn-outline-success btn-sm">Exp. Mécanique <i class="fa fa-check"></i></a>
                                {% else %}
                                    <a href="{{path('app_expertise_mecanique', {'id' : parametre.id })}}" class="btn btn-outline-primary btn-sm">Exp. Mécanique</a>
                                {% endif %}
                            {% endif %}

                            {% if (parametre.expertiseElectiqueAvantLavage == 1) and (parametre.expertiseMecanique == 1) and (parametre.expertiseElectiqueApresLavage == 1) %}
                                <a href="{{path('app_constat_index', {'id' : parametre.id })}}" class="btn btn-outline-success btn-sm">Constats</a>
                            {% else %}
                                    <a href="{{path('app_constat_index', {'id' : parametre.id })}}" class="btn btn-outline-primary btn-sm">Constats</a>
                            {% endif %}
                                
                            {% if (parametre.expertiseElectiqueAvantLavage == 1) and (parametre.expertiseMecanique == 1) and (parametre.expertiseElectiqueApresLavage == 1) %}          
                                {% if is_granted('ROLE_CHEF_PROJET') %}
                                    {% if parametre.contreExpertise %}
                                        <a href="{{path('app_contre_expertise', {'id' : parametre.id })}}" class="btn btn-outline-success btn-sm">Contre-Expertise <i class="fa fa-check"></i></a>
                                    {% else %}
                                        <a href="{{path('app_contre_expertise', {'id' : parametre.id })}}" class="btn btn-outline-primary btn-sm">Contre-Expertise</a>
                                    {% endif %}
                                {% endif %}

                                {% if is_granted('ROLE_TECHNICIEN_MECANICIEN') or is_granted('ROLE_CHEF_PROJET') or is_granted('ROLE_LECTEUR') %}
                                    {% if parametre.remontage == 1 %}
                                        <a href="{{path('app_remontage_index', {'id' : parametre.id })}}" class="btn btn-outline-success btn-sm">Remontage <i class="fa fa-check"></i></a>
                                    {% else %}
                                        <a href="{{path('app_remontage_index', {'id' : parametre.id })}}" class="btn btn-outline-primary btn-sm">Remontage</a>
                                    {% endif %}                                    
                                {% endif %}

                                {% if is_granted('ROLE_TECHNICIEN_ELECTRICIEN') or is_granted('ROLE_CHEF_PROJET') or is_granted('ROLE_LECTEUR') %}
                                    {% if parametre.essaisFinaux == 1 %}
                                        <a href="{{path('app_essais_finaux', {'id' : parametre.id })}}" class="btn btn-outline-success btn-sm">Essais Finaux<i class="fa fa-check"></i></a>
                                    {% else %}
                                        <a href="{{path('app_essais_finaux', {'id' : parametre.id })}}" class="btn btn-outline-primary btn-sm">Essais Finaux</a>
                                    {% endif %}                                    
                                {% endif %}

                                {% if is_granted('ROLE_MAGASINIER') or is_granted('ROLE_CHEF_PROJET') %}
                                    {% if parametre.phototheques | length > 1 %}
                                        <a href="{{path('app_phototheque', {'id' : parametre.id })}}" class="btn btn-outline-success btn-sm">Photothèque après travaux <i class="fa fa-check"></i></a>
                                    {% else %}
                                        <a href="{{path('app_phototheque', {'id' : parametre.id })}}" class="btn btn-outline-primary btn-sm">Photothèque après travaux</a>
                                    {% endif %} 
                                {% endif %}

                                {% if is_granted('ROLE_CHEF_PROJET') %}
                                    {% if parametre.infoGenerale %}
                                        <a href="{{path('app_info_generale', {'id' : parametre.id })}}" class="btn btn-outline-success btn-sm">Info Générale <i class="fa fa-check"></i></a>
                                    {% else %}
                                        <a href="{{path('app_info_generale', {'id' : parametre.id })}}" class="btn btn-outline-primary btn-sm">Info Générale</a>
                                    {% endif %} 
                                {% endif %}

                            {% endif %}

                            <ul class="nav navbar-right panel_toolbox">
                                <a href="#" onclick="history.back();" class="btn btn-secondary btn-sm p-2">Retour<i class="fa fa-arrow-circle-left p-1"></i></a>
                            </ul>
                            <div class="clearfix"></div> 
                        </div> 
                        <div class="x_content">
                            <section class="content invoice">                                      
                                <div class="row">
                                    <div class="invoice-header">
                                        <h2 class="text-right">
                                            <strong class="pull-right"> {{ parametre.type }} :  <td>{{parametre.machine }}</strong>
                                        </h2>
                                    </div>
                                </div><br>
                                <div class="row">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-8">
                                        {% for flash_message in app.session.flashbag.get('success') %}
                                            <div class="container alert alert-success p-2" role="alert">
                                                {{ flash_message }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <h5>Machine</h5>
                                        <div class="table-responsive">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <th>Type Machine</th>
                                                        <td>{{ parametre.typeMachine }}</td>
                                                        <th>Puissance</th>
                                                        <td>{{ parametre.puissance }} KW</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Fabricant</th>
                                                        <td>{{ parametre.fabricant }}</td>
                                                        <th>Montage</th>
                                                        <td>{{ parametre.montage }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Vitesse</th>
                                                        <td>{{ parametre.vitesse }} tr/min</td>
                                                        <th>Masse</th>
                                                        <td>{{ parametre.masse }} KG</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Presence Balais</th>
                                                        <td>{{ parametre.presenceBalais ? 'Oui' : 'Non' }}</td>
                                                        <th>Presence Balais Masse</th>
                                                        <td>{{ parametre.presenceBalaisMasse ? 'Oui' : 'Non' }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Type Palier</th>
                                                        <td>{{ parametre.typePalier }}</td>
                                                        <th>Critère</th>
                                                        <td>{{ parametre.critere | number_format }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Température de Correction</th>
                                                        <td>{{ parametre.tempCorrection  }} °C</td>
                                                        <td colspan="2"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <h5>Stator</h5>
                                        <div class="table-responsive">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <th>Stator Tension</th>
                                                        <td>{{ parametre.statorTension }} V</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Stator Frequence</th>
                                                        <td>{{ parametre.statorFrequence }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Stator Courant</th>
                                                        <td>{{ parametre.statorCourant }} A</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Stator Couplage</th>
                                                        <td>{{ parametre.statorCouplage }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Date Arrivée</th>
                                                        <td>{{ parametre.dateArrivee ? parametre.dateArrivee|date('Y-m-d') : '' }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Stator Tension 2</th>
                                                        <td>{{ parametre.statorTension2 }} V</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <h5>Rotor</h5>
                                        <div class="table-responsive">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <th>Rotor Tension</th>
                                                        <td>{{ parametre.rotorTension }} V</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Rotor Expertise Refrigeant</th>
                                                        <td>{{ parametre.rotorExpertiseRefrigeant }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Rotor Courant</th>
                                                        <td>{{ parametre.rotorCourant }} A</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Presence Plans</th>
                                                        <td>{{ parametre.presencePlans ? 'Oui' : 'Non' }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Rotor Tension 2</th>
                                                        <td>{{ parametre.rotorTension2}} V</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div> 
                    </div>
                </div>
            </div>
    </div>
{% endblock %}
