{% extends 'base.html.twig' %}

{% block title %}Affaire{% endblock %}

{% block body %}
<div class="">
    <div class="page-title">
        <div class="title_left"><h4>Constat Électrique</h4>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">     
                    <ul class="nav navbar-right panel_toolbox">
                        <a href="{{path('app_expertise_electrique_avant_lavage',{'id' : parametre.id})}}" class="btn btn-secondary btn-sm p-2">Retour<i class="fa fa-arrow-circle-left p-1"></i></a>
                    </ul>
                    <div class="clearfix"></div> 
                </div>  
                <div class="x_content">
                    <div class="row">
                        <div class="col-md-12">
                            {% for message in app.flashes('error') %}
                            <div class="alert alert-danger">
                                {{ message }}
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                  <!-- début constats eléc -->
                    {{ form_start(formConstatElectrique) }}
                          <div class="row">
                              <div class="col-md-12">
                                  <div class="item form-group">
                                      <table class="table table-bordered">
                                          <tr  class="table-secondary">
                                              <th>Vérification</th>
                                              <th>Critère</th>
                                              <th>Observation</th>
                                              <th>Préconisations et conclusion</th>
                                              <th>Retenu</th>
                                              <th>Photo</th>
                                          </tr>
                                          <tr>
                                              <td>{{form_widget(formConstatElectrique.verification)}}</td>
                                              <td>{{form_widget(formConstatElectrique.critere)}}</td>
                                              <td>{{form_widget(formConstatElectrique.observation)}}</td>
                                              <td>{{form_widget(formConstatElectrique.preconisation_conclusion)}}</td>
                                              <td>{{form_widget(formConstatElectrique.retenu, {'attr' : {
                                                    'disabled' : not is_granted('ROLE_CHEF_PROJET') ? 'disabled' : false
                                                }})}}</td>
                                              <td>{{form_widget(formConstatElectrique.photo)}}</td>
                                              <td colspan="2" width="150px" class="text-center"><button class="btn btn-primary btn-sm" name="bouton10" value="ajouter"> Ajouter <i class="fa fa-save"></i></button></td>
                                          </tr>
                                          {% for item in parametre.constatElectriques %}
                                              <tr class="table-striped">
                                                  <td>{{item.verification}}</td>
                                                  <td>{{item.critere}}</td>
                                                  <td>{{item.observation}}</td>
                                                  <td>{{item.preconisationConclusion}}</td>
                                                  <td>{{item.retenu}}</td>
                                                  <td class="text-center image">
                                                    {% if item.photo %}
                                                        <img src="{{asset('/photo_constat_electrique/'~ item.photo)}}" alt="" height="100" width="100">
                                                    {% endif %}
                                                 </td>
                                                  <td class="text-center"><a href="{{path('app_constat_electrique_edit', {'id' : parametre.id, 'idC' : item.id})}}"><i class="fa fa-edit fa-2x text-primary"></i></a></td>
                                                  <td class="text-center"><a href="{{path('delete_constat_electrique', {'id' :  item.id })}}" onclick="return confirm('Voulez-vous valider ?')"><i class="fa fa-trash-o fa-2x text-danger"></i></a></td>
                                              </tr>                                                    
                                          {% endfor %}
                                      </table>

                                  </div>
                              </div>
                          </div>
                    {{ form_end(formConstatElectrique) }}
                    <!-- /fin constats eléc -->
                </div>
            </div>
        </div>
    </div> 
</div>
{% endblock %}
{% block javascripts %}
    <script>
        window.onload = () => {
            const retenu = document.getElementById('retenu');
            var user = "conde";
            if (user == "conde") 
            {
                retenu.disabled = false;
            }
        }
    </script>
{% endblock %}