{% extends 'base.html.twig' %}

{% block title %}Affaire{% endblock %}

{% block body %}
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h4>Expertise Électrique avant lavage du projet {{ parametre.affaire.numAffaire }}</h4>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Contrôle visuel et recensement</h5>
                        </div>
                        <div class="col-md-6">
                            <ul class="nav navbar-right panel_toolbox">
                                <a href="{{path('app_expertise_electrique_avant_lavage',{'id' : parametre.id})}}" class="btn btn-secondary btn-sm p-2">Retour<i class="fa fa-arrow-circle-left p-1"></i></a>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <!-- début contrôle visuel et recensement --> 
                <div class="x_content">
                    {{ form_start(formControleVisuelElectique) }}
                    <div class="row">
                        <div class="col-md-6">
                            <table class="table">
                                <tr class="table-secondary">
                                    <th colspan="4" class="text-center">Balais</th>
                                </tr>
                                <tr>
                                    <th>Dimension</th>
                                    <th>Marque</th>
                                    <th>Quantité</th>
                                    <th>Nuance</th>
                                </tr>
                                <tr>
                                    <td>{{ form_widget(formControleVisuelElectique.balais_dimension) }}</td>
                                    <td>{{ form_widget(formControleVisuelElectique.balais_marque) }}</td>
                                    <td>{{ form_widget(formControleVisuelElectique.balais_quantite) }}</td>
                                    <td>{{ form_widget(formControleVisuelElectique.balais_nuance) }}</td>
                                </tr>
                                <tr>
                                    <th>longueur Shunt</th>
                                    <th>Type de Cosse</th>
                                    <th>Aspect de la patine</th>
                                    <th>Type pression</th>
                                </tr>
                                <tr>
                                    <td>{{ form_widget(formControleVisuelElectique.balais_longueur_shunt) }}</td>
                                    <td>{{ form_widget(formControleVisuelElectique.balais_type_cosse) }}</td>
                                    <td>{{ form_widget(formControleVisuelElectique.balais_aspect) }}</td>
                                    <td>{{ form_widget(formControleVisuelElectique.balais_type_pression) }}</td>
                                </tr>
                                <tr>
                                    <td colspan="3">{{ form_widget(formControleVisuelElectique.balais_presence_gaine) }}</td>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <table class="table">
                                <tr class="table-secondary">
                                    <th colspan="4" class="text-center">Balais de masse</th>
                                </tr>
                                <tr>
                                    <th>Dimension</th>
                                    <th>Marque</th>
                                    <th>Quantité</th>
                                    <th>Nuance</th>
                                </tr>
                                <tr>
                                    <td>{{ form_widget(formControleVisuelElectique.balais_masse_dimension) }}</td>
                                    <td>{{ form_widget(formControleVisuelElectique.balais_masse_marque) }}</td>
                                    <td>{{ form_widget(formControleVisuelElectique.balais_masse_quantite) }}</td>
                                    <td>{{ form_widget(formControleVisuelElectique.balais_masse_nuance) }}</td>
                                </tr>
                                <tr>
                                    <th>longueur Shunt</th>
                                    <th>Type de Cosse</th>
                                    <th>Aspect de la patine</th>
                                    <th>Type pression</th>
                                </tr>
                                <tr>
                                    <td>{{ form_widget(formControleVisuelElectique.balais_masse_longueur_shunt) }}</td>
                                    <td>{{ form_widget(formControleVisuelElectique.balais_masse_type_cosse) }}</td>
                                    <td>{{ form_widget(formControleVisuelElectique.balais_masse_aspect) }}</td>
                                    <td>{{ form_widget(formControleVisuelElectique.balais_masse_type_pression) }}</td>
                                </tr>
                                <tr>
                                    <td colspan="4">{{ form_widget(formControleVisuelElectique.balais_masse_presence_gaine) }}</td>
                            </table>
                        </div>
                        <div class="col-md-12">
                            <table class="table">
                                <tr class="table-secondary">
                                    <th class="text-center" colspan="4">Fac-similé boîte à borne</th>
                                </tr>
                                <tr>
                                    <th>Sens rotation</th>
                                    <td>{{ form_widget(formControleVisuelElectique.sens_rotation) }}</td>
                                    <th>Remarque</th>
                                    <td>{{ form_widget(formControleVisuelElectique.remarque) }}</td>
                                </tr>
                                <tr>
                                    <th>Photo de la boîte</th>
                                    <td>{{ form_widget(formControleVisuelElectique.photo) }}</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr class="text-center">
                                    {% if parametre.controleVisuelElectrique  %}
                                        <td><img class="p-2" src="{{asset('/photo_boite_bornes/'~ parametre.controleVisuelElectrique.photo)}}" height="200" width="200"></td>
                                    {% endif %}
                                </tr>
                            </table>
                        </div>
                    </div> 
                    <div class="row">
                        <div class="col-md-6 text-left">
                            <button class="btn btn-secondary btn-sm" name="bouton" value="controle_visuel_en_cours"> En cours <i class="fa fa-save"></i></button>
                        </div>
                        <div class="col-md-6 text-right">
                            <button class="btn btn-success btn-sm" name="bouton" value="controle_visuel_terminer"> Terminer <i class="fa fa-save"></i></button>
                        </div>
                    </div>
                    {{ form_end(formControleVisuelElectique) }}
                </div>
                <!-- fin contrôle visuel et recensement -->   
            </div>
        </div>
    </div> 
</div>
{% endblock %}
