{% extends 'base.html.twig' %}

{% block title %}Affaire{% endblock %}

{% block body %}
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h4>Expertise Électrique avant lavage du projet {{ parametre.affaire.numAffaire }}</h4>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Contrôles de bobinages</h5>
                        </div>
                        <div class="col-md-6">
                            <ul class="nav navbar-right panel_toolbox">
                                <a href="{{path('app_expertise_electrique_avant_lavage',{'id' : parametre.id})}}" class="btn btn-secondary btn-sm p-2">Retour<i class="fa fa-arrow-circle-left p-1"></i></a>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>  
                <div class="x_content">
                    {{ form_start(formControleBobinage) }}
                        <div class="row">
                            <table class="table table-bordered">
                                <tr  class="table-secondary">
                                    <th>Nature du contrôle</th>
                                    <th>Conformité</th>
                                    <th>Constat</th>
                                </tr>
                                <tr>
                                    <th class="table-secondary">Contrôle calage des encoches</th>
                                    <td>{{ form_widget(formControleBobinage.conformite1) }}</td>
                                    <td>{{ form_widget(formControleBobinage.constat1) }}</td>
                                </tr>
                                <tr>
                                    <th class="table-secondary">Contrôle laçage et calage des développantes	</th>
                                    <td>{{ form_widget(formControleBobinage.conformite2) }}</td>
                                    <td>{{ form_widget(formControleBobinage.constat2) }}</td
                                </tr>
                                <tr>
                                    <th class="table-secondary">Observation</th>
                                    <td colspan="3">{{ form_widget(formControleBobinage.observation) }}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-md-6 text-left">
                                <button class="btn btn-secondary btn-sm" name="bouton3" value="controle_bobinage_en_cours"> En cours <i class="fa fa-save"></i></button>
                            </div>
                            <div class="col-md-6 text-right">
                                <button class="btn btn-success btn-sm" name="bouton3" value="controle_bobinage_terminer"> Terminer <i class="fa fa-save"></i></button>
                            </div>
                        </div>
                    {{ form_end(formControleBobinage) }}
                </div>
            </div>
        </div>
    </div> 
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        function updateSumField() 
        {
            let conforme1 = document.getElementById('controle_bobinage_conformite1');
            let conforme2 = document.getElementById('controle_bobinage_conformite2');
            var constat1 = document.getElementById('controle_bobinage_constat1');
            var constat2 = document.getElementById('controle_bobinage_constat2');

            if(conforme1.value == "Conforme")
            {
                constat1.value = "ras";
            }else if(conforme1.value == "Non conforme")
            {
                constat1.value = "";
            }

            if(conforme2.value == "Conforme")
            {
                constat2.value = "ras";
            }else if(conforme2.value == "Non conforme")
            {
                constat2.value = "";
            }

        }
        document.getElementById('controle_bobinage_conformite1').addEventListener('input', updateSumField);
        document.getElementById('controle_bobinage_conformite2').addEventListener('input', updateSumField);
        document.getElementById('controle_bobinage_constat1').addEventListener('input', updateSumField);
        document.getElementById('controle_bobinage_constat2').addEventListener('input', updateSumField);
    });
</script>
{% endblock %}
 