{% extends 'base.html.twig' %}

{% block title %}Affaire{% endblock %}

{% block body %}
<div class="">
    <div class="page-title">
        <div class="title_left"><h4>Mesure de resistance</h4>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">     
                    <ul class="nav navbar-right panel_toolbox">
                        <a href="{{path('app_expertise_electrique_avant_lavage',{'id' : parametre.id})}}" class="btn btn-secondary btn-sm p-2">Retour<i class="fa fa-arrow-circle-left p-1"></i></a>
                    </ul>
                    <div class="clearfix"></div> 
                </div>    
                      
                <div class="x_content">
                    <!-- début Mesure de resistance -->
                    <form method="post">
                        <div class="x_content">
                            <div class="row">
                                <table class="table table-bordered">
                                    <tr  class="table-secondary">
                                        <th colspan="6" class="text-center">Paramètres</th>
                                    </tr>
                                    <tr>
                                        <th width="15%">T° Ambiante (°C)</th>
                                        <th width="15%">T° Tôlerie (°C)</th>
                                        <th width="15%">Hygrométrie (%)</th>
                                        <th width="15%">Date d'essai</th>
                                        <th width="10%">{% if parametre.machine.categorie == "À courant continu" %}
                                                                Tension Excitation
                                                            {% else %}
                                                                Tension Stator
                                                            {% endif %}</th>
                                        <th width="10%">Tension Rotor</th>
                                    </tr>
                                    <tr>
                                        <td>{{ form_widget(formMesureResistance.temp_ambiante) }}</td>
                                        <td >{{ form_widget(formMesureResistance.temp_tolerie) }}</td>
                                        <td >{{ form_widget(formMesureResistance.hygrometrie) }}</td>
                                        <td >{{ form_widget(formMesureResistance.date_essais) }}</td>
                                        <td>{{parametre.statorTension}} 
                                            {% if parametre.statorTension2 != 0 %}
                                                et {{parametre.statorTension2 }}
                                            {% endif %} 
                                        </td>
                                        <td>{{parametre.rotorTension}} 
                                            {% if parametre.rotorTension2 != 0 %}
                                                et {{parametre.rotorTension2 }}
                                            {% endif %} 
                                        </td>
                                    </tr>    
                                </table>
                            </div> 
                            <div class="row">
                                {% for flash_message in app.session.flashbag.get('message') %}
                                    <div class="container alert alert-danger p-2 ml-5 mr-5 mt-2" role="alert">
                                        {{ flash_message }}
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="row">
                                <table class="table table-bordered table-striped">
                                    <tr  class="table-secondary">
                                        <th width="16%">Type</th>
                                        <th width="16%">Contrôle</th>
                                        <th width="16%">Critère</th>
                                        <th width="16%" colspan="2">Valeur relevées</th>
                                        <th width="16%">Correction à 20°</th>
                                        <th width="16%">Conformité</th>
                                        <th width="100"></th>  
                                    </tr>
                                    <tr>
                                        <td>{{ form_widget(form.type) }}</td>
                                        <td>{{ form_widget(form.controle) }}</td>
                                        <td>{{ form_widget(form.critere, { value : 0}) }}</td>
                                        <td>{{ form_widget(form.valeur) }}</td>
                                        <td width="200">{{ form_widget(form.unite) }}</td>
                                        <td>{{ form_widget(form.temp_correction) }}</td>
                                        <td>{{ form_widget(form.conformite) }}</td>
                                        <td><button class="btn btn-primary btn-sm" name="bouton8" value="ajouter">Ajouter</button></td>
                                    </tr>
                                    {% for item2 in items %}
                                        <tr>
                                            <td>{{item2.type}}</td>
                                            <td>{{item2.controle}}</td>
                                            <td>{{item2.critere}}</td>
                                            <td colspan="2">{{item2.valeur}} {{item2.unite}}</td>
                                            <td>{{item2.tempCorrection}}</td>
                                            <td>{{item2.conformite}}</td>
                                            <td class="text-center"><a href="{{path('delete_lmesure_resistance_session', {'id' : item2.lig, 'id2' : parametre.id })}}"><i class="fa fa-trash-o fa-2x text-danger"></i></a></td>   
                                        </tr>                                        
                                    {% endfor %}
                                    <tr class="bg-primary"></tr>
                                    {% if parametre.mesureResistance %}
                                        {% for item in parametre.mesureResistance.lmesureResistances %}
                                            <tr>
                                                <td>{{item.type}}</td>
                                                <td>{{item.controle}}</td>
                                                <td>{{item.critere}}</td>
                                                <td colspan="2">{{item.valeur}} {{item.unite}}</td>
                                                <td>{{item.tempCorrection}}</td>
                                                <td>{{item.conformite}}</td>
                                                <td class="text-center"><a href="{{path('delete_lmesure_resistance', {'id' : item.id, 'id2' : parametre.id })}}"><i class="fa fa-trash-o fa-2x text-danger"></i></a></td>   
                                            </tr>                                        
                                        {% endfor %}                                            
                                    {% endif %}
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-md-6 text-left">
                                    <button class="btn btn-secondary btn-sm" name="bouton8" value="mesure_resistance_en_cours"> En cours <i class="fa fa-save"></i></button>
                                </div>
                                <div class="col-md-6 text-right">
                                    <button class="btn btn-success btn-sm" name="bouton8" value="mesure_resistance_terminer"> Terminer <i class="fa fa-save"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- fin Mesure de resistance -->
                </div>
            </div>
        </div>
    </div> 
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        function updateSumField() 
        { 
            let temp_ambiante = parseFloat(document.getElementById('mesure_resistance_temp_ambiante').value);
            let valeurReleve = parseFloat(document.getElementById('l_mesure_resistance_valeur').value);

            const correction = document.getElementById('l_mesure_resistance_temp_correction');
            const valeur_temp = {{ parametre.tempCorrection }};

            let valeurCorrection = 0;

            valeurCorrection = valeurReleve/(1+0.00393*(temp_ambiante - valeur_temp));
            valeurFinale = valeurCorrection.toFixed(3);
            correction.value = isNaN(valeurFinale) ? '' : (valeurFinale);
        }
        document.getElementById('mesure_resistance_temp_ambiante').addEventListener('input', updateSumField);
        document.getElementById('l_mesure_resistance_valeur').addEventListener('input', updateSumField);
    });
</script>
{% endblock %}
 