{% extends 'base.html.twig' %}

{% block title %}Affaire{% endblock %}

{% block body %}
<div class="">
    <div class="page-title">
        <div class="title_left"><h4>Photos</h4>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">     
                    <ul class="nav navbar-right panel_toolbox">
                        <a href="{{path('app_expertise_electrique_avant_lavage',{'id' : parametre.id})}}" class="btn btn-secondary btn-sm p-2">Retour<i class="fa fa-arrow-circle-left p-1"></i></a>
                    </ul>
                    <div class="clearfix"></div> 
                </div>                
                <div class="x_content">
                    <!-- début photo -->
                    {{ form_start(formPhoto) }}
                        <div class="row">
                            <div class="item form-group">
                                <div class="col-md-12 col-sm-12">{{ form_widget(formPhoto.images) }}</div>
                            </div>
                            <div class="item form-group">
                                <div class="col-md-12 col-sm-12 text-center">
                                    {% if parametre.photo %}
                                        {% for item in parametre.photo.images %}
                                            <td class="image"><img class="p-2" src="{{asset('/photo_expertises/'~ item.libelle)}}" height="150" width="150"></td>
                                            <td class="text-danger h3 p-4">{{item.lig }}</td>
                                            <td><a href="{{path('delete_photo', {'id' : item.id })}}" onclick="return confirm('Voulez-vous valider ?')"><i class="fa fa-trash fa-2x text-danger"></i></a></td>        
                                        {% endfor %}                                                
                                    {% endif %}
                                </div> 
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 text-left">
                                <button class="btn btn-secondary btn-sm" name="bouton5" value="photo_en_cours"> En cours <i class="fa fa-save"></i></button>
                            </div>
                            <div class="col-md-6 text-right">
                                <button class="btn btn-success btn-sm" name="bouton5" value="photo_terminer"> Terminer <i class="fa fa-save"></i></button>
                            </div>
                        </div>
                    {{ form_end(formPhoto) }}
                    <!-- /fin photo -->
                </div>
            </div>
        </div>
    </div> 
</div>
{% endblock %}
