{% extends 'base.html.twig' %}

{% block title %}Affaire{% endblock %}

{% block body %}
<div class="">
    <div class="page-title">
        <div class="title_left"><h4>Point de fonctionnement à vide</h4></div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">     
                    <ul class="nav navbar-right panel_toolbox">
                        <a href="{{path('app_expertise_electrique_avant_lavage',{'id' : parametre.id})}}" class="btn btn-secondary btn-sm p-2">Retour<i class="fa fa-arrow-circle-left p-1"></i></a>
                    </ul>
                    <div class="clearfix"></div> 
                </div> 
                <div class="x_content">
                    {{ form_start(formPointFonctionnement) }}
                        <div class="row">
                            <table class="table table-bordered">
                                <tr>
                                    <td>{{ form_row(formPointFonctionnement.image) }}</td>                                    
                                    <td width="7%"><button class="btn btn-primary btn-sm" name="bouton9" value="ajouter"> Ajouter <i class="fa fa-plus"></i></button></td>
                                </tr>
                            </table>
                        </div>
                    {{ form_end(formPointFonctionnement) }}
                    
                    <div class="row table-responsive">
                        <table class="table table-bordered">
                            <tr class="table-secondary text-center">
                                <th>Point de fonctionnement à vide</th>
                                <th width="4%"></th>
                            </tr>
                            {% for item in parametre.pointFonctionnements %}
                                <tr>
                                    <td class="text-center"><img src="{{asset('/photo_point_fonctionnement_vide/'~ item.image)}}" alt="" width="1000"></td>
                                    <td class="text-center"><a href="{{path('delete_point_fonctionnement', {'id' : item.id })}}" onclick="return confirm('Voulez-vous valider ?')"><i class="fa fa-trash fa-2x text-danger"></i></a></td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>
{% endblock %}
