{% extends 'base.html.twig' %}

{% block title %}Affaire{% endblock %}

{% block body %}
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h4>Expertise Électrique avant lavage du projet {{ parametre.affaire.numAffaire }}</h4>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <div class="row">
                            <div class="col-md-6">
                                <h5>Pression porte-balais</h5>
                            </div>
                            <div class="col-md-6">
                                <ul class="nav navbar-right panel_toolbox">
                                    <a href="{{path('app_expertise_electrique_avant_lavage',{'id' : parametre.id})}}" class="btn btn-secondary btn-sm p-2">Retour<i class="fa fa-arrow-circle-left p-1"></i></a>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <!-- début contrôle visuel et recensement -->
                    <div class="x_content">
                        {{ form_start(form) }}
                        <div class="row">
                            <div class="col-md-12">
                                {% for flash_message in app.session.flashbag.get('success') %}
                                    <div class="container alert alert-success p-2" role="alert">
                                        {{ flash_message }}
                                    </div>
                                {% endfor %}

                                {% for flash_message in app.session.flashbag.get('danger') %}
                                    <div class="container alert alert-danger p-2 alert-dismissible fade show" role="alert">
                                        {{ flash_message }}
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                {% endfor %}
                                <table class="table">
                                    <tr class="table-secondary">
                                        <th colspan="4" class="text-center">Relevé de la pression</th>
                                    </tr>

                                    {% if parametre.controleVisuelElectrique %}
                                        {% if parametre.controleVisuelElectrique.pressionTheorique %}
                                            <tr class="table-secondary">
                                                <th colspan="4" class="text-center">Pression théorique :
                                                    {{ parametre.controleVisuelElectrique.pressionTheorique }}
                                                </th>
                                            </tr>
                                        {% endif %}
                                    {% endif %}

                                    <tr class="table-secondary">
                                        <th>N° Balai</th>
                                        <th>Pression (kg)</th>
                                        <th>Critère</th>
                                        <th class="text-center"></th>
                                    </tr>
                                    <tr>
                                        <th>{{ form_widget(form.num_balai) }}</th>
                                        <th>{{ form_widget(form.pression) }}</th>
                                        <th>{{ form_widget(form.critere) }}</th>
                                        <th class="text-center"><button class="btn btn-primary btn-sm"><i class="fa fa-plus-square"></i></button></th>
                                    </tr>
                                    {% for item in parametre.pressionPorteBalais  %}
                                        <tr class="table-secondary">
                                            <td>{{ item.numBalai }}</td>
                                            <td>{{ item.pression }}</td>
                                            <td>{{ item.critere }}</td>
                                            <td class="text-center">
                                                <a href="{{ path('app_pression_porte_balais_edit', {'id' : item.id}) }}" class="btn btn-success btn-sm"><i class="fa fa-edit"></i></a>
                                                <a onclick="return confirm('Voulez-vous confirmer ?')" href="{{ path('app_pression_porte_balais_delete', {'id' : item.id }) }}" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                    <!-- fin contrôle visuel et recensement -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}
