{% extends 'base.html.twig' %}

{% block title %}Affaire{% endblock %}

{% block body %}
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h4>Expertise du projet : {{ parametre.affaire.numAffaire }}</h4>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Appareils de Mesures</h5>
                        </div>
                        <div class="col-md-6">
                            <ul class="nav navbar-right panel_toolbox">
                                <a href="{{path('app_expertise_electrique_apres_lavage',{'id' : parametre.id})}}" class="btn btn-secondary btn-sm p-2">Retour<i class="fa fa-arrow-circle-left p-1"></i></a>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    {% for flash_message in app.session.flashbag.get('message') %}
                        <div class="container alert alert-danger p-2 ml-5 mr-5 mt-2" role="alert">
                            {{ flash_message }}
                        </div>
                    {% endfor %}
                </div>
                <hr>
                <div class="x_content">
                    {{ form_start(formAppareilMesureElectrique) }}
                        <div class="row">
                            <table class="table table-bordered">
                                <tr  class="table-secondary">
                                    <th>Appareils de Mesures</th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <td>{{ form_widget(formAppareilMesureElectrique.appareil) }}</td>
                                    <td width="100"><button class="btn btn-primary btn-sm" name="bouton5" value="ajouter"> Ajouter</button></td>
                                </tr>
                            </table>
                        </div>
                    {{ form_end(formAppareilMesureElectrique) }}
                    <hr>
                    <div class="row">
                        {% if parametre.appareilMesures %}
                            <table class="table table-bordered">
                                <tr  class="table-secondary">
                                    <th>Désignation du moyen de contrôle</th>
                                    <th>N° de l'appareil</th>
                                    <th>Date de validité</th>
                                    <th width="20"></th>
                                </tr>
                                {% for item in parametre.appareilMesureElectriques %}
                                    <tr>
                                        <td>{{item.appareil.designation}}</td>
                                        <td>{{item.appareil.numAppareil}}</td>
                                        <td>{{item.appareil.dateValidite | date('d-m-Y')}}</td>
                                        <td><a href="{{path('delete_appareil_electrique', {'id' : item.id })}}" onclick="return confirm('Voulez-vous valider ?')"><i class="fa fa-trash fa-2x text-danger"></i></a></td>
                                    </tr>
                                {% endfor %} 
                            </table>                                        
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>
{% endblock %}
