{% extends 'base.html.twig' %}

{% block title %}Affaire{% endblock %}

{% block body %}
<div class="">
    <div class="page-title">
        <div class="title_left"><h4>Équi-Repartition</h4>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">     
                    <ul class="nav navbar-right panel_toolbox">
                        <a href="{{path('app_expertise_electrique_apres_lavage',{'id' : parametre.id})}}" class="btn btn-secondary btn-sm p-2">Retour<i class="fa fa-arrow-circle-left p-1"></i></a>
                    </ul>
                    <div class="clearfix"></div> 
                </div> 
                <div class="x_content">             
                    <div class="row">
                        <table class="table table-bordered table-striped">
                            <tr  class="table-secondary">
                                <th>Pôle</th>
                                <th>Tension</th>
                                <th>Courant Absorbé</th>
                                <th>Tension Alimentation</th>
                                <th>Conforme</th>
                                <th class="text-center" width="100px"></th>
                            </tr>
                            {{ form_start(form)}}
                            <tr>
                                <td>{{ form_widget(form.pole, {attr : { value : pole}}) }}</td>
                                <td>{{ form_widget(form.tension) }}</td>
                                <td>{{ form_widget(form.courant_absorbe, {'attr' : {value : courant}}) }}</td>
                                <td>{{ form_widget(form.tension_alimentation, {'attr' : {value : courant}}) }}</td>
                                <td>{{ form_widget(form.conforme) }}</td>
                                <td><button class="btn btn-primary btn-sm" name="bouton1" value="ajouter">Ajouter</button></td>
                            </tr>
                            {{ form_end(form)}}
                            {% if parametre.equirepartitions %}
                                {% for item in parametre.equirepartitions %}
                                    <tr>
                                        <td>{{item.pole}}</td>
                                        <td>{{item.tension}} V</td>
                                        <td>{{item.courantAbsorbe}}</td>
                                        <td>{{item.tensionAlimentation}} V</td>
                                        <td>{{item.conforme}}</td>
                                        <td class="text-center"><a href="{{path('app_eequirepartition_edit', {'id' : parametre.id, 'idEq' : item.id })}}"><i class="fa fa-edit fa-2x text-primary"></i></a>  
                                        <a href="{{path('app_eequirepartition_delete', {'id' : item.id })}}"><i class="fa fa-trash-o fa-2x text-danger"></i></a></td>   
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>
{% endblock %}
