{% extends 'base.html.twig' %}

{% block title %}Affaire{% endblock %}

{% block body %}
<div class="">
    <div class="page-title">
        <div class="title_left"><h4>Expertise Électrique Après lavage</h4>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">                
                    {% if parametre.expertiseElectiqueAvantLavage == 1 %}
                        <a href="{{path('app_expertise_electrique_avant_lavage', {'id' : parametre.id })}}" class="btn btn-outline-success btn-sm">Exp. électrique avant lavage <i class="fa fa-check"></i></a>
                    {% else %}
                        <a href="{{path('app_expertise_electrique_avant_lavage', {'id' : parametre.id })}}" class="btn btn-outline-primary btn-sm">Exp. électrique avant lavage</a>
                    {% endif %}
                    
                    {% if parametre.expertiseMecanique == 1 %}
                        <a href="{{path('app_expertise_mecanique', {'id' : parametre.id })}}" class="btn btn-outline-success btn-sm">Exp. Mécanique <i class="fa fa-check"></i></a>
                    {% else %}
                        <a href="{{path('app_expertise_mecanique', {'id' : parametre.id })}}" class="btn btn-outline-primary btn-sm">Exp. Mécanique</a>
                    {% endif %}
                        <a href="{{path('app_expertise_electrique_apres_lavage', {'id' : parametre.id })}}" class="btn btn-outline-primary btn-sm">Exp. électrique après lavage</a>

                    {% if (parametre.expertiseElectiqueAvantLavage == 1) and (parametre.expertiseMecanique == 1) and (parametre.expertiseElectiqueApresLavage == 1) %}
                        <a href="{{path('app_constat_index', {'id' : parametre.id })}}" class="btn btn-outline-success btn-sm">Constats</a>
                    {% else %}
                            <a href="{{path('app_constat_index', {'id' : parametre.id })}}" class="btn btn-outline-primary btn-sm">Constats</a>
                    {% endif %}

                    {% if (parametre.expertiseElectiqueAvantLavage == 1) and (parametre.expertiseMecanique == 1) and (parametre.expertiseElectiqueApresLavage == 1) %} 

                        {% if parametre.contreExpertise %}
                            <a href="{{path('app_contre_expertise', {'id' : parametre.id })}}" class="btn btn-outline-success btn-sm">Contre-Expertise <i class="fa fa-check"></i></a>
                        {% else %}
                            <a href="{{path('app_contre_expertise', {'id' : parametre.id })}}" class="btn btn-outline-primary btn-sm">Contre-Expertise</a>
                        {% endif %}  

                        {% if parametre.remontage == 1 %}
                            <a href="{{path('app_remontage_index', {'id' : parametre.id })}}" class="btn btn-outline-success btn-sm">Remontage <i class="fa fa-check"></i></a>
                        {% else %}
                            <a href="{{path('app_remontage_index', {'id' : parametre.id })}}" class="btn btn-outline-primary btn-sm">Remontage</a>
                        {% endif %}
                        
                        {% if parametre.phototheques | length > 1 %}
                            <a href="{{path('app_phototheque', {'id' : parametre.id })}}" class="btn btn-outline-success btn-sm">Photothèque après travaux <i class="fa fa-check"></i></a>
                        {% else %}
                            <a href="{{path('app_phototheque', {'id' : parametre.id })}}" class="btn btn-outline-primary btn-sm">Photothèque après travaux</a>
                        {% endif %}

                    {% endif %}
                    <ul class="nav navbar-right panel_toolbox">
                        <a href="#" onclick="history.back();" class="btn btn-secondary btn-sm p-2">Retour<i class="fa fa-arrow-circle-left p-1"></i></a>
                    </ul>
                    <div class="clearfix"></div> 
                </div>  
            </div>
        </div>
    </div>  
    <!-- début contenu formulaire --> 
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <!-- début Stator après lavage -->
                        <div class="x_panel"> 
                            <div class="x_title">
                                <div class="row">
                                    <div class="col-md-4">
                                        <h2>Stator Après Lavage</h2>
                                    </div>
                                    <div class="col-md-4 text-center">
                                        {% if parametre.statorApresLavage == null %}
                                            <a href="#" class="btn btn-secondary btn-sm">En attente <i class="fa fa-plus-circle"></i></a>
                                        {% else %}
                                            {% if parametre.statorApresLavage.etat == 1 %}
                                                <a href="#" class="btn btn-success btn-sm">Terminé <i class="fa fa-check"></i></a>                                           
                                            {% else %}
                                                <a href="#" class="btn btn-danger btn-sm">En cours <i class="fa fa-circle-o"></i></a>   
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <div class="col-md-2 text-right">
                                        {% if parametre.affaire.bloque != 1 %}
                                            <a class="btn btn-primary" href="{{path('app_stator_apres_lavage', {'id' : parametre.id })}}" target="_blank"><i class="fa fa-plus-circle"></i></a>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-2">
                                        <ul class="nav navbar-right panel_toolbox">
                                            <li ><a class="collapse-link" data-toggle="collapse" aria-expanded="false" href="#collapse1"><i class="fa fa-chevron-up"></i></a></li>
                                        </ul>                                                
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content collapse" id="collapse1"> 
                                <!-- début  stator après lavage --> 
                                {% if parametre.statorApresLavage %}
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table table-bordered table-striped">
                                                <tr  class="table-secondary">
                                                    <th colspan="8" class="text-center">Paramètres</th>
                                                </tr>
                                                <tr>
                                                    <th class="table-secondary">T° Ambiante (°C)</th>
                                                    <td>{{ parametre.statorApresLavage.tempAmbiante }}</td>
                                                    <th class="table-secondary">T° Tôlerie (°C)</th>
                                                    <td>{{ parametre.statorApresLavage.tempTolerie }}</td>
                                                    <th class="table-secondary">Hygrométrie (%)</th>
                                                    <td>{{ parametre.statorApresLavage.hygrometrie }}</td>
                                                    <th class="table-secondary">Isolation</th>
                                                    <td>{{parametre.critere}}</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div> 

                                    <!-- la gestion des valeur saisir automatiquement -->
                                        {% set tension_essaie = 0 %}
                                        {% if parametre.statorTension < 500 %}
                                            {% set tension_essaie = 500 %}
                                        {% elseif parametre.statorTension >= 500 and parametre.statorTension <= 1000 %}
                                            {% set tension_essaie = 1000 %}
                                        {% elseif parametre.statorTension > 1000 and parametre.statorTension <= 5000 %}
                                            {% set tension_essaie = 2500 %}
                                        {% elseif parametre.statorTension > 5000 %}
                                            {% set tension_essaie = 5000 %}
                                        {% endif %}
                                        <!-- la gestion des valeur saisir automatiquement -->
                    
                                        {% set critere = (parametre.critere * parametre.statorTension) / 1000 %}
                                        
                                    <!-- fin des valeurs -->
    
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table table-bordered table-striped">
                                                <tr  class="table-secondary">
                                                    <th width="15%">Contrôle</th>
                                                    <th width="15%">Critère</th>
                                                    <th class="text-center" width="15%">Tension d'éssai(V)</th>
                                                    <th class="text-center" width="15%">Valeur relevées avant lavage en  MΩ</th>
                                                    <th width="15%">Valeur relevées après lavage en  MΩ</th>
                                                    <th width="8%">Conformité</th>
                                                </tr>
                                                {% for item in parametre.statorApresLavage.lstatorApresLavages %}
                                                    <tr>
                                                        <td class="text-left">{{item.controle}}</td>
                                                        <td class="text-center">{{ item.critere }}</td>
                                                        <td class="text-center">{{item.tensionEssai}}</td>
                                                        <td class="text-center">{{item.valeurRelevee}}</td>
                                                        <td class="text-center">{{ item.valeur}}</td>
                                                        <td class="text-center">{{ item.conformite }}</td>
                                                    </tr>                                                    
                                                {% endfor %}
                                            </table>
                                        </div>
                                    </div>
                                {% endif %}
                                <!-- fin  stator après lavage --> 
                            </div>
                        </div>
                <!-- fin stator après lavage -->
      
                <!-- début sonde bobinage -->
                    <div class="x_panel"> 
                        <div class="x_title">
                            <div class="row">
                                <div class="col-md-4">
                                    <h2>Sondes Bobinages Après Lavage</h2>
                                </div>
                                <div class="col-md-4 text-center">
                                    {% if parametre.sondeBobinage == null %}
                                        <a href="#" class="btn btn-secondary btn-sm">En attente <i class="fa fa-plus-circle"></i></a>
                                    {% else %}
                                        {% if parametre.sondeBobinage.etat == 1 %}
                                            <a href="#" class="btn btn-success btn-sm">Terminé <i class="fa fa-check"></i></a>                                           
                                        {% else %}
                                            <a href="#" class="btn btn-danger btn-sm">En cours <i class="fa fa-circle-o"></i></a>   
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div class="col-md-2 text-right">
                                    {% if parametre.affaire.bloque != 1 %}
                                        <a class="btn btn-primary" href="{{path('app_sonde_bobinage', {'id' : parametre.id })}}" target="_blank"><i class="fa fa-plus-circle"></i></a>
                                    {% endif %}
                                </div>
                                <div class="col-md-2">
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li ><a class="collapse-link" data-toggle="collapse" aria-expanded="false" href="#collapse2"><i class="fa fa-chevron-up"></i></a></li>
                                    </ul>                                                
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content collapse" id="collapse2">  
                            <!-- début sonde bobinage -->
                            {% if parametre.sondeBobinage %}
                                <div class="row">
                                    <table class="table table-bordered">
                                        <tr  class="table-secondary">
                                            <th colspan="6" class="text-center">Paramètres</th>
                                        </tr>
                                        <tr>
                                            <th>T° Ambiante (°C)</th>
                                            <th>T° Tôlerie (°C)</th>
                                            <th>Hygrométrie (%)</th>
                                            <th>Critère</th>
                                            <th>Tension Machine</th>
                                        </tr>
                                        <tr>
                                            <td>{{parametre.sondeBobinage.tempAmbiante }}</td>
                                            <td >{{parametre.sondeBobinage.tempTolerie }}</td>
                                            <td >{{parametre.sondeBobinage.hygrometrie }}</td>
                                            <td>{{parametre.critere}} Ω/V </td>
                                            <td>{{parametre.statorTension}}</td>
                                        </tr>   
                                    </table>
                                </div>
                                <div class="row">
                                    <table class="table table-bordered table-striped">
                                        <tr  class="table-secondary">
                                            <th width="20%">Contrôle</th>
                                            <th width="20%">Critère (MΩ)</th>
                                            <th width="20%">Valeur relevée avant lavage (MΩ)</th>
                                            <th width="20%">Valeur relevées (MΩ)</th>
                                            <th width="20%">Conformité</th>
                                        </tr>
                                        <tr class="bg-primary"></tr>
                                        {% if parametre.sondeBobinage %}
                                            {% for item in parametre.sondeBobinage.lsondeBobinages %}
                                                <tr>
                                                    <td>{{item.controle}}</td>
                                                    <td>{{item.critere}}</td>
                                                    <td>{{item.valeurRelevee}}</td>
                                                    <td>{{item.valeur}}</td>
                                                    <td>{{item.conformite}}</td>
                                                </tr>                                        
                                            {% endfor %}                                            
                                        {% endif %}
                                    </table>
                                </div>
                            {% endif %}
                            <!-- début sonde bobinage -->
                        </div>
                    </div>
                <!-- fin stator bobinage -->
   
                <!-- début caractéristique -->
                    <div class="x_panel"> 
                        <div class="x_title">
                            <div class="row">
                                <div class="col-md-4">
                                    <h2>Carctérisques à vide </h2>
                                </div>
                                <div class="col-md-4 text-center">
                                    {% if parametre.autreCaracteristique == null %}
                                        <a href="#" class="btn btn-secondary btn-sm">En attente <i class="fa fa-plus-circle"></i></a>
                                    {% else %}
                                        {% if parametre.autreCaracteristique.etat == 1 %}
                                            <a href="#" class="btn btn-success btn-sm">Terminé <i class="fa fa-check"></i></a>                                           
                                        {% else %}
                                            <a href="#" class="btn btn-danger btn-sm">En cours <i class="fa fa-circle-o"></i></a>   
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div class="col-md-2 text-right">
                                    {% if parametre.affaire.bloque != 1 %}
                                        <a class="btn btn-primary" href="{{path('app_caracteristique', {'id' : parametre.id })}}" target="_blank"><i class="fa fa-plus-circle"></i></a>
                                    {% endif %}
                                </div>
                                <div class="col-md-2">
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li ><a class="collapse-link" data-toggle="collapse" data-target="#collapse3" aria-expanded="false"><i class="fa fa-chevron-up"></i></a></li>
                                    </ul>                                                
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content collapse" id="collapse3">
                            <!-- début caractéristique -->
                                <div class="row">
                                    <div class="col-md-12">
                                    {% if parametre.caracteristiques %}
                                        <table class="table table-bordered table-striped">
                                            <tr  class="table-secondary">
                                                <th></th>
                                                <th>U (v)</th>
                                                <th>I1 (A)</th>
                                                <th>I2 (A)</th>
                                                <th>I3 (A)</th>
                                                <th>P (kW)</th>
                                                <th>Q (kVAR)</th>
                                                <th>cos</th>
                                                <th>N (tr/min)</th>
                                                <th>Pj (W)</th>
                                                <th>P-Pj (KW)</th>
                                            </tr>
                                                {% set i = 0 %}
                                                {% for item in parametre.caracteristiques %}
                                                    {% set i = i + 1 %}
                                                    <tr>
                                                        <td>{{i}}</td>
                                                        <td>{{item.u}}</td>
                                                        <td>{{item.i1 }}</td>
                                                        <td>{{item.i2 }}</td>
                                                        <td>{{item.i3 }}</td>
                                                        <td>{{item.p}}</td>
                                                        <td>{{item.q}}</td>
                                                        <td>{{item.cos }}</td>
                                                        <td>{{item.n}}</td>
                                                        <td>{{item.pj }}</td>  
                                                        <td>{{item.Ppj }}</td> 
                                                    </tr> 
                                                {% endfor %}
                                                </table>
                                        {% endif %}
                                        {% if parametre.autreCaracteristique %}
                                            <table class="table table-bordered table-striped">
                                                <tr>
                                                    <th class="table-secondary">Résistance</th>
                                                    <td colspan="4">{{ parametre.autreCaracteristique.resistance}}</td>
                                                </tr>
                                                <tr>
                                                    <th class="table-secondary">Pertes</th>
                                                    <td>{{ parametre.autreCaracteristique.perte1}}</td>
                                                    <td>tr/min</td>
                                                    <td>{{ parametre.autreCaracteristique.perte2}}</td>
                                                    <td>W</td>
                                                </tr>
                                                <tr>
                                                    <th class="table-secondary">Pertes Fer à </th>
                                                    <td>{{ parametre.autreCaracteristique.perteFer1}}</td>
                                                    <td>V</td>
                                                    <td>{{ parametre.autreCaracteristique.perteFer2}}</td>
                                                    <td>W</td>
                                                </tr>
                                            </table>
                                        {% endif %}
                                    </div>
                                </div>  
                            <!-- fin caractéristique -->
                        </div>
                    </div>  
                <!-- fin caractéristique -->
                
                <!-- début point fonctionnement rotor -->
                    <div class="x_panel"> 
                        <div class="x_title">
                            <div class="row">
                                <div class="col-md-4">
                                    <h2>Point de fonctionnement rotor bloqué</h2>
                                </div>
                                <div class="col-md-4 text-center">
                                    {% if parametre.autrePointFonctionnementRotor == null %}
                                        <a href="#" class="btn btn-secondary btn-sm">En attente <i class="fa fa-plus-circle"></i></a>
                                    {% else %}
                                        {% if parametre.autrePointFonctionnementRotor.etat == 1 %}
                                            <a href="#" class="btn btn-success btn-sm">Terminé <i class="fa fa-check"></i></a>                                           
                                        {% else %}
                                            <a href="#" class="btn btn-danger btn-sm">En cours <i class="fa fa-circle-o"></i></a>   
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div class="col-md-2 text-right">
                                    {% if parametre.affaire.bloque != 1 %}
                                        <a class="btn btn-primary" href="{{path('app_fonctionnement', {'id' : parametre.id })}}" target="_blank"><i class="fa fa-plus-circle"></i></a>
                                    {% endif %}
                                </div>
                                <div class="col-md-2">
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li ><a class="collapse-link" data-toggle="collapse" data-target="#collapse4" aria-expanded="false"><i class="fa fa-chevron-up"></i></a></li>
                                    </ul>                                                
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content collapse" id="collapse4">
                            {% if parametre.pointFonctionnementRotors %}
                                <div class="row">
                                    <table class="table table-bordered table-striped">
                                        <tr  class="table-secondary">
                                            <th colspan="8" class="text-center">Point de fonctionnement rotor bloqué</th>
                                        </tr>
                                        <tr class="table-secondary text-center">
                                            <th>U (v)</th>
                                            <th>I1 (A)</th>
                                            <th>I2 (A)</th>
                                            <th>I3 (A)</th>
                                            <th>Imoy (A)</th>
                                            <th>Pabs (kW)</th>
                                            <th>Pjoule (kW)</th>
                                        </tr>
                                        {% for item in parametre.pointFonctionnementRotors %}
                                            <tr>
                                                <td>{{item.u }}</td>
                                                <td>{{item.i1 }}</td>
                                                <td>{{item.i2 }}</td>
                                                <td>{{item.i3 }}</td>
                                                <td>{{item.imoy }}</td>
                                                <td>{{item.pabs }}</td>
                                                <td>{{item.pjoule }}</td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            {% endif %}
                            {% if parametre.autrePointFonctionnementRotor %}
                                <div class="row">
                                    <table class="table table-bordered table-striped">
                                        <tr class="text-center">
                                            <th class="table-secondary">M</th>
                                            <th class="table-secondary">Indication du peson</th>
                                            <td>{{ parametre.autrePointFonctionnementRotor.m}}</td>
                                            <td>kg</td>
                                            <td></td>
                                        </tr>
                                        <tr class="text-center">
                                            <th class="table-secondary">ID</th>
                                            <th class="table-secondary">Courant de démarrage à Un</th>
                                            <td>{{ parametre.autrePointFonctionnementRotor.iden}}</td>
                                            <td>A</td>
                                            <th>ID = Imoy * Un/U</th>
                                        </tr>
                                        <tr class="text-center">
                                            <th class="table-secondary">CD</th>
                                            <th class="table-secondary">Couple de démarrage à un</th>
                                            <td>{{ parametre.autrePointFonctionnementRotor.cd}}</td>
                                            <td>Nm</td>
                                            <th>CD = (9.81 * M * Un/U)</th>
                                        </tr>
                                    </table>
                                </div>
                            {% endif %}
                        </div>
                    </div>  
                <!-- fin point fonctionnement rotor --> 
             
                <!-- début Appareils de mesure utilisés -->
                    <div class="x_panel"> 
                        <div class="x_title">
                            <div class="row">
                                <div class="col-md-4">
                                    <h2>Appareils de mesure utilisés</h2>
                                </div>
                                <div class="col-md-4 text-center">
                                    {% if parametre.appareilMesureElectriques | length > 0 %}
                                        <a href="#" class="btn btn-success btn-sm">Terminer <i class="fa fa-check"></i></a> 
                                    {% else %}
                                        <a href="" class="btn btn-secondary btn-sm">En attente <i class="fa fa-plus-circle"></i></a>
                                    {% endif %}
                                </div>
                                <div class="col-md-2 text-right">
                                    {% if parametre.affaire.bloque != 1 %}
                                        <a class="btn btn-primary" href="{{path('app_appareil_mesure_expertise_apres_lavage', {'id' : parametre.id })}}" target="_blank"><i class="fa fa-plus-circle"></i></a>
                                    {% endif %}
                                </div>
                                <div class="col-md-2">
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li ><a class="collapse-link" data-toggle="collapse" aria-expanded="false" href="#collapse6"><i class="fa fa-chevron-up"></i></a></li>
                                    </ul>                                                
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content collapse" id="collapse6">
                            <div class="row">
                                {% if parametre.appareilMesureElectriques %}
                                    <table class="table table-bordered">
                                        <tr  class="table-secondary">
                                            <th>Désignation du moyen de contrôle</th>
                                            <th>N° de l'appareil</th>
                                            <th>Date de validité</th>
                                        </tr>
                                        {% for item in parametre.appareilMesureElectriques %}
                                            <tr>
                                                <td>{{item.appareil.designation}}</td>
                                                <td>{{item.appareil.numAppareil}}</td>
                                                <td>{{item.appareil.dateValidite | date('Y-m-d')}}</td>
                                            </tr>
                                        {% endfor %} 
                                    </table>                                        
                                {% endif %}
                            </div>
                        </div>
                    </div>
                <!-- /fin Appareils de mesure utilisés -->
                                          
                <!-- début constats eléc après lavage -->
                    <div class="x_panel"> 
                        <div class="x_title">
                            <div class="row">
                                <div class="col-md-4">
                                    <h2>Constats Électrique Après Lavage</h2>
                                </div>
                                <div class="col-md-4 text-center">
                                    {% if parametre.constatElectriqueApresLavages |length == 0 %}
                                        <a href="#" class="btn btn-secondary btn-sm">En attente <i class="fa fa-plus-circle"></i></a>
                                    {% else %}
                                        {% if parametre.constatElectriqueApresLavages |length  > 1 %}
                                            <a href="#" class="btn btn-success btn-sm">Terminé <i class="fa fa-check"></i></a>                                           
                                        {% else %}
                                            <a href="#" class="btn btn-danger btn-sm">En cours <i class="fa fa-circle-o"></i></a>   
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div class="col-md-2 text-right">
                                    {% if parametre.affaire.bloque != 1 %}
                                        <a class="btn btn-primary" href="{{path('app_constact_expertise_apres_lavage', {'id' : parametre.id })}}" target="_blank"><i class="fa fa-plus-circle"></i></a>
                                    {% endif %}
                                </div>
                                <div class="col-md-2">
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li ><a class="collapse-link" data-toggle="collapse" aria-expanded="false" href="#collapse9"><i class="fa fa-chevron-up"></i></a></li>
                                    </ul>                                                
                                </div>  
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content collapse" id="collapse9">
                            <div class="row">
                                <table class="table table-bordered">
                                    <tr  class="table-secondary">
                                        <th>Vérification</th>
                                        <th>Critères</th>
                                        <th>Observation</th>
                                        <th>Préconisations et conclusion</th>
                                        <th>Retenu</th>
                                        <th>Photo</th>
                                    </tr>
                                    {% for item in parametre.constatElectriqueApresLavages %}
                                        <tr class="table-striped">
                                            <td>{{item.verification}}</td>
                                            <td>{{item.critere}}</td>
                                            <td>{{item.observation}}</td>
                                            <td>{{item.preconisationConclusion}}</td>
                                            <td>{{item.retenu}}</td>
                                            <td class="text-center image"><img src="{{asset('/photo_constat_electrique_apres_lavage/'~ item.photo)}}" alt="" height="75"></td>
                                        </tr>                                                    
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                <!-- /fin constats eléc après lavage -->

                 <!-- début bouton -->
                    <div class="x_panel"> 
                        <div class="x_content">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <a href="{{path('valider_expertise_electrique_apres_lavage', {'id' : parametre.id })}}" class="btn btn-danger btn-sm text-uppercase" onclick="return confirm('Voulez-vous vraiment valider ?')">Validation de l'expertise électrique Après Lavage<i class="fa fa-check-circle p-2"></i></a>
                                </div>
                            </div> 
                        </div>
                    </div>
                <!-- /fin bouton -->
            </div>
        </div>                    
    <!-- /fin contenu du formulaire--> 
</div>
</div>
{% endblock %}
