{% extends 'base.html.twig' %}

{% block title %}Affaire{% endblock %}

{% block body %}
<div class="">
    <div class="page-title">
        <div class="title_left"><h4>Sonde Bobinage</h4>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">     
                    <ul class="nav navbar-right panel_toolbox">
                        <a href="{{path('app_expertise_electrique_apres_lavage',{'id' : parametre.id})}}" class="btn btn-secondary btn-sm p-2">Retour<i class="fa fa-arrow-circle-left p-1"></i></a>
                    </ul>
                    <div class="clearfix"></div> 
                </div>

                 <!-- la gestion des valeur saisir automatiquement -->
                    {% set tension_essaie = 0 %}
                    {% if parametre.statorTension < 500 %}
                        {% set tension_essaie = 500 %}
                    {% elseif parametre.statorTension >= 500 and parametre.statorTension < 1100 %}
                        {% set tension_essaie = 1000 %}
                    {% elseif parametre.statorTension > 1100 and parametre.statorTension <= 3300 %}
                        {% set tension_essaie = 2500 %}
                    {% elseif parametre.statorTension > 5500 %}
                        {% set tension_essaie = 5000 %}
                    {% endif %}
                    <!-- la gestion des valeur saisir automatiquement -->

                    {% set critere = (parametre.critere * parametre.statorTension) / 1000 %}
                    
                <!-- fin des valeurs -->
                <div class="x_content">
                    <form method="post">
                        <div class="x_content">
                            <div class="row">
                                <table class="table table-bordered">
                                    <tr  class="table-secondary">
                                        <th colspan="6" class="text-center">Paramètres</th>
                                    </tr>
                                    <tr>
                                        <th>T° Ambiante (°C)</th>
                                        <th>T° Tôlerie (°C)</th>
                                        <th>Hygrométrie (%)</th>
                                        <th>Critère</th>
                                        <th>Tension Machine</th>
                                    </tr>
                                    <tr>
                                        <td>{{ form_widget(formSondeBobinage.temp_ambiante) }}</td>
                                        <td >{{ form_widget(formSondeBobinage.temp_tolerie) }}</td>
                                        <td >{{ form_widget(formSondeBobinage.hygrometrie) }}</td>
                                        <td>{{parametre.critere}} Ω/V </td>
                                        <td>{{parametre.statorTension}}</td>
                                    </tr>   
                                </table>
                            </div>
                            <div class="row">
                                <table class="table table-bordered table-striped">
                                    <tr  class="table-secondary">
                                        <th width="20%">Contrôle</th>
                                        <th width="20%">Critère (MΩ)</th>
                                        <th width="20%">Valeur relevée avant lavage (MΩ)</th>
                                        <th width="20%">Valeur relevées (MΩ)</th>
                                        <th width="15%">Conformité</th>
                                        <th width="5%"></th>
                                    </tr>
                                    <tr>
                                        <td>{{ form_widget(form.controle) }}</td>
                                        <td>{{ form_widget(form.critere, { value : critere }) }}</td>
                                        <td></td>
                                        <td>{{ form_widget(form.valeur) }}</td>
                                        <td>{{ form_widget(form.conformite) }}</td>
                                        <td><button class="btn btn-primary btn-sm" name="bouton2" value="ajouter">Ajouter</button></td>
                                    </tr>
                                    {% for item2 in items %}
                                        <tr>
                                            <td>{{item2.controle}}</td>
                                            <td>{{item2.critere}}</td>
                                            <td>{{item2.valeurRelevee}}</td>
                                            <td>{{item2.valeur}}</td>
                                            <td>{{item2.conformite}}</td>
                                            <td class="text-center"><a href="{{path('delete_sonde_session', {'id' : item2.lig, 'id2' : parametre.id })}}"><i class="fa fa-trash-o fa-2x text-danger"></i></a></td>   
                                        </tr>                                        
                                    {% endfor %}
                                    <tr class="bg-primary"></tr>
                                    {% if parametre.sondeBobinage %}
                                        {% for item in parametre.sondeBobinage.lsondeBobinages %}
                                            <tr>
                                                <td>{{item.controle}}</td>
                                                <td>{{item.critere}}</td>
                                                <td>{{item.valeurRelevee}}</td>
                                                <td>{{item.valeur}}</td>
                                                <td>{{item.conformite}}</td>
                                                <td class="text-center"><a href="{{path('delete_sonde_apres_session_lavage', {'id' : item.id, 'id2' : parametre.id })}}"><i class="fa fa-trash-o fa-2x text-danger"></i></a></td>   
                                            </tr>                                        
                                        {% endfor %}                                            
                                    {% endif %}
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-md-6 text-left">
                                    <button class="btn btn-secondary btn-sm" name="bouton2" value="sonde_en_cours"> En cours <i class="fa fa-save"></i></button>
                                </div>
                                <div class="col-md-6 text-right">
                                    <button class="btn btn-success btn-sm" name="bouton2" value="sonde_terminer"> Terminer <i class="fa fa-save"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> 
</div>
{% endblock %}
