{% extends 'base.html.twig' %}

{% block title %}Affaire{% endblock %}

{% block body %}
<div class="">
    <div class="page-title">
        <div class="title_left"><h4>Mesure Resistance</h4></div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">     
                    <ul class="nav navbar-right panel_toolbox">
                        <a href="{{path('app_expertise_electrique_apres_lavage',{'id' : parametre.id})}}" class="btn btn-secondary btn-sm p-2">Retour<i class="fa fa-arrow-circle-left p-1"></i></a>
                    </ul>
                    <div class="clearfix"></div> 
                </div>
                <!-- fin des valeurs -->
                <div class="x_content">
                    <form method="post">
                        <div class="x_content">
                            <div class="row">
                                <table class="table table-bordered">
                                    <tr  class="table-secondary">
                                        <th colspan="5" class="text-center">Paramètres</th>
                                    </tr>
                                    <tr>
                                        <th>T° Ambiante (°C)</th>
                                        <th>T° Tôlerie (°C)</th>
                                        <th>Hygrométrie (%)</th>
                                        <th>Tension Stator</th>
                                        <th>Tension Rotor</th>
                                    </tr>
                                    <tr>
                                        <td>{{ form_widget(formSondeBobinage.temp_ambiante) }}</td>
                                        <td >{{ form_widget(formSondeBobinage.temp_tolerie) }}</td>
                                        <td >{{ form_widget(formSondeBobinage.hygrometrie) }}</td>
                                        <td>{{parametre.statorTension}} 
                                            {% if parametre.statorTension2 != 0 %}
                                                et {{parametre.statorTension2 }}
                                            {% endif %} 
                                        </td>
                                        <td>{{parametre.rotorTension}} 
                                            {% if parametre.rotorTension2 != 0 %}
                                                et {{parametre.rotorTension2 }}
                                            {% endif %} 
                                        </td>
                                    </tr>   
                                </table>
                            </div>  
                            <div class="row">
                                {% for flash_message in app.session.flashbag.get('message') %}
                                    <div class="container alert alert-danger p-2 ml-5 mr-5 mt-2" role="alert">
                                        {{ flash_message }}
                                    </div>
                                {% endfor %}
                            </div>   
                            <div class="row">
                                <table class="table table-bordered table-striped">
                                    <tr  class="table-secondary">
                                        <th width="13%">Type</th>
                                        <th width="13%">Contrôle</th>
                                        <th width="13%">Critère</th>
                                        <th width="13%">Valeur relevée avant lavage</th>
                                        <th width="13%">Valeur relevées {{form_widget(form.unite)}}</th>
                                        <th width="13%">Correction à 20°</th>
                                        <th width="13%">Conformité</th>
                                        <th></th>
                                    </tr>
                                    <tr> 
                                        <td>{{ form_widget(form.type) }}</td>
                                        <td>{{ form_widget(form.controle) }}</td>
                                        <td>{{ form_widget(form.critere, { value : 0}) }}</td>
                                        <td></td>
                                        <td>{{ form_widget(form.valeur) }}</td>
                                        <td>{{ form_widget(form.temp_correction) }}</td>
                                        <td>{{ form_widget(form.conformite) }}</td>
                                        <td><button class="btn btn-primary btn-sm" name="bouton2" value="ajouter">Ajouter</button></td>
                                    </tr>
                                    {% for item2 in items %}
                                        <tr>
                                            <td>{{item2.type}}</td>
                                            <td>{{item2.controle}}</td>
                                            <td>{{item2.critere}}</td>
                                            <td>{{item2.valeurRelevee}}</td>
                                            <td>{{item2.valeur}} {{ item2.unite }}</td>
                                            <td>{{item2.tempCorrection}}</td>
                                            <td>{{item2.conformite}}</td>
                                            <td class="text-center"><a href="{{path('delete_sonde_session', {'id' : item2.lig, 'id2' : parametre.id })}}"><i class="fa fa-trash-o fa-2x text-danger"></i></a></td>   
                                        </tr>                                        
                                    {% endfor %}
                                    <tr class="bg-primary"></tr>
                                    {% if parametre.sondeBobinage %}
                                        {% for item in parametre.sondeBobinage.lsondeBobinages %}
                                            <tr>
                                                <td>{{item.type}}</td>
                                                <td>{{item.controle}}</td>
                                                <td>{{item.critere}}</td>
                                                <td>{{item.valeurRelevee}}</td>
                                                <td>{{item.valeur}} {{ item.unite }}</td>
                                                <td>{{item.tempCorrection}}</td>
                                                <td>{{item.conformite}}</td>
                                                <td class="text-center"><a href="{{path('delete_sonde_apres_session_lavage', {'id' : item.id, 'id2' : parametre.id })}}"><i class="fa fa-trash-o fa-2x text-danger"></i></a></td>   
                                            </tr>                                        
                                        {% endfor %}                                            
                                    {% endif %}
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-md-6 text-left">
                                    <button class="btn btn-secondary btn-sm" name="bouton2" value="sonde_en_cours"> En cours <i class="fa fa-save"></i></button>
                                </div>
                                <div class="col-md-6 text-right">
                                    <button class="btn btn-success btn-sm" name="bouton2" value="sonde_terminer"> Terminer <i class="fa fa-save"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> 
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        function updateSumField() 
        {
            let temp_ambiante = parseFloat(document.getElementById('sonde_bobinage_temp_ambiante').value);
            let valeurReleve = parseFloat(document.getElementById('l_sonde_bobinage_valeur').value);

            const correction = document.getElementById('l_sonde_bobinage_temp_correction');
            let valeurCorrection = 0;
            valeurCorrection = valeurReleve/(1+0.00393*(temp_ambiante - 20));
            valeurFinale = valeurCorrection.toFixed(3);
            correction.value = isNaN(valeurFinale) ? '' : (valeurFinale);
        }
        document.getElementById('sonde_bobinage_temp_ambiante').addEventListener('input', updateSumField);
        document.getElementById('l_sonde_bobinage_valeur').addEventListener('input', updateSumField);
    });
</script>
{% endblock %}
