{% extends 'base.html.twig' %}

{% block title %}Affaire{% endblock %}

{% block body %}
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h4>Expertise électrique après lavage du projet : {{ parametre.affaire.numAffaire }}</h4>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Mesure de resistance après lavage</h5>
                        </div>
                        <div class="col-md-6">
                            <ul class="nav navbar-right panel_toolbox">
                                <a href="{{path('app_expertise_electrique_apres_lavage',{'id' : parametre.id})}}" class="btn btn-secondary btn-sm p-2">Retour<i class="fa fa-arrow-circle-left p-1"></i></a>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <!-- fin des valeurs -->
                <div class="x_content">
                    <form method="post">
                        <div class="x_content">
                            <div class="row">
                                <table class="table table-bordered">
                                    <tr  class="table-secondary">
                                        <th colspan="4" class="text-center">Paramètres</th>
                                    </tr>
                                    <tr>
                                        <th>T° ambiante (°C)</th>
                                        <th>T° fer (°C)</th>
                                        <th>Hygrométrie (%)</th>
                                        <th>Date Essaie</th>
                                    </tr>
                                    <tr>
                                        <td>{{ form_widget(formSondeBobinage.temp_ambiante) }}</td>
                                        <td >{{ form_widget(formSondeBobinage.temp_tolerie) }}</td>
                                        <td >{{ form_widget(formSondeBobinage.hygrometrie) }}</td>
                                        <td>{{ form_widget(formSondeBobinage.date_essais) }}</td>
                                    </tr>
                                    <tr>
                                        <th width="10%">
                                            {% if parametre.machine.categorie == "À courant continu" %}
                                                Tension Excitation
                                            {% else %}
                                                Tension Stator
                                            {% endif %}
                                        </th>
                                        <th width="10%">
                                            {% if parametre.machine.categorie == "À courant continu" %}
                                                Tension Excitation 2
                                            {% else %}
                                                Tension Stator 2
                                            {% endif %}
                                        </th>
                                        <th width="10%">Tension Rotor</th>
                                        <th width="10%">Tension Rotor 2</th>
                                    </tr>
                                    <tr>
                                        <td>{{parametre.statorTension}}</td>
                                        <td>
                                            {% if parametre.statorTension2 != 0 %}
                                                {{parametre.statorTension2 }}
                                            {% else %}
                                                0
                                            {% endif %}
                                        </td>
                                        <td>{{parametre.rotorTension}}</td>
                                        <td>
                                            {% if parametre.rotorTension2 != 0 %}
                                                {{parametre.rotorTension2 }}
                                            {% else %}
                                                0
                                            {% endif %}
                                        </td>
                                    </tr>
                                </table>
                            </div>  
                            <div class="row">
                                {% for flash_message in app.session.flashbag.get('message') %}
                                    <div class="container alert alert-danger p-2 ml-5 mr-5 mt-2" role="alert">
                                        {{ flash_message }}
                                    </div>
                                {% endfor %}
                            </div>   
                            <div class="row">
                                <table class="table table-bordered table-striped">
                                    <tr  class="table-secondary">
                                        <th width="14%">Type</th>
                                        <th width="14%">Contrôle</th>
                                        <th width="14%">Critère</th>
                                        <th width="8%">Valeur relevée avant lavage</th>
                                        <th width="14%" colspan="2">Valeur relevées</th>
                                        <th width="14%">Correction à 20° C</th>
                                        <th width="14%">Conformité</th>
                                        <th></th>
                                    </tr>
                                    <tr> 
                                        <td>{{ form_widget(form.type) }}</td>
                                        <td>{{ form_widget(form.controle) }}</td>
                                        <td>{{ form_widget(form.critere, { value : 0}) }}</td>
                                        <td></td>
                                        <td>{{ form_widget(form.valeur) }}</td>
                                        <td width="200">{{form_widget(form.unite)}}</td>
                                        <td>{{ form_widget(form.temp_correction) }}</td>
                                        <td>{{ form_widget(form.conformite) }}</td>
                                        <td class="text-center"><button class="btn btn-primary btn-sm" name="bouton2" value="ajouter">Ajouter</button></td>
                                    </tr>
                                    {% for item2 in items %}
                                        <tr>
                                            <td>{{item2.type}}</td>
                                            <td>{{item2.controle}}</td>
                                            <td>{{item2.critere}}</td>
                                            <td>{{item2.valeurRelevee}} {{ item2.unite}}</td>
                                            <td colspan="2">{{item2.valeur}} {{ item2.unite }}</td>
                                            <td>{{item2.tempCorrection }} {{ item2.unite}}</td>
                                            <td>{{item2.conformite}}</td>
                                            <td class="text-center"><a href="{{path('delete_sonde_session', {'id' : item2.lig, 'id2' : parametre.id })}}"><i class="fa fa-trash-o fa-2x text-danger"></i></a></td>   
                                        </tr>                                         
                                    {% endfor %}
                                    <tr class="bg-primary"></tr>
                                    {% if parametre.sondeBobinage %}
                                        {% for item in parametre.sondeBobinage.lsondeBobinages %}
                                            <tr>
                                                <td>{{item.type}}</td>
                                                <td>{{item.controle}}</td>
                                                <td>{{item.critere}}</td>
                                                <td>{{item.valeurRelevee}} {{ item.unite}}</td>
                                                <td colspan="2">{{item.valeur}} {{ item.unite }}</td>
                                                <td>{{item.tempCorrection }} {{ item.unite }}</td>
                                                {% if item.conformite ==  'Conforme' %}
                                                    <td style="color: green;">{{item.conformite}}</td>
                                                {% else %}
                                                    <td style="color: red;">{{item.conformite}}</td>
                                                {% endif %}
                                                <td class="text-center">
                                                    <a class="btn btn-info btn-sm" href="{{path('app_edit_mesure_resistance_apres_lavage', {'id' : item.id})}}"><i class="fa fa-edit fa-1x"></i></a>
                                                    <a class="btn btn-danger btn-sm" href="{{path('delete_sonde_apres_session_lavage', {'id' : item.id, 'id2' : parametre.id })}}"><i class="fa fa-trash-o fa-1x"></i></a>
                                                </td>
                                            </tr>                                         
                                        {% endfor %}                                            
                                    {% endif %}
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-md-6 text-left">
                                    <button class="btn btn-secondary btn-sm" name="bouton2" value="sonde_en_cours"> En cours <i class="fa fa-save"></i></button>
                                </div>
                                <div class="col-md-6 text-right">
                                    <button class="btn btn-success btn-sm" name="bouton2" value="sonde_terminer"> Terminer <i class="fa fa-save"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> 
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        function updateSumField() 
        {
            let temp_ambiante = parseFloat(document.getElementById('sonde_bobinage_temp_ambiante').value);
            let valeurReleve = parseFloat(document.getElementById('l_sonde_bobinage_valeur').value);

            const correction = document.getElementById('l_sonde_bobinage_temp_correction');
            let valeurCorrection = 0;
            valeurCorrection = valeurReleve/(1+0.00393*(temp_ambiante - 20));

            valeurFinale = valeurCorrection.toFixed(0);
            correction.value = isNaN(valeurFinale) ? '' : (valeurFinale);
        }
        document.getElementById('sonde_bobinage_temp_ambiante').addEventListener('input', updateSumField);
        document.getElementById('l_sonde_bobinage_valeur').addEventListener('input', updateSumField);
    });
</script>
{% endblock %}
