{% extends 'base.html.twig' %}

{% block title %}Affaire{% endblock %}

{% block body %}
<div class="">
    <div class="page-title">
        <div class="title_left"><h4>Mesure d'isolement</h4>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">     
                    <ul class="nav navbar-right panel_toolbox">
                        <a href="{{path('app_expertise_electrique_apres_lavage',{'id' : parametre.id})}}" class="btn btn-secondary btn-sm p-2">Retour<i class="fa fa-arrow-circle-left p-1"></i></a>
                    </ul>
                    <div class="clearfix"></div> 
                </div> 
                <div class="x_content">
                    <form method="post">
                        <div class="x_content">
                            <div class="row">
                                <table class="table table-bordered">
                                    <tr  class="table-secondary">
                                        <th colspan="6" class="text-center">Paramètres</th>
                                    </tr>
                                    <tr>
                                        <th width="20%">T° Ambiante (°C)</th>
                                        <th width="20%">T° Tôlerie (°C)</th>
                                        <th width="20%">Hygrométrie (%)</th>
                                        <th width="10%">Critère</th>
                                        <th width="10%">Tension Rotor</th>
                                        <th width="10%">
                                            {% if parametre.machine.categorie == "À courant continu" %}
                                                Tension Excitation
                                            {% else %}
                                                Tension Stator
                                            {% endif %}
                                        </th>
                                    </tr>   
                                    <tr> 
                                        <td>{{ form_widget(formStatorApresLavage.temp_ambiante) }}</td>
                                        <td >{{ form_widget(formStatorApresLavage.temp_tolerie) }}</td>
                                        <td >{{ form_widget(formStatorApresLavage.hygrometrie) }}</td>
                                        <td>{{parametre.critere}} Ω/V </td>
                                        <td>{{parametre.rotorTension}}
                                            {% if parametre.rotorTension2 != 0 %}
                                                et {{parametre.rotorTension2 }}
                                            {% endif %}
                                        </td>
                                        <td>{{parametre.statorTension}} 
                                            {% if parametre.statorTension2 != 0 %}
                                                et {{parametre.statorTension2 }}
                                            {% endif %} 
                                        </td>
                                    </tr>  
                                </table> 
                            </div>
                            <div class="row">
                                {% for flash_message in app.session.flashbag.get('message') %}
                                    <div class="container alert alert-danger p-2 ml-5 mr-5 mt-2" role="alert">
                                        {{ flash_message }}
                                    </div>
                                {% endfor %}
                            </div>               
                            <div class="row">
                                <table class="table table-bordered table-striped">
                                    <tr  class="table-secondary">
                                        <th width="12%">Type</th>
                                        <th width="12%">Contrôle</th>
                                        <th width="12%">Critère</th>
                                        <th width="12%">Tension d'éssai (V)</th>
                                        <th width="8%">Valeur relevées avant Lavage</th>
                                        <th width="12%" colspan="2">Valeur relevées</th>
                                        <th width="12%">Correction à 20°</th>
                                        <th width="12%">Conformité</th>
                                        <th width="100"></th> 
                                    </tr>
                                    <tr>
                                        <td>{{ form_widget(form.type) }}</td>
                                        <td>{{ form_widget(form.controle) }}</td>
                                        <td>{{ form_widget(form.critere) }}</td>
                                        <td>{{ form_widget(form.tension_essai) }}</td>
                                        <td></td>
                                        <td>{{ form_widget(form.valeur) }}</td>
                                        <td width="200">{{form_widget(form.unite)}}</td>
                                        <td>{{ form_widget(form.temp_correction) }}</td>
                                        <td>{{ form_widget(form.conformite) }}</td>
                                        <td><button class="btn btn-primary btn-sm" name="bouton1" value="ajouter">Ajouter</button></td>
                                    </tr>
                                    {% for item2 in items %}
                                        <tr>
                                            <td>{{item2.type}}</td>
                                            <td>{{item2.controle}}</td>
                                            <td>{{item2.critere}}</td>
                                            <td>{{item2.tensionEssai}}</td>
                                            <td>
                                                {% if item2.controle == 'IP-UVW/masse' or   item2.controle == 'IP-U/VW+masse' or  item2.controle == 'IP-V/UW+masse' or  item2.controle == 'IP-W/UV+masse'  %}
                                                    {{item2.valeurRelevee}}
                                                {% else %}
                                                    {{item2.valeurRelevee}} {{ item2.unite}}
                                                {% endif %}
                                            </td>
                                            <td colspan="2">
                                                {% if item2.controle == 'IP-UVW/masse' or   item2.controle == 'IP-U/VW+masse' or  item2.controle == 'IP-V/UW+masse' or  item2.controle == 'IP-W/UV+masse'  %}
                                                    {{item2.valeur}}
                                                {% else %}
                                                    {{item2.valeur}} {{ item2.unite}}
                                                {% endif %}
                                            </td>
                                            <td>{{item2.tempCorrection}}</td>
                                            <td>{{item2.conformite}}</td>
                                            <td class="text-center"><a href="{{path('delete_stator_session', {'id' : item2.lig, 'id2' : parametre.id })}}"><i class="fa fa-trash-o fa-2x text-danger"></i></a></td>   
                                        </tr>                                        
                                    {% endfor %} 
                                    <tr class="bg-primary"></tr>
                                    {% if parametre.statorApreslavage %}
                                        {% for item in parametre.statorApreslavage.lstatorApresLavages %}
                                            <tr>
                                                <td>{{item.type}}</td>
                                                <td>{{item.controle}}</td>
                                                <td>{{item.critere}}</td>
                                                <td>{{item.tensionEssai}} </td>
                                                <td>
                                                    {% if item.controle == 'IP-UVW/masse' or  item.controle == 'IP-U/VW+masse' or  item.controle == 'IP-V/UW+masse' or  item.controle == 'IP-W/UV+masse'  %}
                                                        {{item.valeurRelevee}}
                                                    {% else %}
                                                        {{item.valeurRelevee}} {{ item.unite}}
                                                    {% endif %}
                                                </td>
                                                <td colspan="2">
                                                    {% if item.controle == 'IP-UVW/masse' or  item.controle == 'IP-U/VW+masse' or  item.controle == 'IP-V/UW+masse' or  item.controle == 'IP-W/UV+masse'  %}
                                                        {{item.valeur}}
                                                    {% else %}
                                                        {{item.valeur}} {{ item.unite}}
                                                    {% endif %}
                                                </td>
                                                <td>{{item.tempCorrection | number_format(1)}}</td>
                                                <td>{{item.conformite}}</td>
                                                <td class="text-center"><a href="{{path('delete_stator_apres_session_lavage', {'id' : item.id, 'id2' : parametre.id })}}"><i class="fa fa-trash-o fa-2x text-danger"></i></a></td>   
                                            </tr>                                        
                                        {% endfor %}                                            
                                    {% endif %}
                                </table>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-6 text-left">
                                    <button class="btn btn-secondary btn-sm" name="bouton1" value="stator_en_cours"> En cours <i class="fa fa-save"></i></button>
                                </div>
                                <div class="col-md-6 text-right">
                                    <button class="btn btn-success btn-sm" name="bouton1" value="stator_terminer"> Terminer <i class="fa fa-save"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> 
</div>

<div>
    {% set var_idUVW = 0 %}
    {% set var_idU = 0 %}
    {% set var_idV = 0 %}
    {% set var_idW = 0 %}
    {% set var_UVW1 = 1 %}
    {% set var_UVW10 = 0 %}
    {% set var_U1 = 1 %}
    {% set var_U10 = 0 %}
    {% set var_V1 = 1 %}
    {% set var_V10 = 0 %}
    {% set var_W1 = 1 %}
    {% set var_W10 = 0 %}
    {% set var_UVW = 0 %}
    {% set var_U = 0 %}
    {% set var_V = 0 %}
    {% set var_W = 0 %}

    {% for it in items %}
        {% if it.type == 'Stator' %}
            {% if it.controle == 'RI - UVW/masse - 1 min' %}
                {% set var_UVW1 = it.valeur %}
            {% elseif it.controle == 'RI - UVW/masse - 10 min' %}
                {% set var_UVW10 = it.valeur %}
            {% elseif it.controle == 'RI - U/VW+masse - 1 min' %}
                {% set var_U1 = it.valeur %}
            {% elseif it.controle == 'RI - U/VW+masse - 10 min' %}
                {% set var_U10 = it.valeur %}
            {% elseif it.controle == 'RI - V/UW+masse - 1 min' %}
                {% set var_V1 = it.valeur %}
            {% elseif it.controle == 'RI - V/UW+masse - 10 min' %}
                {% set var_V10 = it.valeur %}
            {% elseif it.controle == 'RI - W/UV+masse - 1 min' %}
                {% set var_W1 = it.valeur %}
            {% elseif it.controle == 'RI - W/UV+masse - 10 min' %}
                {% set var_W10 = it.valeur %}
            {% endif %} 
        {% elseif it.type == 'Stator 2' %}
            {% if it.controle == 'RI - UVW/masse - 1 min' %}
                {% set var_UVW1 = it.valeur %}
            {% elseif it.controle == 'RI - UVW/masse - 10 min' %}
                {% set var_UVW10 = it.valeur %}
            {% elseif it.controle == 'RI - U/VW+masse - 1 min' %}
                {% set var_U1 = it.valeur %}
            {% elseif it.controle == 'RI - U/VW+masse - 10 min' %}
                {% set var_U10 = it.valeur %}
            {% elseif it.controle == 'RI - V/UW+masse - 1 min' %}
                {% set var_V1 = it.valeur %}
            {% elseif it.controle == 'RI - V/UW+masse - 10 min' %}
                {% set var_V10 = it.valeur %}
            {% elseif it.controle == 'RI - W/UV+masse - 1 min' %}
                {% set var_W1 = it.valeur %}
            {% elseif it.controle == 'RI - W/UV+masse - 10 min' %}
                {% set var_W10 = it.valeur %}
            {% endif %} 
        {% elseif it.type == 'Rotor' %}
            {% if it.controle == 'RI - UVW/masse - 1 min' %}
                {% set var_UVW1 = it.valeur %}
            {% elseif it.controle == 'RI - UVW/masse - 10 min' %}
                {% set var_UVW10 = it.valeur %}
            {% elseif it.controle == 'RI - U/VW+masse - 1 min' %}
                {% set var_U1 = it.valeur %}
            {% elseif it.controle == 'RI - U/VW+masse - 10 min' %}
                {% set var_U10 = it.valeur %}
            {% elseif it.controle == 'RI - V/UW+masse - 1 min' %}
                {% set var_V1 = it.valeur %}
            {% elseif it.controle == 'RI - V/UW+masse - 10 min' %}
                {% set var_V10 = it.valeur %}
            {% elseif it.controle == 'RI - W/UV+masse - 1 min' %}
                {% set var_W1 = it.valeur %}
            {% elseif it.controle == 'RI - W/UV+masse - 10 min' %}
                {% set var_W10 = it.valeur %}
            {% endif %} 
        {% elseif it.type == 'Rotor 2' %}
            {% if it.controle == 'RI - UVW/masse - 1 min' %}
                {% set var_UVW1 = it.valeur %}
            {% elseif it.controle == 'RI - UVW/masse - 10 min' %}
                {% set var_UVW10 = it.valeur %}
            {% elseif it.controle == 'RI - U/VW+masse - 1 min' %}
                {% set var_U1 = it.valeur %}
            {% elseif it.controle == 'RI - U/VW+masse - 10 min' %}
                {% set var_U10 = it.valeur %}
            {% elseif it.controle == 'RI - V/UW+masse - 1 min' %}
                {% set var_V1 = it.valeur %}
            {% elseif it.controle == 'RI - V/UW+masse - 10 min' %}
                {% set var_V10 = it.valeur %}
            {% elseif it.controle == 'RI - W/UV+masse - 1 min' %}
                {% set var_W1 = it.valeur %}
            {% elseif it.controle == 'RI - W/UV+masse - 10 min' %}
                {% set var_W10 = it.valeur %}
            {% endif %} 
        {% endif %}                                      
    {% endfor %}

    {% set var_UVW = var_UVW10 / var_UVW1 %}
    {% set var_U = var_U10 / var_U1 %}
    {% set var_V = var_V10 / var_V1 %}
    {% set var_W = var_W10 / var_W1 %}

    {% for l in listes_controles %}
        {% if l.libelle == 'IP-UVW/masse' %}
            {% set var_idUVW = l.id %}
        {% elseif l.libelle == 'IP-U/VW+masse' %}
            {% set var_idU = l.id %}
        {% elseif l.libelle == 'IP-V/UW+masse' %}
            {% set var_idV = l.id %}
        {% elseif l.libelle == 'IP-W/UV+masse' %}
            {% set var_idW = l.id %}
        {% endif %}
    {% endfor %}
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        function updateSumField() 
        {
            let temp_ambiante = parseFloat(document.getElementById('stator_apres_lavage_temp_ambiante').value);
            let valeur = parseFloat(document.getElementById('l_stator_apres_lavage_valeur').value);
            var var_type = document.getElementById('l_stator_apres_lavage_type');
            var var_controle = document.getElementById('l_stator_apres_lavage_controle');

            let tension_rotor = {{ parametre.rotorTension }};
            let tension_stator = {{ parametre.statorTension }};
            let tension_rotor2 = {{ parametre.rotorTension2 }};
            let tension_stator2 = {{ parametre.statorTension2 }};

            let var_id_UVW = {{ var_idUVW }}
            let var_id_U = {{ var_idU }}
            let var_id_V = {{ var_idV }}
            let var_id_W = {{ var_idW }} 

            let var_j_UVW = {{ var_UVW }}
            let var_j_U = {{ var_U }}
            let var_j_V = {{ var_V }}
            let var_j_W = {{ var_W }} 

            const critere = {{ parametre.critere }};
            const valeur_temp = {{ parametre.tempCorrection }};

            if(var_type.value == 'Stator')
            {
                if(var_controle.value == var_id_UVW )
                {
                    const tension_essaie = var_j_UVW.toFixed(2);
                    const new_tension = document.getElementById('l_stator_apres_lavage_valeur');
                    new_tension.value = isNaN(tension_essaie) ? '' : (tension_essaie);

                    const ol_critre = 2.5;
                    const new_critere = document.getElementById('l_stator_apres_lavage_critere');
                    new_critere.value = isNaN(ol_critre) ? '' : (ol_critre);     
                    
                    const correction = document.getElementById('l_stator_apres_lavage_temp_correction');
                    valeurFinale = 0;
                    correction.value = isNaN(valeurFinale) ? '' : (valeurFinale);
                }     
                else if(var_controle.value == var_id_U )
                {
                    const tension_essaie = var_j_U.toFixed(2);
                    const new_tension = document.getElementById('l_stator_apres_lavage_valeur');
                    new_tension.value = isNaN(tension_essaie) ? '' : (tension_essaie);

                    const ol_critre = 2.5;
                    const new_critere = document.getElementById('l_stator_apres_lavage_critere');
                    new_critere.value = isNaN(ol_critre) ? '' : (ol_critre);

                    const correction = document.getElementById('l_stator_apres_lavage_temp_correction');
                    valeurFinale = 0;
                    correction.value = isNaN(valeurFinale) ? '' : (valeurFinale);
                }    
                else if(var_controle.value == var_id_V )
                {
                    const tension_essaie = var_j_V.toFixed(2);
                    const new_tension = document.getElementById('l_stator_apres_lavage_valeur');
                    new_tension.value = isNaN(tension_essaie) ? '' : (tension_essaie);

                    const ol_critre = 2.5;
                    const new_critere = document.getElementById('l_stator_apres_lavage_critere');
                    new_critere.value = isNaN(ol_critre) ? '' : (ol_critre);
                    
                    const correction = document.getElementById('l_stator_apres_lavage_temp_correction');
                    valeurFinale = 0;
                    correction.value = isNaN(valeurFinale) ? '' : (valeurFinale);
                }    
                else if(var_controle.value == var_id_W )
                {
                    const tension_essaie = var_j_W.toFixed(2);
                    const new_tension = document.getElementById('l_stator_apres_lavage_valeur');
                    new_tension.value = isNaN(tension_essaie) ? '' : (tension_essaie);

                    const ol_critre = 2.5;
                    const new_critere = document.getElementById('l_stator_apres_lavage_critere');
                    new_critere.value = isNaN(ol_critre) ? '' : (ol_critre);
                    
                    const correction = document.getElementById('l_stator_apres_lavage_temp_correction');
                    valeurFinale = 0;
                    correction.value = isNaN(valeurFinale) ? '' : (valeurFinale);
                }
                const ol_critre = (critere*tension_stator)/1000000;
                const new_critere = document.getElementById('l_stator_apres_lavage_critere');
                new_critere.value = isNaN(ol_critre) ? '' : (ol_critre);
        
            }
            else if(var_type.value == 'Stator 2')
            {
                if(var_controle.value == var_id_UVW )
                {
                    const tension_essaie = var_j_UVW.toFixed(2);
                    const new_tension = document.getElementById('l_stator_apres_lavage_valeur');
                    new_tension.value = isNaN(tension_essaie) ? '' : (tension_essaie);

                    const ol_critre = 2.5;
                    const new_critere = document.getElementById('l_stator_apres_lavage_critere');
                    new_critere.value = isNaN(ol_critre) ? '' : (ol_critre);
                    
                    const correction = document.getElementById('l_stator_apres_lavage_temp_correction');
                    valeurFinale = 0;
                    correction.value = isNaN(valeurFinale) ? '' : (valeurFinale);
                }     
                else if(var_controle.value == var_id_U )
                {
                    const tension_essaie = var_j_U.toFixed(2);
                    const new_tension = document.getElementById('l_stator_apres_lavage_valeur');
                    new_tension.value = isNaN(tension_essaie) ? '' : (tension_essaie);

                    const ol_critre = 2.5;
                    const new_critere = document.getElementById('l_stator_apres_lavage_critere');
                    new_critere.value = isNaN(ol_critre) ? '' : (ol_critre);
                    
                    const correction = document.getElementById('l_stator_apres_lavage_temp_correction');
                    valeurFinale = 0;
                    correction.value = isNaN(valeurFinale) ? '' : (valeurFinale);
                }    
                else if(var_controle.value == var_id_V )
                {
                    const tension_essaie = var_j_V.toFixed(2);
                    const new_tension = document.getElementById('l_stator_apres_lavage_valeur');
                    new_tension.value = isNaN(tension_essaie) ? '' : (tension_essaie);

                    const ol_critre = 2.5;
                    const new_critere = document.getElementById('l_stator_apres_lavage_critere');
                    new_critere.value = isNaN(ol_critre) ? '' : (ol_critre);
                    
                    const correction = document.getElementById('l_stator_apres_lavage_temp_correction');
                    valeurFinale = 0;
                    correction.value = isNaN(valeurFinale) ? '' : (valeurFinale);
                }    
                else if(var_controle.value == var_id_W )
                {
                    const tension_essaie = var_j_W.toFixed(2);
                    const new_tension = document.getElementById('l_stator_apres_lavage_valeur');
                    new_tension.value = isNaN(tension_essaie) ? '' : (tension_essaie);

                    const ol_critre = 2.5;
                    const new_critere = document.getElementById('l_stator_apres_lavage_critere');
                    new_critere.value = isNaN(ol_critre) ? '' : (ol_critre);
                    
                    const correction = document.getElementById('l_stator_apres_lavage_temp_correction');
                    valeurFinale = 0;
                    correction.value = isNaN(valeurFinale) ? '' : (valeurFinale);
                }

                const ol_critre = (critere*tension_stator2)/1000000;
                const new_critere = document.getElementById('l_stator_apres_lavage_critere');
                new_critere.value = isNaN(ol_critre) ? '' : (ol_critre); 
            }
            else if (var_type.value == 'Rotor')
            {
                if(var_controle.value == var_id_UVW )
                {
                    const tension_essaie = var_j_UVW.toFixed(2);
                    const new_tension = document.getElementById('l_stator_apres_lavage_valeur');
                    new_tension.value = isNaN(tension_essaie) ? '' : (tension_essaie);

                    const ol_critre = 2.5;
                    const new_critere = document.getElementById('l_stator_apres_lavage_critere');
                    new_critere.value = isNaN(ol_critre) ? '' : (ol_critre);
                    
                    const correction = document.getElementById('l_stator_apres_lavage_temp_correction');
                    valeurFinale = 0;
                    correction.value = isNaN(valeurFinale) ? '' : (valeurFinale);
                }     
                else if(var_controle.value == var_id_U )
                {
                    const tension_essaie = var_j_U.toFixed(2);
                    const new_tension = document.getElementById('l_stator_apres_lavage_valeur');
                    new_tension.value = isNaN(tension_essaie) ? '' : (tension_essaie);

                    const ol_critre = 2.5;
                    const new_critere = document.getElementById('l_stator_apres_lavage_critere');
                    new_critere.value = isNaN(ol_critre) ? '' : (ol_critre);
                    
                    const correction = document.getElementById('l_stator_apres_lavage_temp_correction');
                    valeurFinale = 0;
                    correction.value = isNaN(valeurFinale) ? '' : (valeurFinale);
                }    
                else if(var_controle.value == var_id_V )
                {
                    const tension_essaie = var_j_V.toFixed(2);
                    const new_tension = document.getElementById('l_stator_apres_lavage_valeur');
                    new_tension.value = isNaN(tension_essaie) ? '' : (tension_essaie);

                    const ol_critre = 2.5;
                    const new_critere = document.getElementById('l_stator_apres_lavage_critere');
                    new_critere.value = isNaN(ol_critre) ? '' : (ol_critre);
                    
                    const correction = document.getElementById('l_stator_apres_lavage_temp_correction');
                    valeurFinale = 0;
                    correction.value = isNaN(valeurFinale) ? '' : (valeurFinale);
                }    
                else if(var_controle.value == var_id_W )
                {
                    const tension_essaie = var_j_W.toFixed(2);
                    const new_tension = document.getElementById('l_stator_apres_lavage_valeur');
                    new_tension.value = isNaN(tension_essaie) ? '' : (tension_essaie);

                    const ol_critre = 2.5;
                    const new_critere = document.getElementById('l_stator_apres_lavage_critere');
                    new_critere.value = isNaN(ol_critre) ? '' : (ol_critre);
                    
                    const correction = document.getElementById('l_stator_apres_lavage_temp_correction');
                    valeurFinale = 0;
                    correction.value = isNaN(valeurFinale) ? '' : (valeurFinale);
                }

                const ol_critre = (critere*tension_rotor)/1000000;
                const new_critere = document.getElementById('l_stator_apres_lavage_critere');
                new_critere.value = isNaN(ol_critre) ? '' : (ol_critre);

            }
            else if (var_type.value == 'Rotor 2')
            {
                if(var_controle.value == var_id_UVW )
                {
                    const tension_essaie = var_j_UVW.toFixed(2);
                    const new_tension = document.getElementById('l_stator_apres_lavage_valeur');
                    new_tension.value = isNaN(tension_essaie) ? '' : (tension_essaie);

                    const ol_critre = 2.5;
                    const new_critere = document.getElementById('l_stator_apres_lavage_critere');
                    new_critere.value = isNaN(ol_critre) ? '' : (ol_critre);
                    
                    const correction = document.getElementById('l_stator_apres_lavage_temp_correction');
                    valeurFinale = 0;
                    correction.value = isNaN(valeurFinale) ? '' : (valeurFinale);
                }     
                else if(var_controle.value == var_id_U )
                {
                    const tension_essaie = var_j_U.toFixed(2);
                    const new_tension = document.getElementById('l_stator_apres_lavage_valeur');
                    new_tension.value = isNaN(tension_essaie) ? '' : (tension_essaie);

                    const ol_critre = 2.5;
                    const new_critere = document.getElementById('l_stator_apres_lavage_critere');
                    new_critere.value = isNaN(ol_critre) ? '' : (ol_critre);
                    
                    const correction = document.getElementById('l_stator_apres_lavage_temp_correction');
                    valeurFinale = 0;
                    correction.value = isNaN(valeurFinale) ? '' : (valeurFinale);
                }    
                else if(var_controle.value == var_id_V )
                {
                    const tension_essaie = var_j_V.toFixed(2);
                    const new_tension = document.getElementById('l_stator_apres_lavage_valeur');
                    new_tension.value = isNaN(tension_essaie) ? '' : (tension_essaie);

                    const ol_critre = 2.5;
                    const new_critere = document.getElementById('l_stator_apres_lavage_critere');
                    new_critere.value = isNaN(ol_critre) ? '' : (ol_critre);
                    
                    const correction = document.getElementById('l_stator_apres_lavage_temp_correction');
                    valeurFinale = 0;
                    correction.value = isNaN(valeurFinale) ? '' : (valeurFinale);
                }    
                else if(var_controle.value == var_id_W )
                {
                    const tension_essaie = var_j_W.toFixed(2);
                    const new_tension = document.getElementById('l_stator_apres_lavage_valeur');
                    new_tension.value = isNaN(tension_essaie) ? '' : (tension_essaie);

                    const ol_critre = 2.5;
                    const new_critere = document.getElementById('l_stator_apres_lavage_critere');
                    new_critere.value = isNaN(ol_critre) ? '' : (ol_critre);
                    
                    const correction = document.getElementById('l_stator_apres_lavage_temp_correction');
                    valeurFinale = 0;
                    correction.value = isNaN(valeurFinale) ? '' : (valeurFinale);
                }
                const ol_critre = (critere*tension_rotor2)/1000000;
                const new_critere = document.getElementById('l_stator_apres_lavage_critere');
                new_critere.value = isNaN(ol_critre) ? '' : (ol_critre); 
            }

            const correction = document.getElementById('l_stator_apres_lavage_temp_correction');
            let valeurCorrection = 0;
            if(temp_ambiante >= 10 && temp_ambiante <=30)
            {
                val = (Math.pow(0.50,(valeur_temp - temp_ambiante)/10));
                valeurCorrection = val*valeur;
                valeurFinale = valeurCorrection.toFixed(2);
                correction.value = isNaN(valeurFinale) ? '' : (valeurFinale);
            }
        }
        
        document.getElementById('stator_apres_lavage_temp_ambiante').addEventListener('input', updateSumField);
        document.getElementById('l_stator_apres_lavage_valeur').addEventListener('input', updateSumField);
        document.getElementById('l_stator_apres_lavage_type').addEventListener('input', updateSumField);
        document.getElementById('l_stator_apres_lavage_controle').addEventListener('input', updateSumField);
    });
</script>
{% endblock %}
