{% extends 'base.html.twig' %}

{% block title %}Affaire{% endblock %}

{% block body %}
<div class="">
    <div class="page-title">
        <div class="title_left"><h4>Stator Après Lavage</h4>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">     
                    <ul class="nav navbar-right panel_toolbox">
                        <a href="{{path('app_expertise_electrique_apres_lavage',{'id' : parametre.id})}}" class="btn btn-secondary btn-sm p-2">Retour<i class="fa fa-arrow-circle-left p-1"></i></a>
                    </ul>
                    <div class="clearfix"></div> 
                </div> 
                <!-- la gestion des valeur saisir automatiquement -->
                    {% set tension_essaie = 0 %}
                    {% if parametre.statorTension < 500 %}
                        {% set tension_essaie = 500 %}
                    {% elseif parametre.statorTension >= 500 and parametre.statorTension < 1100 %}
                        {% set tension_essaie = 1000 %}
                    {% elseif parametre.statorTension > 1100 and parametre.statorTension <= 3300 %}
                        {% set tension_essaie = 2500 %}
                    {% elseif parametre.statorTension > 5500 %}
                        {% set tension_essaie = 5000 %}
                    {% endif %}
                <!-- la gestion des valeur saisir automatiquement -->

                {% set critere = (parametre.critere * parametre.statorTension) / 1000 %}
                <div class="x_content">
                    <form method="post">
                        <div class="x_content">
                            <div class="row">
                                <table class="table table-bordered">
                                    <tr  class="table-secondary">
                                        <th colspan="6" class="text-center">Paramètres</th>
                                    </tr>
                                    <tr>
                                        <th>T° Ambiante (°C)</th>
                                        <td>{{ form_widget(formStatorApresLavage.temp_ambiante) }}</td>
                                        <th>T° Tôlerie (°C)</th>
                                        <td >{{ form_widget(formStatorApresLavage.temp_tolerie) }}</td>
                                        <th>Hygrométrie (%)</th>
                                        <td >{{ form_widget(formStatorApresLavage.hygrometrie) }}</td>
                                    </tr>   
                                    <tr>
                                        <th>Critère</th>
                                        <td>{{parametre.critere}} Ω/V </td>
                                        <th>Tension Machine</th>
                                        <td>{{parametre.statorTension}}</td>
                                        <th></th>
                                        <td></td>
                                    </tr>  
                                </table>
                            </div>
                            
                            <div class="row">
                                <table class="table table-bordered table-striped">
                                    <tr  class="table-secondary">
                                        <th width="14%">Contrôle</th>
                                        <th width="14%">Critère (MΩ)</th>
                                        <th width="14%">Tension d'éssai</th>
                                        <th width="14%">Valeur relevées avant Lavage</th>
                                        <th width="14%">Valeur relevées </th>
                                        <th width="14%">Correction à 20°</th>
                                        <th width="14%">Conformité</th>
                                        <th width="100"></th> 
                                    </tr>
                                    <tr>
                                        <td>{{ form_widget(form.controle) }}</td>
                                        <td>{{ form_widget(form.critere, { value : critere }) }}</td>
                                        <td>{{ form_widget(form.tension_essai, { value : tension_essaie }) }}</td>
                                        <td></td>
                                        <td>{{ form_widget(form.valeur) }}</td>
                                        <td>{{ form_widget(form.temp_correction) }}</td>
                                        <td>{{ form_widget(form.conformite) }}</td>
                                        <td><button class="btn btn-primary btn-sm" name="bouton1" value="ajouter">Ajouter</button></td>
                                    </tr>
                                    {% for item2 in items %}
                                        <tr>
                                            <td>{{item2.controle}}</td>
                                            <td>{{item2.critere}}</td>
                                            <td>{{item2.tensionEssai}}</td>
                                            <td>{{item2.valeurRelevee}}</td>
                                            <td>{{item2.valeur}}</td>
                                            <td>{{item2.tempCorrection}}</td>
                                            <td>{{item2.conformite}}</td>
                                            <td class="text-center"><a href="{{path('delete_stator_session', {'id' : item2.lig, 'id2' : parametre.id })}}"><i class="fa fa-trash-o fa-2x text-danger"></i></a></td>   
                                        </tr>                                        
                                    {% endfor %}
                                    <tr class="bg-primary"></tr>
                                    {% if parametre.statorApreslavage %}
                                        {% for item in parametre.statorApreslavage.lstatorApresLavages %}
                                            <tr>
                                                <td>{{item.controle}}</td>
                                                <td>{{item.critere}}</td>
                                                <td>{{item.tensionEssai}}</td>
                                                <td>{{item.valeurRelevee}}</td>
                                                <td>{{item.valeur}}</td>
                                                <td>{{item.tempCorrection}}</td>
                                                <td>{{item.conformite}}</td>
                                                <td class="text-center"><a href="{{path('delete_stator_apres_session_lavage', {'id' : item.id, 'id2' : parametre.id })}}"><i class="fa fa-trash-o fa-2x text-danger"></i></a></td>   
                                            </tr>                                        
                                        {% endfor %}                                            
                                    {% endif %}
                                </table>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-6 text-left">
                                    <button class="btn btn-secondary btn-sm" name="bouton1" value="stator_en_cours"> En cours <i class="fa fa-save"></i></button>
                                </div>
                                <div class="col-md-6 text-right">
                                    <button class="btn btn-success btn-sm" name="bouton1" value="stator_terminer"> Terminer <i class="fa fa-save"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>

                    {{ form_start(formStatorApresLavage) }}   

                    {{ form_end(formStatorApresLavage) }}
                </div>
            </div>
        </div>
    </div> 
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        function updateSumField() 
        {
            let temp_ambiante = parseFloat(document.getElementById('stator_apres_lavage_temp_ambiante').value);
            const correction = document.getElementById('l_stator_apres_lavage_temp_correction');
            let valeurCorrection = 0;
            if(temp_ambiante >= 10 || temp_ambiante <=30){
                valeurCorrection = Math.pow(0.50,(20 - temp_ambiante)/10);
                valeurFinale = valeurCorrection.toFixed(2);
            }
            correction.value = isNaN(valeurFinale) ? '' : (valeurFinale);
        }
        document.getElementById('stator_apres_lavage_temp_ambiante').addEventListener('input', updateSumField);
    });
</script>
{% endblock %}
