{% extends 'base.html.twig' %}

{% block title %}Affaire{% endblock %}

{% block body %}
<div class="">
    <div class="page-title">
        <div class="title_left"><h4>Contrôle visuel et recensement</h4>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">     
                    <ul class="nav navbar-right panel_toolbox">
                        <a href="{{path('app_expertise_mecanique',{'id' : parametre.id})}}" class="btn btn-secondary btn-sm p-2">Retour<i class="fa fa-arrow-circle-left p-1"></i></a>
                    </ul>
                    <div class="clearfix"></div> 
                </div>

                <!-- début contrôle visuel et recensement --> 
                    {{ form_start(formControlevisuelMecanque) }}
                        <div class="x_content">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="item form-group">
                                        <div class="col-md-4 col-sm-4">{{ form_widget(formControlevisuelMecanque.bridage) }}</div>
                                        <div class="col-md-4 col-sm-4">{{ form_widget(formControlevisuelMecanque.clavette) }}</div>
                                        <label class="col-form-label col-md-2 col-sm-2 label-align" for="dimension">Sonde palier CA</label>
                                        <div class="col-md-2 col-sm-2">{{ form_widget(formControlevisuelMecanque.sonde_palier_ca) }}</div>
                                    </div>
                                    <div class="item form-group">
                                        <div class="col-md-4 col-sm-4">{{ form_widget(formControlevisuelMecanque.chassis) }}</div>
                                        <div class="col-md-4 col-sm-4">{{ form_widget(formControlevisuelMecanque.tresse_masse) }}</div>
                                        <label class="col-form-label col-md-2 col-sm-2 label-align" for="dimension">Sonde palier COA</label>
                                        <div class="col-md-2 col-sm-2">{{ form_widget(formControlevisuelMecanque.sonde_palier_coa) }}</div>
                                    </div>
                                    <div class="item form-group">
                                        <div class="col-md-4 col-sm-4">{{ form_widget(formControlevisuelMecanque.boite_borne) }}</div>
                                        <div class="col-md-4 col-sm-4">{{ form_widget(formControlevisuelMecanque.vis_verins) }}</div>
                                        <label class="col-form-label col-md-2 col-sm-2 label-align" for="dimension">Autres Sondes</label>
                                        <div class="col-md-2 col-sm-2">{{ form_widget(formControlevisuelMecanque.autres_sondes) }}</div>
                                    </div>
                                    <div class="item form-group">
                                        <div class="col-md-4 col-sm-4">{{ form_widget(formControlevisuelMecanque.barrette_neutre) }}</div>
                                        <label class="col-form-label col-md-2 col-sm-2 label-align" for="dimension">Peinture (N° RAL)</label>
                                        <div class="col-md-2 col-sm-2">{{ form_widget(formControlevisuelMecanque.peinture) }}</div>
                                        <label class="col-form-label col-md-2 col-sm-2 label-align" for="dimension">Numéro de série</label>
                                        <div class="col-md-2 col-sm-2">{{ form_widget(formControlevisuelMecanque.numero_serie) }}</div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="col-form-label col-md-2 col-sm-2 label-align" for="dimension">Référence rotor</label>
                                        <div class="col-md-2 col-sm-2">{{ form_widget(formControlevisuelMecanque.reference_rotor) }}</div>
                                        <label class="col-form-label col-md-2 col-sm-2 label-align" for="dimension">Référence stator</label>
                                        <div class="col-md-2 col-sm-2">{{ form_widget(formControlevisuelMecanque.reference_stator) }}</div>
                                        <label class="col-form-label col-md-2 col-sm-2 label-align" for="dimension">Nombre d'accessoires complémentaires</label>
                                        <div class="col-md-2 col-sm-2">{{ form_widget(formControlevisuelMecanque.nombre_accessoire) }}</div>
                                    </div>
                                    <div class="item form-group">
                                        <table class="table table-bordered">
                                            <tr class="table-primary">
                                                <th colspan="3" class="text-center">Accessoire supplémentaire à la réception</th>
                                            </tr>
                                            {{ form_start(formAccessoire) }}
                                            <tr>
                                                <td class="table-primary" width="20%">Accessoires complémentaires</td>
                                                <td>{{form_widget(formAccessoire.libelle)}}</td>
                                                <td width="70" class="text-center"><button type="submit" name="bouton1" value="ajouter" class="btn btn-primary btn-sm">Ajouter</button></td>
                                            </tr>
                                            {{ form_end(formAccessoire) }}
                                            {% set i = 0 %}
                                            {% for item in accessoires %}
                                                {% set i = i + 1 %}
                                                <tr>
                                                    <td class="table-primary" width="20%">Accessoires complémentaires N° {{i}}</td>
                                                    <td>{{item.libelle}}</td>
                                                    <td width="70" class="text-center"><a href="{{path('app_delete_accessoire', {'id' : item.id, 'parmID' : parametre.id })}}"><i class="fa fa-trash fa-3x text-danger"></i></a></td>
                                                </tr>                                                     
                                            {% endfor %} 
                                            {% for c in controleVisuelMecanique.accessoireSupplementaires %}
                                                {% set i = i + 1 %}
                                                <tr>
                                                    <td class="table-primary" width="20%">Accessoires complémentaires N° {{i}}</td>
                                                    <td>{{c.libelle}}</td>
                                                    <td width="70" class="text-center"><a href="{{path('app_delete_accessoire', {'id' : c.id, 'parmID' : parametre.id})}}" onclick="return confirm('Voulez-vous valider ?')"><i class="fa fa-trash fa-2x text-danger"></i></a></td>
                                                </tr>                                                     
                                            {% endfor %}                                                
                                        </table>
                                    </div>
                                    <div class="item form-group">
                                        <label class="col-form-label col-md-2 col-sm-2 label-align" for="dimension">Accouplement</label>
                                        <div class="col-md-4 col-sm-4">{{ form_widget(formControlevisuelMecanque.accouplement) }}</div>
                                        <label class="col-form-label col-md-2 col-sm-2 label-align" for="dimension">Position de l'accouplement</label>
                                        <div class="col-md-4 col-sm-4">{{ form_widget(formControlevisuelMecanque.position_accouplement) }}</div>
                                    </div>
                                </div>
                            </div> 
                            <hr>
                            <div class="row">
                                <div class="col-md-6 text-left">
                                    <button class="btn btn-secondary btn-sm" name="bouton1" value="controle_visuel_en_cours"> En cours <i class="fa fa-save"></i></button>
                                </div>
                                <div class="col-md-6 text-right">
                                    <button class="btn btn-success btn-sm" name="bouton1" value="controle_visuel_terminer"> Terminer <i class="fa fa-save"></i></button>
                                </div>
                            </div>
                        </div>
                    {{ form_end(formControlevisuelMecanque) }}
                <!-- fin contrôle visuel et recensement --> 

            </div>
        </div>
    </div> 
</div>
{% endblock %}
