{% extends 'base.html.twig' %}

{% block title %}Affaire{% endblock %}

{% block body %}
<div class="">
    <div class="page-title">
        <div class="title_left">   
            <h4>Expertise du projet : {{ parametre.affaire.numAffaire }}</h4>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Contrôle visuel et recensement</h5>
                        </div>
                        <div class="col-md-6">
                            <ul class="nav navbar-right panel_toolbox">
                                <a href="{{path('app_expertise_mecanique',{'id' : parametre.id})}}" class="btn btn-secondary btn-sm p-2">Retour<i class="fa fa-arrow-circle-left p-1"></i></a>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

                <!-- début contrôle visuel et recensement -->
                {{ form_start(formControlevisuelMecanque) }}
                <div class="x_content">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table">
                                <tr>
                                    <th>{{ form_widget(formControlevisuelMecanque.bridage) }}</th>
                                    <th>{{ form_widget(formControlevisuelMecanque.clavette) }}</th>
                                    <th>{{ form_widget(formControlevisuelMecanque.chassis) }}</th>
                                    <th>{{ form_widget(formControlevisuelMecanque.boite_borne) }}</th>
                                </tr>
                                <tr>
                                    <th>{{ form_widget(formControlevisuelMecanque.tresse_masse) }}</th>
                                    <th>{{ form_widget(formControlevisuelMecanque.vis_verins) }}</th>
                                    <th>{{ form_widget(formControlevisuelMecanque.barrette_neutre) }}</th>
                                    <th>{{ form_widget(formControlevisuelMecanque.phase_neutre) }}</th>
                                </tr>
                                <tr class="table-secondary">
                                    <th>Sonde palier CA</th>
                                    <th>Sonde palier COA</th>
                                    <th>Autres Sondes</th>
                                    <th>Peinture (N°RAL)</th>
                                </tr>
                                <tr>
                                    <th>{{ form_widget(formControlevisuelMecanque.sonde_palier_ca) }}</th>
                                    <th>{{ form_widget(formControlevisuelMecanque.sonde_palier_coa) }}</th>
                                    <th>{{ form_widget(formControlevisuelMecanque.autres_sondes) }}</th>
                                    <th>{{ form_widget(formControlevisuelMecanque.peinture) }}</th>
                                </tr>
                                <tr class="table-secondary">
                                    <th>Numéro de série</th>
                                    <th>Référence rotor</th>
                                    <th>Référence stator</th>
                                    <th>Nombre d'accessoires complémentaires</th>
                                </tr>
                                <tr>
                                    <th>{{ form_widget(formControlevisuelMecanque.numero_serie) }}</th>
                                    <th>{{ form_widget(formControlevisuelMecanque.reference_rotor) }}</th>
                                    <th>{{ form_widget(formControlevisuelMecanque.reference_stator) }}</th>
                                    <th>{{ form_widget(formControlevisuelMecanque.nombre_accessoire) }}</th>
                                </tr>
                            </table>
                            <div class="item form-group">
                                <table class="table table-bordered">
                                    <tr class="table-secondary">
                                        <th colspan="6" class="text-center">Accessoire supplémentaire à la réception
                                        </th>
                                    </tr>
                                    {{ form_start(formAccessoire) }}
                                        <tr>
                                            <td class="table-secondary" width="20%">Accessoires complémentaires</td>
                                            <td colspan="4">{{form_widget(formAccessoire.libelle)}}</td>
                                            <td width="300" class="text-center"><button type="submit" name="bouton1"
                                                    value="ajouter" class="btn btn-primary btn-sm">Ajouter</button></td>
                                        </tr>
                                    {{ form_end(formAccessoire) }}
                                    {% set i = 0 %}
                                    {% for item in accessoires %}
                                    {% set i = i + 1 %}
                                    <tr>
                                        <td class="table-secondary" width="20%">Accessoires complémentaires N° {{i}}
                                        </td>
                                        <td colspan="4">{{item.libelle}}</td>
                                        <td width="70" class="text-center">
                                            <a  href="{{path('app_delete_accessoire', {'id' : item.id, 'parmID' : parametre.id })}}"><i  class="fa fa-trash fa-2x text-danger"></i></a></td>
                                    </tr>
                                    {% endfor %}
                                    {% for c in controleVisuelMecanique.accessoireSupplementaires %}
                                    {% set i = i + 1 %}
                                    <tr>
                                        <td class="table-secondary" width="20%">Accessoires complémentaires N° {{i}}
                                        </td>
                                        <td colspan="4">{{c.libelle}}</td>
                                        <td width="70" class="text-center">
                                            <a  href="{{path('app_edit_controle', {'id' : c.id})}}"><i  class="fa fa-edit fa-2x text-edit"></i></a>
                                            <a  href="{{path('app_delete_accessoire', {'id' : c.id, 'parmID' : parametre.id})}}"  onclick="return confirm('Voulez-vous valider ?')"><i  class="fa fa-trash fa-2x text-danger"></i></a></td>
                                    </tr>
                                    {% endfor %}
                                    <tr>
                                        <th>Accouplement</th>
                                        <td>{{ form_widget(formControlevisuelMecanque.accouplement) }}</td>
                                        <th>Position de l'accouplement</th>
                                        <td>{{ form_widget(formControlevisuelMecanque.position_accouplement) }}</td>
                                        <th>Photo Accouplement</th>
                                        <td>{{ form_widget(formControlevisuelMecanque.photo_accouplement) }}</td>
                                    </tr>
                                    <tr>
                                        <th colspan="5"></th>
                                        <td>
                                            {% if parametre.controleVisuelMecanique and parametre.controleVisuelMecanique.photoAccouplement %}
                                                <img src="{{asset('/photo_rotor/' ~ parametre.controleVisuelMecanique.photoAccouplement)}}" alt="{{parametre.controleVisuelMecanique.photoAccouplement}}" height="150"/>
                                            {% endif %}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6 text-left">
                            <button class="btn btn-secondary btn-sm" name="bouton1" value="controle_visuel_en_cours"> En
                                cours <i class="fa fa-save"></i></button>
                        </div>
                        <div class="col-md-6 text-right">
                            <button class="btn btn-success btn-sm" name="bouton1" value="controle_visuel_terminer">
                                Terminer <i class="fa fa-save"></i></button>
                        </div>
                    </div>
                </div>
                {{ form_end(formControlevisuelMecanque) }}
                <!-- fin contrôle visuel et recensement -->

            </div>
        </div>
    </div>
</div>
{% endblock %}