{% extends 'base.html.twig' %}

{% block title %}Affaire{% endblock %}

{% block body %}
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h4>Expertise du projet : {{ parametre.affaire.numAffaire }}</h4>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Coussinet CA/COA</h5>
                        </div>
                        <div class="col-md-6">
                            <ul class="nav navbar-right panel_toolbox">
                                <a href="{{path('app_expertise_mecanique',{'id' : parametre.id})}}" class="btn btn-secondary btn-sm p-2">Retour<i class="fa fa-arrow-circle-left p-1"></i></a>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="x_content">
                    <div class="row">
                        {% for flash_message in app.session.flashbag.get('error') %}
                            <div class="container alert alert-danger p-2 ml-5 mr-5 mt-2" role="alert">
                                {{ flash_message }}
                            </div>
                        {% endfor %}
                    </div>
                    {{ form_start(formCoussinet) }}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="item form-group">
                                    <table class="table table-bordered">
                                        <tr  class="table-secondary">
                                            <th></th>
                                            <th class="text-center">Coussinet CA</th>
                                            <th class="text-center">Coussinet COA</th>
                                        </tr>
                                        <tr>
                                            <td width="10%">Réf Palier</td>
                                            <td>{{ form_widget(formCoussinet.ref_palier_ca) }}</td>
                                            <td>{{ form_widget(formCoussinet.ref_palier_coa) }}</td>
                                        </tr>
                                        <tr>
                                            <td width="10%">Num Cde</td>
                                            <td>{{ form_widget(formCoussinet.num_code_ca) }}</td>
                                            <td>{{ form_widget(formCoussinet.num_code_coa) }}</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>{{ form_widget(formCoussinet.photo_ca) }}</td>
                                            <td>{{ form_widget(formCoussinet.photo_coa) }}</td>
                                        </tr>
                                        <tr>
                                        {% if parametre.coussinet %}
                                            <td></td>
                                            <td><img src="{{asset('/photo_coussinet/' ~ parametre.coussinet.photoCa)}}"  height="100px"/>
                                            </td>
                                            <td><img src="{{asset('/photo_coussinet/' ~ parametre.coussinet.photoCoa)}}"  height="100px"/></td>                                            
                                        {% endif %}
                                        </tr> 
                                    </table>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-6 text-left">
                                <button class="btn btn-secondary btn-sm" name="bouton003" value="coussinet_en_cours"> En cours <i class="fa fa-save"></i></button>
                            </div>
                            <div class="col-md-6 text-right">
                                <button class="btn btn-success btn-sm" name="bouton003" value="coussinet_terminer"> Terminer <i class="fa fa-save"></i></button>
                            </div>
                        </div>
                    {{ form_end(formCoussinet) }}                    
                </div>
            </div>
        </div>
    </div> 
</div>
{% endblock %}
