{% extends 'base.html.twig' %}

{% block title %}Affaire{% endblock %}

{% block body %}
<div class="">
    <div class="page-title">
        <div class="title_left"><h4>Contre-Expertise</h4></div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">                   
                    {% if parametre.expertiseElectiqueAvantLavage == 1 %}
                        <a href="{{path('app_expertise_electrique_avant_lavage', {'id' : parametre.id })}}" class="btn btn-outline-success btn-sm">Exp. Elec Avant Lavage <i class="fa fa-check"></i></a>
                    {% else %}
                        <a href="{{path('app_expertise_electrique_avant_lavage', {'id' : parametre.id })}}" class="btn btn-outline-primary btn-sm">Exp. Elec Avant Lavage</a>
                    {% endif %}
                    {% if parametre.expertiseMecanique == 1 %}
                        <a href="{{path('app_expertise_mecanique', {'id' : parametre.id })}}" class="btn btn-outline-success btn-sm">Exp. Mécanique <i class="fa fa-check"></i></a>
                    {% else %}
                        <a href="{{path('app_expertise_mecanique', {'id' : parametre.id })}}" class="btn btn-outline-primary btn-sm">Exp. Mécanique</a>
                    {% endif %}
                    {% if parametre.expertiseElectiqueApresLavage == 1 %} 
                        <a href="{{path('app_expertise_electrique_apres_lavage', {'id' : parametre.id })}}" class="btn btn-outline-success btn-sm">Exp. Élec Après Lavage <i class="fa fa-check"></i></a>
                    {% else %}
                        <a href="{{path('app_expertise_electrique_apres_lavage', {'id' : parametre.id })}}" class="btn btn-outline-primary btn-sm">Exp. Élec Après Lavage</a>
                    {% endif %}
                    {% if (parametre.expertiseElectiqueAvantLavage == 1) and (parametre.expertiseMecanique == 1) and (parametre.expertiseElectiqueApresLavage == 1) %}
                        <a href="{{path('app_constat_index', {'id' : parametre.id })}}" class="btn btn-outline-success btn-sm">Constats</a>
                    {% else %}
                            <a href="{{path('app_constat_index', {'id' : parametre.id })}}" class="btn btn-outline-primary btn-sm">Constats</a>
                    {% endif %}
                    
                    {% if (parametre.expertiseElectiqueAvantLavage == 1) and (parametre.expertiseMecanique == 1) and (parametre.expertiseElectiqueApresLavage == 1) %}
                       
                        <a href="{{path('app_contre_expertise', {'id' : parametre.id })}}" class="btn btn-outline-secondary btn-sm">Contre-Expertise</a> 
                        
                        {% if parametre.remontage == 1 %}
                            <a href="{{path('app_remontage_index', {'id' : parametre.id })}}" class="btn btn-outline-success btn-sm">Remontage <i class="fa fa-check"></i></a>
                        {% else %}
                            <a href="{{path('app_remontage_index', {'id' : parametre.id })}}" class="btn btn-outline-primary btn-sm">Remontage</a>
                        {% endif %} 
                        
                        {% if is_granted('ROLE_TECHNICIEN_ELECTRICIEN') or is_granted('ROLE_CHEF_PROJET') or is_granted('ROLE_LECTEUR') %}
                            {% if parametre.remontage == 1 %}
                                {% if parametre.essaisFinaux == 1 %}
                                    <a href="{{path('app_essais_finaux', {'id' : parametre.id })}}" class="btn btn-outline-success btn-sm">Essais Finaux<i class="fa fa-check"></i></a>
                                {% else %}
                                    <a href="{{path('app_essais_finaux', {'id' : parametre.id })}}" class="btn btn-outline-primary btn-sm">Essais Finaux</a>
                                {% endif %}                                 
                            {% endif %}                                   
                        {% endif %}

                        {% if parametre.remontage == 1 %}
                            <a href="{{path('app_phototheque', {'id' : parametre.id })}}" class="btn btn-outline-success btn-sm">Photothèque après travaux <i class="fa fa-check"></i></a>
                        {% else %}
                            <a href="{{path('app_phototheque', {'id' : parametre.id })}}" class="btn btn-outline-primary btn-sm">Photothèque après travaux</a>
                        {% endif %}  

                        {% if is_granted('ROLE_CHEF_PROJET') %}
                            {% if parametre.infoGenerale %}
                                <a href="{{path('app_info_generale', {'id' : parametre.id })}}" class="btn btn-outline-success btn-sm">Info Générale <i class="fa fa-check"></i></a>
                            {% else %}
                                <a href="{{path('app_info_generale', {'id' : parametre.id })}}" class="btn btn-outline-primary btn-sm">Info Générale</a>
                            {% endif %} 
                        {% endif %}                                
                    {% endif %}
                    <ul class="nav navbar-right panel_toolbox">
                        <a href="#" onclick="history.back();" class="btn btn-secondary btn-sm p-2">Retour<i class="fa fa-arrow-circle-left p-1"></i></a>
                    </ul>
                    <div class="clearfix"></div> 
                </div> 
            </div> 
        </div>
    </div> 
    <!-- début contenu formulaire --> 
    <div class="row">
        <div class="col-md-12 col-sm-12 ">

            <!-- début plaque --> 
                <div class="x_panel"> 
                    <div class="x_title">
                        <div class="row">
                            <div class="col-md-4">
                                <h2>Contre-Expertise</h2>
                            </div>
                            <div class="col-md-4 text-center">
                            </div>
                            <div class="col-md-2 text-right">
                            </div>
                            <div class="col-md-2">
                                <ul class="nav navbar-right panel_toolbox">
                                    <li ><a class="collapse-link" data-toggle="collapse" data-target="#collapse02" aria-expanded="false" href="#collapse02"><i class="fa fa-chevron-up"></i></a></li>
                                </ul>                                                
                            </div> 
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content" id="collapse02">
                        {{ form_start(form) }}
                            <div class="form-group">
                                <div class="col-md-12 col-sm-12">{{ form_row(form.recapitulatif ) }}</div>
                            <div>
                            <div class="col-md-12 text-center">
                                <button class="btn btn-primary btn-sm"> Enregistrer <i class="fa fa-save"></i></button>
                            </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            <!-- fin plaque --> 
        </div>
    </div>                    
    <!-- /fin contenu du formulaire--> 
</div>
{% endblock %}
