{% extends 'base.html.twig' %}

{% block title %}Remarque{% endblock %}

{% block body %}
    <h1>Remarque</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ remarque.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ remarque.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ remarque.description }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ remarque.image }}</td>
            </tr>
            <tr>
                <th>Auteur</th>
                <td>{{ remarque.auteur }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ remarque.etat ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_remarque_index') }}">back to list</a>

    <a href="{{ path('app_remarque_edit', {'id': remarque.id}) }}">edit</a>

    {{ include('remarque/_delete_form.html.twig') }}
{% endblock %}
