{% extends 'base.html.twig' %}

{% block title %}Affaire index{% endblock %}

{% block body %}
<div class="page-title">
    <div class="title_left">
    <h3>Rapports</h3>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 ">
    <div class="x_panel">
        <div class="x_title">
            <h2>Listes des rapports</h2>
            <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box table-responsive">
                            <table id="datatable" class="table table-striped table-bordered" style="width:100%">
                                <thead class="table-secondary">
                                    <tr>
                                    <th width="2">N°</th>
                                    <th>N° Affaire JE</th>
                                    <th>Nom Client</th>
                                    <th>Réf Commande Client</th>
                                    <th>N° de fabrication</th>
                                    <th>Réf Commande Client</th>
                                    <th>Type Machine</th>
                                    <th>Machine</th>
                                    <th>Affaire suivie par</th>
                                    <th>Date prévisionnelle de livraison</th>
                                    <th width="300" class="text-center">Action</th>
                                    </tr>
                                </thead> 
                                <tbody> 
                                    {% set i = 0 %}
                                {% for affaire in affaires %}
                                    {% for item in affaire.parametres %}
                                        {% if item.statut == 1 %}
                                            {% set i = i + 1 %}
                                            <tr>
                                                <td>{{i}}</td>
                                                <td>{{ affaire.numAffaire }}</td> 
                                                <td>{{ item.affaire.client }}</td>
                                                <td>{{ item.affaire.codeClient }}</td>
                                                <td>{{ item.affaire.numFabrication }}</td>
                                                <td>{{ item.affaire.numArticleClient }}</td>
                                                <td>{{ item.type }}</td>
                                                <td>{{ item.machine }}</td>
                                                <td>{{ item.affaire.suiviPar }}</td>
                                                <td>{{ item.affaire.dateLivraison ? item.affaire.dateLivraison|date('d-m-Y') : '' }}</td>
                                                <td class="text-center">
                                                    <a href="{{path('app_parametre_expertise', {'id' : item.id })}}" target="_blank" class="btn btn-info btn-sm">Rapport Exp <i class="fa fa-print"></i></a>
                                                    {% if item.statutFinal == 1 %}
                                                        <a href="{{path('app_parametre_final', {'id' : item.id })}}" target="_blank" class="btn btn-success btn-sm">Rapport Final <i class="fa fa-print"></i></a>
                                                    {% endif %}
                                                </td>
                                            </tr>                                            
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="13">Pas d'affaire dans le système</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
