<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <h2>{{button_label | default('Ajouter')}} un appareil</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content"> 
                <br />
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped table-hover">
                            <tr>
                                <th width="20%">{{ form_row(form.type_service)}}</th>
                                <th width="20%">{{ form_row(form.num_appareil)}}</th>
                                <th  class="mt-2" width="20%">{{ form_row(form.designation)}}</th>
                                <th width="20%">{{ form_row(form.observation)}}</th>
                                <th width="20%">{{ form_row(form.periodicite)}}</th>
                            </tr>
                            <tr>
                                <th>{{ form_row(form.marque)}}</th>
                                <th>{{ form_row(form.type)}}</th>
                                <th>{{ form_row(form.numero_serie)}}</th>
                                <th>{{ form_row(form.unite_mesure)}}</th>
                                <th>{{ form_row(form.classe_ap)}}</th>
                            </tr>
                            <tr>
                                <th>{{ form_row(form.nom_fournisseur)}}</th>
                                <th>{{ form_row(form.numero_da)}}</th>
                                <th>{{ form_row(form.date_achat)}}</th>
                                <th>{{ form_row(form.prix_achat)}}</th>
                                <th></th>
                            </tr>
                            <tr>
                                <th>{{ form_row(form.service_responsable)}}</th>
                                <th>{{ form_row(form.affectation)}}</th>
                                <th id="classe_df" class="p-2">{{ form_widget(form.classe_definition)}}</th>
                                <th id="en_tendance" class="p-2">{{ form_widget(form.en_tendance)}}</th>
                                <th></th>
                            </tr>
                            <tr>
                                <th>{{ form_row(form.numero_certificat)}}</th>
                                <th>{{ form_row(form.date_etat)}}</th>
                                <th>{{ form_row(form.etat)}}</th>
                                <th>{{ form_row(form.statut)}}</th>
                                <th></th>
                                {# <th>{{ form_row(form.date_validite)}}</th> #}
                            </tr>
                        </table>
                    </div>
                </div>
                    <div class="ln_solid"></div>
                    <div class="item form-group">
                        <div class="col-md-12 col-sm-12">
                            <div class="row">
                              <div class="col-md-6">
                                  <button type="submit" class="btn btn-primary btn-sm">{{button_label | default('Ajouter')}} <i class="fa fa-save p-1"></i></button>
                              </div>
                                <div class="col-md-6 text-right">
                                    <a class="btn btn-secondary btn-sm" href="{{path('app_appareil_index')}}">Retour  <i class="fa fa-reply p-1"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
<script>
        const radio1 = document.getElementById("appareil_classe_definition");
        const radio2 = document.getElementById("appareil_en_tendance");

        radio1.addEventListener("click", () => {
            radio2.disabled = true;
        });

        radio2.addEventListener("click", () => {
        radio1.disabled = true;
        });

        document.addEventListener("click", () => {
        if (!radio1.checked && !radio2.checked) {
            radio1.disabled = false;
            radio2.disabled = false;
            }
        });
</script>