<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fiche de vie</title>
</head>
<style>
    table{
        width: 100%;
        font-family: serif;
        font-size: 14px !important;
    }
    .table { 
        width: 100%; 
        border-collapse: collapse; 
        }    
    .th { 
        font-weight: bold; 
        text-align: left;
    }
    
    .td, .th { 
        padding: 10px; 
        border: 2px solid #0063AF;
        font-size: 12px;
        }
    td{
        padding: 10px;
        font-family: serif;
    }
    .p{
        border-bottom: 3px dotted #0063AF;
    }
    h2{
        text-align: center;
        text-transform: uppercase;
        font-size: x-large;
        font-family: serif;
    }

    .h2_1{
        text-align: center!important;
        text-transform: uppercase;
        font-size: x-large;
        font-family: serif;
        padding-left: 250px;
        color: #0063AF;
    }
    .h2_2{
        text-align: right;
        text-transform: uppercase;
        font-size: x-large;
        font-family: serif;
        padding-left: 170px;
        color: #0063AF;
    }

    #top-bar{
        width: 120px;
        color: #0063AF;
        border-style: double;
        border-top: none;
        border-left: none;
        border-radius: 10px;
        box-shadow: #0063AF;
        text-align: left;
    }
    .validite
    {
        text-transform: uppercase;
        font-size: 9px;
        font-family: serif;
        padding: 0;
        margin: 5px;
    }
    .header{
        border: 1px solid #0063AF;
        border-radius: 5px;
        padding: 2px;
    }
    .td_header{
        font-size: 12px;
        text-decoration: underline;
        text-transform: uppercase;
    }
    .table-header{
        background-color: #0063AF;
        color: white;
    }
    .page_break {
        page-break-before: always;
    }
    #top-bar-left{
        width: 120px;
        color: #0063AF;
        border-style: double;
        border-top: none;
        border-left: none;
        border-radius: 10px;
        box-shadow: #0063AF;
        text-align: left;
        float: left;
        margin-right: 30px;
    }
    #top-bar-right{
        width: 120px;
        color: #0063AF;
        border-style: double;
        border-top: none;
        border-left: none;
        border-radius: 10px;
        box-shadow: #0063AF;
        text-align: left;
        float: left;

    }
    #nav-bar{
        padding-top: 100px;
    }
</style>
<body>
{% for item  in retourIntervention.intervention.linterventions %}
    <div id="">
        <div id="top-bar-left">
            <h3 class="validite" style=" color : black !important; font-size: 14px;">{{item.appareil.numAppareil}}</h3>
            <h3 class="validite">Périodicité : <span style="color: black;">{{item.appareil.periodicite}} Mois</span></h3>
            <h3 class="validite">Validite : <span style="color: black;">{{item.appareil.dateValidite ? item.appareil.dateValidite|date('d-m-Y') : ''}}</span></h3>
        </div>
        <div id="top-bar-right">
            <h3 class="validite" style=" color : black !important; font-size: 14px;">{{item.appareil.numAppareil}}</h3>
            <h3 class="validite">Périodicité : <span style="color: black;">{{item.appareil.periodicite}} Mois</span></h3>
            <h3 class="validite">Validite : <span style="color: black;">{{item.appareil.dateValidite ? item.appareil.dateValidite|date('d-m-Y') : ''}}</span></h3>
        </div>
    </div>
    <div id="nav-bar">
        <div>
            <span class="h2_1">Fiche de vie</span>
            <span class="h2_2">{{item.appareil.numAppareil}}</span>
        </div>
    </div>
    <p class="p"></p>
    <div class="header" style="margin-bottom: 5px;">
        <table>
            <tr class="tr_header">
                <th style="text-align: left;">Appareil : </th>
                <td class="td_header">{{ item.appareil.designation }}</td>
                <th style="text-align: left;">Type : </th>
                <td class="td_header">{{ item.appareil.type }}</td>
                <th style="text-align: left;">Numéro de Série : </th>
                <td class="td_header">{{ item.appareil.numeroSerie }}</td>
            </tr>
            <tr class="tr_header">
                <th style="text-align: left;">Marque : </th>
                <td class="td_header">{{ item.appareil.marque }}</td>
                <th style="text-align: left;">Unité de mesure : </th>
                <td class="td_header">{{ item.appareil.uniteMesure}}</td>
                <th style="text-align: left;">Classe : </th>
                <td class="td_header">{{ item.appareil.classeAp}}</td>
            </tr>
        </table>
    </div>
    <div class="header" style="margin-bottom: 5px;">
        <table>
            <tr class="tr_header">
                <th style="text-align: left;">Date d'achat : </th>
                <td class="td_header">{{ item.appareil.dateAchat ? item.appareil.dateAchat|date('d-m-Y') : ''}}</td>
                <th style="text-align: left;">Prix d'achat : </th>
                <td class="td_header">{{ item.appareil.prixAchat }}</td>
                <th style="text-align: left;">Nom Fournisseur : </th>
                <td class="td_header">{{ item.appareil.nomFournisseur }}</td>
            </tr>
            <tr class="tr_header">
                <th style="text-align: left;">Numéro DA : </th>
                <td class="td_header">{{ item.appareil.numeroDa }}</td>
            </tr>
        </table>
    </div>
    <div class="header" style="margin-bottom: 5px;">
        <table>
            <tr class="tr_header">
                <th style="text-align: left;">Service Responsable : </th>
                <td class="td_header">{{ item.appareil.serviceResponsable }}</td>
                <th style="text-align: left;">Affectation : </th>
                <td class="td_header">{{ item.appareil.affectation }}</td>
            </tr>
        </table>
    </div>
    <div class="header" style="margin-bottom: 5px;">
        <table>
            <tr class="tr_header">
                <th style="text-align: left;">Périodicité : </th>
                <td class="td_header">{{ item.appareil.periodicite }} Mois</td>
                {% if item.appareil.classeDefinition == 1 %}
                    <th style="text-align: left;">Classe de définition : </th>
                    <td class="td_header">{{ item.appareil.classeDefinition ? 'Oui' : 'Non' }}</td>
                {% endif %}
                {% if item.appareil.enTendance == 1 %}
                    <th style="text-align: left;">En tendance : </th>
                    <td class="td_header">{{ item.appareil.enTendance ? 'Oui' : 'Non' }}</td>
                {% endif %}
            </tr>
        </table>
    </div>
    <div class="header" style="margin-bottom: 5px;">
        <table>
            <tr class="tr_header">
                <th style="text-align: left;">Etat : </th>
                <td class="td_header">{{ item.appareil.etat }} </td>
                <th style="text-align: left;">N° Certificat en cours: </th>
                <td class="td_header">{{ item.appareil.numeroCertificat}}</td>
                <th style="text-align: left;">Date Certificat: </th>
                <td class="td_header">{{ item.appareil.dateEtat ? item.appareil.dateEtat|date('d-m-Y') : ''}}</td>
            </tr>
            <tr class="tr_header">
                <th style="text-align: left;">Statut : </th>
                <td class="td_header">{{ item.appareil.statut }} </td>
                <th style="text-align: left;">Date de validité: </th>
                <td class="td_header">{{ item.appareil.dateValidite ? item.appareil.dateValidite|date('d-m-Y') : ''}}</td>
            </tr>
        </table>
    </div>
    <div class="header" style="margin-bottom: 5px;">
        <table>
            <tr class="tr_header">
                <th style="text-align: left;">Observation : </th>
                <td class="td_header2">{{ item.appareil.observation }}</td>
            </tr>
        </table>
    </div>
    <div class="header" style="margin-bottom: 5px; padding: 5px;">
        <h4>Historiques</h4>
        <table class="table">
            <thead class="table-header">
            <tr  class="tr">
                <th class="th" width="15%">Date DA</th>
                <th class="th" width="15%">Numéro DA</th>
                <th class="th" width="16%">Prestataire</th>
                <th class="th" width="16%">Type Intervention</th>
                <th class="th" width="16%">N° Certicat</th>
                <th class="th" width="16%">Observation</th>
            </tr>
            </thead>
            <tbody>
            {% for item1 in item.appareil.linterventions %}
                <tr>
                    <td class="td">{{item1.intervention.dateEnvoi ? item1.intervention.dateEnvoi|date('d-m-Y') : '' }}</td>
                    <td class="td">{{item1.intervention.numeroDa}}</td>
                    <td class="td">{{item1.intervention.prestataire}}</td>
                    <td class="td">{{item1.typeIntervention}}</td>
                    <td class="td">{{item1.numeroCertificat}}</td>
                    <td class="td">{{item1.observation}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% if not loop.last %}
        <div class="page_break"></div>
    {% endif %}
{% endfor %}
</body>
</html>