{% extends 'base.html.twig' %}

{% block title %}Liste client{% endblock %}

{% block body %}   
<div class="">
    <div class="page-title">
        <div class="title_left">
        <h3>Compte du Client : {{client.nom }}</h3>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <h2>La liste des affaires du client</h2>
                <ul class="nav navbar-right panel_toolbox">                        
                    {% if client.etat == 1  %}
                        <a href="{{path('app_client_etat', {'id' : client.id })}}" class="btn btn-outline-danger btn-sm p-2" onclick="return confirm('Voulez-vous confirmer ?')">Désactiver<i class="fa fa-times p-1"></i></a>
                    {% else %}
                        <a href="{{path('app_client_etat', {'id' : client.id })}}" class="btn btn-outline-success btn-sm p-2" onclick="return confirm('Voulez-vous confirmer ?')">Activer<i class="fa fa-check p-1"></i></a>
                    {% endif %}
                    <a href="{{path('app_client_index')}}" class="btn btn-outline-secondary btn-sm p-2">Retour<i class="fa fa-reply p-1"></i></a>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box table-responsive">
                            <table id="datatable" class="table table-striped table-bordered" style="width:100%">
                                <thead class="table-secondary">
                                    <tr>
                                    <th width="2">N°</th>
                                    <th>N° Affaire JE</th>
                                    <th>Nom Client</th>
                                    <th>Réf Commande Client</th>
                                    <th>N° de fabrication</th>
                                    <th>Réf Commande Client</th>
                                    <th>Affaire suivie par</th>
                                    <th>Date prévisionnelle de livraison</th>
                                    <th width="70" class="text-center">Etat</th>
                                    <th width="40" class="text-center">Jour Restant</th>
                                    <th  class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody> 
                                    {% set i = 0 %}
                                    {% set dateJour = "now" | date('d-m-Y') %}
                                    {% for affaire in client.affaires %}
                                    {% set i = i + 1 %}
                                        {% set dateLivre = affaire.dateLivraison | date('d-m-Y') %}
                                        {% set dateDiff = date(dateLivre).diff(date(dateJour)) %}
                                        {% set jourRestant = dateDiff.days %}
                                    <tr>
                                        <td>{{ i}}</td>
                                        <td>{{ affaire.numAffaire }}</td> 
                                        <td>{{ affaire.client }}</td>
                                        <td>{{ affaire.codeClient }}</td>
                                        <td>{{ affaire.numFabrication }}</td>
                                        <td>{{ affaire.numArticleClient }}</td>
                                        <td>{{ affaire.suiviPar }}</td>
                                        <td>{{ affaire.dateLivraison ? affaire.dateLivraison|date('d-m-Y') : '' }}</td>
                                        <td class="text-center">
                                            {% if affaire.revueEnclenchement %}
                                                <span class="btn btn-outline-danger btn-sm">En-cours</span>
                                            {% else %}
                                                <span class="btn btn-outline-secondary btn-sm">En Attente</span>
                                            {% endif %}
                                        </td>
                                        <td class="text-center">
                                        {% if jourRestant %} 
                                            {% if dateJour < dateLivre %}
                                                <span class="text-success">{{jourRestant}}</span>
                                            {% elseif dateJour > dateLivre %}
                                                <span class="text-danger"> - {{jourRestant}}</span>
                                            {% endif %}
                                        {% else %} 
                                            <span class="text-warning">0</span>
                                        {% endif %}
                                        </td>
                                        <td class="text-center">
                                            <a href="{{path('app_affaire_show', {'id' : affaire.id })}}" class="btn btn-outline-info btn-sm"><i class="fa fa-eye p-1 fa-1x"></i></a>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="13">Pas d'affaires en cours</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        </div>
    </div>
</div>
{% endblock %}
