{% extends 'base.html.twig' %}

{% block title %}Affaire{% endblock %}

{% block body %}
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h4>Essais Finaux du projet {{ parametre.affaire.numAffaire }}</h4>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    {% if is_granted('ROLE_TECHNICIEN_ELECTRICIEN') or is_granted('ROLE_CHEF_PROJET') or is_granted('ROLE_LECTEUR') %}
                        {% if parametre.expertiseElectiqueAvantLavage == 1 %}
                            <a href="{{path('app_expertise_electrique_avant_lavage', {'id' : parametre.id })}}" class="btn btn-outline-success btn-sm">Exp. Elec Avant Lavage <i class="fa fa-check"></i></a>
                        {% else %}
                            <a href="{{path('app_expertise_electrique_avant_lavage', {'id' : parametre.id })}}" class="btn btn-outline-primary btn-sm">Exp. Elec Avant Lavage</a>
                        {% endif %}  
                    
                        {% if parametre.expertiseElectiqueApresLavage == 1 %}
                            <a href="{{path('app_expertise_electrique_apres_lavage', {'id' : parametre.id })}}" class="btn btn-outline-success btn-sm">Exp. Élec Après Lavage <i class="fa fa-check"></i></a>
                        {% else %}
                            <a href="{{path('app_expertise_electrique_apres_lavage', {'id' : parametre.id })}}" class="btn btn-outline-primary btn-sm">Exp. Élec Après Lavage</a>
                        {% endif %}                                                              
                    {% endif %}

                    {% if is_granted('ROLE_TECHNICIEN_MECANICIEN') or is_granted('ROLE_CHEF_PROJET') or is_granted('ROLE_LECTEUR') %}
                        {% if parametre.expertiseMecanique == 1 %}
                            <a href="{{path('app_expertise_mecanique', {'id' : parametre.id })}}" class="btn btn-outline-success btn-sm">Exp. Mécanique <i class="fa fa-check"></i></a>
                        {% else %}
                            <a href="{{path('app_expertise_mecanique', {'id' : parametre.id })}}" class="btn btn-outline-primary btn-sm">Exp. Mécanique</a>
                        {% endif %}
                    {% endif %}

                    {% if (parametre.expertiseElectiqueAvantLavage == 1) and (parametre.expertiseMecanique == 1) and (parametre.expertiseElectiqueApresLavage == 1) %}
                        <a href="{{path('app_constat_index', {'id' : parametre.id })}}" class="btn btn-outline-success btn-sm">Constats</a>
                    {% else %}
                            <a href="{{path('app_constat_index', {'id' : parametre.id })}}" class="btn btn-outline-primary btn-sm">Constats</a>
                    {% endif %}
                        
                    {% if (parametre.expertiseElectiqueAvantLavage == 1) and (parametre.expertiseMecanique == 1) and (parametre.expertiseElectiqueApresLavage == 1) %}          
                        {% if is_granted('ROLE_CHEF_PROJET') %}
                            {% if parametre.contreExpertise %}
                                <a href="{{path('app_contre_expertise', {'id' : parametre.id })}}" class="btn btn-outline-success btn-sm">Contre-Expertise <i class="fa fa-check"></i></a>
                            {% else %}
                                <a href="{{path('app_contre_expertise', {'id' : parametre.id })}}" class="btn btn-outline-primary btn-sm">Contre-Expertise</a>
                            {% endif %}
                        {% endif %}

                        {% if is_granted('ROLE_TECHNICIEN_MECANICIEN') or is_granted('ROLE_CHEF_PROJET') or is_granted('ROLE_LECTEUR') %}
                            {% if parametre.remontage == 1 %}
                                <a href="{{path('app_remontage_index', {'id' : parametre.id })}}" class="btn btn-outline-success btn-sm">Remontage <i class="fa fa-check"></i></a>
                            {% else %}
                                <a href="{{path('app_remontage_index', {'id' : parametre.id })}}" class="btn btn-outline-primary btn-sm">Remontage</a>
                            {% endif %}                                    
                        {% endif %}
                        {% if parametre.remontage == 1 %}
                            {% if is_granted('ROLE_TECHNICIEN_ELECTRICIEN') or is_granted('ROLE_CHEF_PROJET') or is_granted('ROLE_LECTEUR') %}
                                <a href="{{path('app_essais_finaux', {'id' : parametre.id })}}" class="btn btn-outline-secondary btn-sm">Essais Finaux <i class="fa fa-check"></i></a>
                            {% endif %}                            
                        {% endif %}

                        {% if is_granted('ROLE_MAGASINIER') or is_granted('ROLE_CHEF_PROJET') %}
                            {% if parametre.phototheques | length > 1 %}
                                <a href="{{path('app_phototheque', {'id' : parametre.id })}}" class="btn btn-outline-success btn-sm">Photothèque après travaux <i class="fa fa-check"></i></a>
                            {% else %}
                                <a href="{{path('app_phototheque', {'id' : parametre.id })}}" class="btn btn-outline-primary btn-sm">Photothèque après travaux</a>
                            {% endif %} 
                        {% endif %}

                        {% if is_granted('ROLE_CHEF_PROJET') %}
                            {% if parametre.infoGenerale %}
                                <a href="{{path('app_info_generale', {'id' : parametre.id })}}" class="btn btn-outline-success btn-sm">Info Générale <i class="fa fa-check"></i></a>
                            {% else %}
                                <a href="{{path('app_info_generale', {'id' : parametre.id })}}" class="btn btn-outline-primary btn-sm">Info Générale</a>
                            {% endif %} 
                        {% endif %}
                    {% endif %}
                    <ul class="nav navbar-right panel_toolbox">
                        <a href="{{path('app_affaire_show', {'id' : parametre.affaire.id })}}" onclick="history.back();" class="btn btn-secondary btn-sm p-2">Retour<i class="fa fa-arrow-circle-left p-1"></i></a>
                    </ul>
                    <div class="clearfix"></div> 
                </div> 
            </div> 
        </div>
    </div> 
    <!-- début contenu formulaire --> 
        <div class="row">
            <div class="col-md-12 col-sm-12 ">  

                <!-- début Mesure d'isolement -->
                    <div class="x_panel"> 
                        <div class="x_title">
                            <div class="row">
                                <div class="col-md-4">
                                    <h2>Mesure d'isolement</h2>
                                </div>
                                <div class="col-md-4 text-center">
                                    {% if parametre.mesureIsolementEssai == null %}
                                        <a href="#" class="btn btn-secondary btn-sm">En attente <i class="fa fa-plus-circle"></i></a>
                                    {% else %}
                                        {% if parametre.mesureIsolementEssai.etat == 1 %}
                                            <a href="#" class="btn btn-success btn-sm">Terminé <i class="fa fa-check"></i></a>                                           
                                        {% else %}
                                            <a href="#" class="btn btn-danger btn-sm">En cours <i class="fa fa-circle-o"></i></a>   
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div class="col-md-2 text-right">
                                    {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CHEF_PROJET') or is_granted('ROLE_AGENT_MAITRISE') or is_granted('ROLE_VERIFICATEUR') or is_granted('ROLE_TECHNICIEN_ELECTRICIEN') or is_granted('ROLE_TECHNICIEN_MECANICIEN') %}
                                        {% if parametre.affaire.bloque != 1 %}
                                            <a class="btn btn-primary" href="{{path('app_mesure_isolement_essai', {'id' : parametre.id })}}"><i class="fa fa-plus-circle"></i></a>
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div class="col-md-2">
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li ><a class="collapse-link" data-toggle="collapse" aria-expanded="true" href="#collapse2_1"><i class="fa fa-chevron-up"></i></a></li>
                                    </ul>                                                
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content collapse" id="collapse2_1">
                            {% if parametre.mesureIsolementEssai %}
                                <div class="row">
                                    <table class="table table-bordered table-striped">
                                        <tr  class="table-secondary">
                                            <th colspan="5" class="text-center">Paramètres</th>
                                        </tr>
                                        <tr>
                                            <th>T° ambiante (°C)</th>
                                            <th>T° fer (°C)</th>
                                            <th>Hygrométrie (%)</th>
                                            <th>Date d'essai</th>
                                            <th>Critère</th>
                                        </tr>
                                        <tr>
                                            <td>{{ parametre.mesureIsolementEssai.tempAmbiante}}</td>
                                            <td >{{ parametre.mesureIsolementEssai.tempTolerie}}</td>
                                            <td >{{ parametre.mesureIsolementEssai.hygrometrie}}</td>
                                            <td >{{ parametre.mesureIsolementEssai.dateEssais ? parametre.mesureIsolementEssai.dateEssais| date('d-m-Y') }}</td>
                                            <td>{{ parametre.critere}} Ω/V </td>
                                        </tr>   
                                    </table>
                                </div>
                                <div class="row">
                                    <table class="table table-bordered table-striped">
                                        <tr  class="table-secondary">
                                            <th width="13%">Type</th>
                                            <th width="13%">Contrôle</th>
                                            <th width="13%">Critère</th>
                                            <th width="13%">Tension d'éssai (V)</th>
                                            <th width="13%">Valeur relevées</th>
                                            <th width="13%">T.Correction à 20° C</th>
                                            <th width="13%">Conformité</th>
                                        </tr>
                                        {% for item in parametre.mesureIsolementEssai.lmesureIsolementEssais %}
                                            <tr>
                                                <td>{{item.type}}</td>
                                                <td>{{item.controle}}</td>
                                                <td>
                                                    {% if item.controle == 'IP-UVW/masse' or   item.controle == 'IP-U/VW+masse' or  item.controle == 'IP-V/UW+masse' or  item.controle == 'IP-W/UV+masse'  %}
                                                        >= {{item.critere}}
                                                    {% else %}
                                                            {{item.critere}}  M<span class="my_police">Ω</span>
                                                    {% endif %}
                                                </td>
                                                <td>{{item.tension}}</td>
                                                {% if item.controle == 'IP-UVW/masse' or   item.controle == 'IP-U/VW+masse' or  item.controle == 'IP-V/UW+masse' or  item.controle == 'IP-W/UV+masse'  %}
                                                    <td>{{ item.valeur}}</td>
                                                {% else %}
                                                    <td>{{ item.valeur}} {{ item.unite }}</td>
                                                {% endif %}
                                                {% if item.controle == 'IP-UVW/masse' or   item.controle == 'IP-U/VW+masse' or  item.controle == 'IP-V/UW+masse' or  item.controle == 'IP-W/UV+masse'  %}
                                                    <td>-</td>
                                                {% else %}
                                                    <td>{{item.tempCorrection}} {{ item.unite}}</td>
                                                {% endif %}
                                                {% if item.conformite ==  'Conforme' %}
                        <td style="color: green;">{{item.conformite}}</td>
                    {% else %}
                        <td style="color: red;">{{item.conformite}}</td>
                    {% endif %}
                                            </tr>                                        
                                        {% endfor %}
                                    </table>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                <!-- fin Mesure d'isolement -->
                      
                <!-- début Mesure de resistance -->
                    <div class="x_panel"> 
                        <div class="x_title">
                            <div class="row">
                                <div class="col-md-4">
                                    <h2>Mesure Resistance</h2>
                                </div>
                                <div class="col-md-4 text-center">
                                    {% if parametre.mesureResistanceEssai == null %}
                                        <a href="#" class="btn btn-secondary btn-sm">En attente <i class="fa fa-plus-circle"></i></a>
                                    {% else %}
                                        {% if parametre.mesureResistanceEssai.etat == 1 %}
                                            <a href="#" class="btn btn-success btn-sm">Terminé <i class="fa fa-check"></i></a>                                           
                                        {% else %}
                                            <a href="#" class="btn btn-danger btn-sm">En cours <i class="fa fa-circle-o"></i></a>   
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div class="col-md-2 text-right">
                                    {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CHEF_PROJET') or is_granted('ROLE_AGENT_MAITRISE') or is_granted('ROLE_VERIFICATEUR') or is_granted('ROLE_TECHNICIEN_ELECTRICIEN') or is_granted('ROLE_TECHNICIEN_MECANICIEN') %}
                                        {% if parametre.affaire.bloque != 1 %}
                                            <a class="btn btn-primary" href="{{path('app_mesure_resistance_essai', {'id' : parametre.id })}}"><i class="fa fa-plus-circle"></i></a>
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div class="col-md-2">
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li ><a class="collapse-link" data-toggle="collapse" aria-expanded="false" href="#collapse2"><i class="fa fa-chevron-up"></i></a></li>
                                    </ul>                                                
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div> 
                        <div class="x_content collapse" id="collapse2">
                            {% if parametre.mesureResistanceEssai %}
                                <div class="row">
                                    <table class="table table-bordered table-striped">
                                        <tr  class="table-secondary">
                                            <th colspan="8" class="text-center">Paramètres</th>
                                        </tr>
                                        <tr>
                                            <th>T° ambiante (°C)</th>
                                            <td>{{ parametre.mesureResistanceEssai.tempAmbiante}}</td>
                                            <th>T° fer (°C)</th>
                                            <td >{{ parametre.mesureResistanceEssai.tempTolerie}}</td>
                                            <th>Hygrométrie (%)</th>
                                            <td >{{ parametre.mesureResistanceEssai.hygrometrie}}</td>
                                            <th>Date d'essai</th>
                                            <td >{{ parametre.mesureResistanceEssai.dateEssais ? parametre.mesureResistanceEssai.dateEssais| date('d-m-Y') }}</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="row">
                                    <table class="table table-bordered table-striped">
                                        <tr  class="table-secondary">
                                            <th width="13%">type</th>
                                            <th width="13%">Contrôle</th>
                                            <th width="13%">Critère</th>
                                            <th width="13%">Valeur relevées</th>
                                            <th width="13%">Correction à 20° C</th>
                                            <th width="13%">Conformité</th>
                                        </tr>
                                        {% for item in parametre.mesureResistanceEssai.lmesureResistanceEssais %}
                                            <tr>
                                                <td>{{item.Type}}</td>
                                                <td>{{item.controle}}</td>
                                                <td>{{item.critere}}</td>
                                                <td>{{item.valeur}} {{item.unite}}</td>
                                                <td>{{item.tempCorrection }} {{ item.unite }}</td>
                                                {% if item.conformite ==  'Conforme' %}
                        <td style="color: green;">{{item.conformite}}</td>
                    {% else %}
                        <td style="color: red;">{{item.conformite}}</td>
                    {% endif %}
                                            </tr>                                        
                                        {% endfor %}
                                    </table>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                <!-- fin Mesure de resistance -->
    
           
                <!-- début Mesures vibratoires -->
                    <div class="x_panel"> 
                        <div class="x_title">
                            <div class="row">
                                <div class="col-md-4">
                                    <h2>Mesures vibratoires</h2>
                                </div>
                                <div class="col-md-4 text-center">
                                    {% if parametre.mesureVibratoireEssais == null %}
                                        <a href="" class="btn btn-secondary btn-sm">En attente <i class="fa fa-plus-circle"></i></a>
                                    {% else %}
                                        {% if parametre.mesureVibratoireEssais.etat == 1 %}
                                            <a href="#" class="btn btn-success btn-sm">Terminé <i class="fa fa-check"></i></a>                                           
                                        {% else %}
                                            <a href="#" class="btn btn-danger btn-sm">En cours <i class="fa fa-circle-o"></i></a>   
                                        {% endif %}
                                    {% endif %}
                                </div> 
                                <div class="col-md-2 text-right">
                                    {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CHEF_PROJET') or is_granted('ROLE_AGENT_MAITRISE') or is_granted('ROLE_VERIFICATEUR') or is_granted('ROLE_TECHNICIEN_ELECTRICIEN') or is_granted('ROLE_TECHNICIEN_MECANICIEN') %}
                                        {% if parametre.affaire.bloque != 1 %}
                                            <a class="btn btn-primary" href="{{path('app_mesure_vibratoire_essais', {'id' : parametre.id })}}"><i class="fa fa-plus-circle"></i></a>
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div class="col-md-2">
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li ><a class="collapse-link" data-toggle="collapse" aria-expanded="false" href="#collapse312"><i class="fa fa-chevron-up"></i></a></li>
                                    </ul>                                                
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content collapse" id="collapse312">
                            {% if parametre.mesureVibratoireEssais %}
                                <div class="row">
                                    <table class="table table-bordered">
                                        <tr class="table-secondary text-center">
                                            <th colspan="5">Mesures Vibratoires</th>
                                        </tr>
                                        <tr class="table-secondary text-center">
                                            <th>Position</th>
                                            <th>Montage</th>
                                            <th>Accouplement</th>
                                            <th>Clavette</th>
                                            <th>Commentaire</th>
                                        </tr>
                                        <tr>
                                            <td>{{ parametre.mesureVibratoireEssais.position}}</td>
                                            <td>{{ parametre.mesureVibratoireEssais.montage}}</td>
                                            <td>{{ parametre.mesureVibratoireEssais.accouplement}}</td>
                                            <td>{{ parametre.mesureVibratoireEssais.clavette}}</td>
                                            <td>{{ parametre.mesureVibratoireEssais.commentaire}}</td>
                                        </tr>
                                    </table>
                                    <table class="table table-bordered">
                                        <tr  class="table-secondary">
                                            <th>Critère acceptation max 25mm/s</th>
                                            <th>N (tr/min)</th>
                                            <th>A</th>
                                            <th>B</th>
                                            <th>C</th>
                                            <th>D</th>
                                            <th>E</th>
                                            <th>F</th>
                                        </tr>
                                        <tr>
                                            <td>R.M.S de 10 à 1000 Hz à vide (mm/s)</td>
                                            <td>{{ parametre.mesureVibratoireEssais.n10 | number_format(2) }}</td>
                                            <td>{{ parametre.mesureVibratoireEssais.a10 | number_format(2) }}</td>
                                            <td>{{ parametre.mesureVibratoireEssais.b10 | number_format(2) }}</td>
                                            <td>{{ parametre.mesureVibratoireEssais.c10 | number_format(2) }}</td>
                                            <td>{{ parametre.mesureVibratoireEssais.d10 | number_format(2) }}</td>
                                            <td>{{ parametre.mesureVibratoireEssais.e10 | number_format(2) }}</td>
                                            <td>{{ parametre.mesureVibratoireEssais.f10 | number_format(2) }}</td>
                                        </tr>
                                        <tr>
                                            <td>R.M.S à F0 (mm/s)</td>
                                            <td>{{ parametre.mesureVibratoireEssais.n25 | number_format(2) }}</td>
                                            <td>{{ parametre.mesureVibratoireEssais.a25 | number_format(2) }}</td>
                                            <td>{{ parametre.mesureVibratoireEssais.b25 | number_format(2) }}</td>
                                            <td>{{ parametre.mesureVibratoireEssais.c25 | number_format(2) }}</td>
                                            <td>{{ parametre.mesureVibratoireEssais.d25 | number_format(2) }}</td>
                                            <td>{{ parametre.mesureVibratoireEssais.e25 | number_format(2) }}</td>
                                            <td>{{ parametre.mesureVibratoireEssais.f25 | number_format(2) }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ parametre.mesureVibratoireEssais.titre35}}</td>
                                            <td>{{ parametre.mesureVibratoireEssais.n35 | number_format(2) }}</td>
                                            <td>{{ parametre.mesureVibratoireEssais.a35 | number_format(2) }}</td>
                                            <td>{{ parametre.mesureVibratoireEssais.b35 | number_format(2) }}</td>
                                            <td>{{ parametre.mesureVibratoireEssais.c35 | number_format(2) }}</td>
                                            <td>{{ parametre.mesureVibratoireEssais.d35 | number_format(2) }}</td>
                                            <td>{{ parametre.mesureVibratoireEssais.e35 | number_format(2) }}</td>
                                            <td>{{ parametre.mesureVibratoireEssais.f35 | number_format(2) }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ parametre.mesureVibratoireEssais.titre45}}</td>
                                            <td>{{ parametre.mesureVibratoireEssais.n45 | number_format(2) }}</td>
                                            <td>{{ parametre.mesureVibratoireEssais.a45 | number_format(2) }}</td>
                                            <td>{{ parametre.mesureVibratoireEssais.b45 | number_format(2) }}</td>
                                            <td>{{ parametre.mesureVibratoireEssais.c45 | number_format(2) }}</td>
                                            <td>{{ parametre.mesureVibratoireEssais.d45 | number_format(2) }}</td>
                                            <td>{{ parametre.mesureVibratoireEssais.e45 | number_format(2) }}</td>
                                            <td>{{ parametre.mesureVibratoireEssais.f45 | number_format(2) }}</td>
                                        </tr>
                                        <tr>
                                            <td>Observations</td>
                                            <td colspan="7">{{ parametre.mesureVibratoireEssais.obervation}}</td>
                                        </tr>
                                    </table>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                <!-- fin Mesures vibratoires -->

                 <!-- début Appareils de mesure utilisés -->
                    <div class="x_panel"> 
                        <div class="x_title">
                            <div class="row">
                                <div class="col-md-4">
                                    <h2>Appareils de mesure utilisés</h2>
                                </div>
                                <div class="col-md-4 text-center">
                                    {% if parametre.appareilMesureEssais |length == 0 %}
                                        <a href="#" class="btn btn-secondary btn-sm">En attente <i class="fa fa-plus-circle"></i></a>
                                    {% else %}
                                        {% if parametre.appareilMesureEssais |length  > 1 %}
                                            <a href="#" class="btn btn-success btn-sm">Terminé <i class="fa fa-check"></i></a>                                           
                                        {% else %}
                                            <a href="#" class="btn btn-danger btn-sm">En cours <i class="fa fa-circle-o"></i></a>   
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div class="col-md-2 text-right">
                                    {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CHEF_PROJET') or is_granted('ROLE_AGENT_MAITRISE') or is_granted('ROLE_VERIFICATEUR') or is_granted('ROLE_TECHNICIEN_ELECTRICIEN') or is_granted('ROLE_TECHNICIEN_MECANICIEN') %}
                                        {% if parametre.affaire.bloque != 1 %}
                                            <a class="btn btn-primary" href="{{path('app_appareil_essais', {'id' : parametre.id })}}"><i class="fa fa-plus-circle"></i></a>
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div class="col-md-2">
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li ><a class="collapse-link" data-toggle="collapse" aria-expanded="false" href="#collapse41"><i class="fa fa-chevron-up"></i></a></li>
                                    </ul>                                                
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content collapse" id="collapse41">
                            {% if parametre.appareilMesureEssais %}
                                <div class="row">
                                    <table class="table table-bordered table-striped">
                                        <tr  class="table-secondary">
                                            <th colspan="3" class="text-center">Appareils de mesure utilisés</th>
                                        </tr>
                                        <tr  class="table-secondary">
                                            <th>Désignation du moyen de contrôle</th>
                                            <th>N° de l'appareil</th>
                                            <th>Date de validité</th>
                                        </tr>
                                        {% for item in parametre.appareilMesureEssais %}
                                            <tr>
                                                <td>{{item.appareil.designation}}</td>
                                                <td>{{item.appareil.numAppareil}}</td>
                                                <td>{{item.appareil.dateValidite | date('d-m-Y')}}</td>
                                            </tr>
                                        {% endfor %} 
                                    </table>                                        
                                </div>
                            {% endif %}
                        </div>
                    </div>
                <!-- /fin Appareils de mesure utilisés -->
                         
                <!-- début caractéristique -->
                    <div class="x_panel"> 
                        <div class="x_title">
                            <div class="row">
                                <div class="col-md-4">
                                    <h2>Carctérisques à vide </h2>
                                </div>
                                <div class="col-md-4 text-center">
                                    {% if parametre.autreCaracteristique == null %}
                                        <a href="#" class="btn btn-secondary btn-sm">En attente <i class="fa fa-plus-circle"></i></a>
                                    {% else %}
                                        {% if parametre.autreCaracteristique.etat == 1 %}
                                            <a href="#" class="btn btn-success btn-sm">Terminé <i class="fa fa-check"></i></a>                                           
                                        {% else %}
                                            <a href="#" class="btn btn-danger btn-sm">En cours <i class="fa fa-circle-o"></i></a>   
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div class="col-md-2 text-right">
                                    {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CHEF_PROJET') or is_granted('ROLE_AGENT_MAITRISE') or is_granted('ROLE_VERIFICATEUR') or is_granted('ROLE_TECHNICIEN_ELECTRICIEN') or is_granted('ROLE_TECHNICIEN_MECANICIEN') %}
                                        {% if parametre.affaire.bloque != 1 %}
                                            <a class="btn btn-primary" href="{{path('app_caracteristique', {'id' : parametre.id })}}"><i class="fa fa-plus-circle"></i></a>
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div class="col-md-2">
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li ><a class="collapse-link" data-toggle="collapse" data-target="#collapse3" aria-expanded="false"><i class="fa fa-chevron-up"></i></a></li>
                                    </ul>                                                
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content collapse" id="collapse3">
                            <!-- début caractéristique -->
                                <div class="row">
                                    <div class="col-md-12">
                                    {% if parametre.caracteristiques %}
                                        <table class="table table-bordered table-striped">
                                            {% for item in parametre.caracteristiques %}
                                                <tr>
                                                    <td class="text-center"><img src="{{asset('/photo_point_fonctionnement_vide/'~ item.image)}}" alt=""></td>
                                                </tr> 
                                            {% endfor %}
                                        </table>
                                        {% endif %}
                                        {% if parametre.autreCaracteristique %}
                                            <table class="table table-bordered table-striped">
                                                <tr>
                                                    <th class="table-secondary">Résistance</th>
                                                    <td colspan="4">{{ parametre.autreCaracteristique.resistance}}</td>
                                                </tr>
                                                <tr>
                                                    <th class="table-secondary">Pertes</th>
                                                    <td>{{ parametre.autreCaracteristique.perte1}}</td>
                                                    <td>tr/min</td>
                                                    <td>{{ parametre.autreCaracteristique.perte2}}</td>
                                                    <td>W</td>
                                                </tr>
                                                <tr>
                                                    <th class="table-secondary">Pertes Fer à </th>
                                                    <td>{{ parametre.autreCaracteristique.perteFer1}}</td>
                                                    <td>V</td>
                                                    <td>{{ parametre.autreCaracteristique.perteFer2}}</td>
                                                    <td>W</td>
                                                </tr>
                                            </table>
                                        {% endif %}
                                    </div>
                                </div>  
                            <!-- fin caractéristique -->
                        </div>
                    </div>  
                <!-- fin caractéristique -->
        
                <!-- début Point de fonctionnement à vide -->
                  <div class="x_panel"> 
                    <div class="x_title">
                        <div class="row">
                            <div class="col-md-4">
                                <h2>Point de fonctionnement à vide</h2> 
                            </div> 
                            <div class="col-md-4 text-center">
                                {% if parametre.pointFonctionnementVides |length == 0 %}
                                    <a href="#" class="btn btn-secondary btn-sm">En attente <i class="fa fa-plus-circle"></i></a>
                                {% else %}
                                    {% if parametre.pointFonctionnementVides |length  >= 1 %}
                                        <a href="#" class="btn btn-success btn-sm">Terminé <i class="fa fa-check"></i></a>                                           
                                    {% else %}
                                        <a href="#" class="btn btn-danger btn-sm">En cours <i class="fa fa-circle-o"></i></a>   
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class="col-md-2 text-right">
                                {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CHEF_PROJET') or is_granted('ROLE_AGENT_MAITRISE') or is_granted('ROLE_VERIFICATEUR') or is_granted('ROLE_TECHNICIEN_ELECTRICIEN') or is_granted('ROLE_TECHNICIEN_MECANICIEN') %}
                                    {% if parametre.affaire.bloque != 1 %}
                                        <a class="btn btn-primary" href="{{path('app_point_fonctionnement_vide', {'id' : parametre.id })}}"><i class="fa fa-plus-circle"></i></a>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class="col-md-2">
                                <ul class="nav navbar-right panel_toolbox">
                                    <li ><a class="collapse-link" data-toggle="collapse" aria-expanded="false" href="#collapse2_3"><i class="fa fa-chevron-up"></i></a></li>
                                </ul>                                                
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content collapse" id="collapse2_3">
                        <div class="row table-responsive">
                            {% if parametre.pointFonctionnementVides %}
                                <table class="table table-bordered table-striped">
                                    {% for item in parametre.pointFonctionnementVides %}
                                        <tr>
                                            <td class="text-center"><img src="{{asset('/photo_point_fonctionnement_vide/'~ item.image)}}" alt=""></td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            {% endif %}
                        </div>
                    </div>
                    </div>
                <!-- fin Point de fonctionnement à vide -->

                <!-- début point fonctionnement rotor -->
                    <div class="x_panel"> 
                        <div class="x_title">
                            <div class="row">
                                <div class="col-md-4">
                                    <h2>Point de fonctionnement rotor bloqué</h2>
                                </div>
                                <div class="col-md-4 text-center">
                                    {% if parametre.autrePointFonctionnementRotor == null %}
                                        <a href="#" class="btn btn-secondary btn-sm">En attente <i class="fa fa-plus-circle"></i></a>
                                    {% else %}
                                        {% if parametre.autrePointFonctionnementRotor.etat == 1 %}
                                            <a href="#" class="btn btn-success btn-sm">Terminé <i class="fa fa-check"></i></a>                                           
                                        {% else %}
                                            <a href="#" class="btn btn-danger btn-sm">En cours <i class="fa fa-circle-o"></i></a>   
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div class="col-md-2 text-right">
                                    {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_CHEF_PROJET') or is_granted('ROLE_AGENT_MAITRISE') or is_granted('ROLE_VERIFICATEUR') or is_granted('ROLE_TECHNICIEN_ELECTRICIEN') or is_granted('ROLE_TECHNICIEN_MECANICIEN') %}
                                        {% if parametre.affaire.bloque != 1 %}
                                            <a class="btn btn-primary" href="{{path('app_fonctionnement', {'id' : parametre.id })}}"><i class="fa fa-plus-circle"></i></a>
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div class="col-md-2">
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li ><a class="collapse-link" data-toggle="collapse" data-target="#collapse4" aria-expanded="false"><i class="fa fa-chevron-up"></i></a></li>
                                    </ul>                                                
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content collapse" id="collapse4">
                            {% if parametre.autrePointFonctionnementRotor %}
                                <div class="row">
                                    <table class="table table-bordered table-striped">
                                        <tr  class="table-secondary">
                                            <th colspan="8" class="text-center">Point de fonctionnement rotor bloqué</th>
                                        </tr>
                                        <tr class="table-secondary text-center">
                                            <th>U (v)</th>
                                            <th>I1 (A)</th>
                                            <th>I2 (A)</th>
                                            <th>I3 (A)</th>
                                            <th>Imoy (A)</th>
                                            <th>Pabs (kW)</th>
                                            <th>Pjoule (kW)</th>
                                        </tr>
                                        <tr>
                                            <td>{{parametre.autrePointFonctionnementRotor.u }}</td>
                                            <td>{{parametre.autrePointFonctionnementRotor.i1 }}</td>
                                            <td>{{parametre.autrePointFonctionnementRotor.i2 }}</td>
                                            <td>{{parametre.autrePointFonctionnementRotor.i3 }}</td>
                                            <td>{{parametre.autrePointFonctionnementRotor.imoy }}</td>
                                            <td>{{parametre.autrePointFonctionnementRotor.pabs }}</td>
                                            <td>{{parametre.autrePointFonctionnementRotor.pjoule }}</td>
                                        </tr>
                                    </table>
                                </div>
                            {% endif %}
                            {% if parametre.autrePointFonctionnementRotor %}
                                <div class="row">
                                    <table class="table table-bordered table-striped">
                                        <tr class="text-center">
                                            <th class="table-secondary">M</th>
                                            <th class="table-secondary">Indication du peson</th>
                                            <td>{{ parametre.autrePointFonctionnementRotor.m}}</td>
                                            <td>kg</td>
                                            <td></td>
                                        </tr>
                                        <tr class="text-center">
                                            <th class="table-secondary">ID</th>
                                            <th class="table-secondary">Courant de démarrage à Un</th>
                                            <td>{{ parametre.autrePointFonctionnementRotor.iden}}</td>
                                            <td>A</td>
                                            <th>ID = Imoy * Un/U</th>
                                        </tr>
                                        <tr class="text-center">
                                            <th class="table-secondary">CD</th>
                                            <th class="table-secondary">Couple de démarrage à Un</th>
                                            <td>{{ parametre.autrePointFonctionnementRotor.cd}}</td>
                                            <td>Nm</td>
                                            <th>CD = (9.81 * M * Un/U)</th>
                                        </tr>
                                    </table>
                                </div>
                            {% endif %}
                        </div>
                    </div>  
                <!-- fin point fonctionnement rotor --> 
         
                <!-- début bouton -->
                    {% if is_granted('ROLE_SUPER_ADMIN')  or is_granted('ROLE_VERIFICATEUR') or is_granted('ROLE_AGENT_MAITRISE') %}
                        <div class="x_panel"> 
                            <div class="x_content">
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <a href="{{path('valider_essais_finaux', {'id' : parametre.id })}}" class="btn btn-danger btn-sm text-uppercase" onclick="return confirm('Voulez-vous vraiment valider ?')">Validation d'Essais Finaux<i class="fa fa-check-circle p-2"></i></a>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    {% endif %}
                <!-- /fin bouton -->
            </div>
        </div>                    
    <!-- /fin contenu du formulaire--> 
</div>
{% endblock %}
