{% extends 'base.html.twig' %}

{% block title %}Affaire{% endblock %}

{% block body %}
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h4>Essais Finaux du projet {{ parametre.affaire.numAffaire }}</h4>
        </div>
    </div> 
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">                
                    <div class="row">
                        <div class="col-md-6">
                            <h4>Mesure d'isolement</h4>
                        </div>
                        <div class="col-md-6">
                            <ul class="nav navbar-right panel_toolbox">
                                <a href="{{path('app_essais_finaux',{'id' : parametre.id})}}" class="btn btn-secondary btn-sm p-2">Retour<i class="fa fa-arrow-circle-left p-1"></i></a>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
    
                <!-- début Mesure d'isolement -->
                    <form method="post">
                        <div class="x_content">
                            <div class="row">
                                <table class="table table-bordered">
                                    <tr  class="table-secondary">
                                        <th colspan="8" class="text-center">Paramètres</th>
                                    </tr>
                                    <tr>
                                        <th>T° ambiante (°C)</th>
                                        <th>T° fer (°C)</th>
                                        <th>Hygrométrie (%)</th>
                                        <th>Date d'essai</th>
                                        <th>Critère</th>
                                        <th>{% if parametre.machine.categorie == "À courant continu" %}
                                                Tension Excitation
                                            {% else %}
                                                Tension Stator
                                            {% endif %} (V)</th>
                                        <th>Tension Rotor (V)</th>
                                    </tr>
                                    <tr>
                                        <td>{{ form_widget(formMesureIsolement.temp_ambiante) }}</td>
                                        <td >{{ form_widget(formMesureIsolement.temp_tolerie) }}</td>
                                        <td >{{ form_widget(formMesureIsolement.hygrometrie) }}</td>
                                        <td>{{ form_widget(formMesureIsolement.date_essais) }}</td>
                                        <td>{{parametre.critere | number_format(2)}}</td>
                                        <td>{{parametre.statorTension}} 
                                            {% if parametre.statorTension2 != 0 %}
                                                et {{parametre.statorTension2 }}
                                            {% endif %} 
                                        </td>
                                        <td>{{parametre.rotorTension}} 
                                            {% if parametre.rotorTension2 != 0 %}
                                                et {{parametre.rotorTension2 }}
                                            {% endif %} 
                                        </td>
                                    </tr>   
                                </table>
                            </div>
                            <div class="row">
                                {% for flash_message in app.session.flashbag.get('message') %}
                                    <div class="container alert alert-danger p-2 ml-5 mr-5 mt-2" role="alert">
                                        {{ flash_message }}
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="row">
                                <table class="table table-bordered table-striped">
                                    <tr  class="table-secondary">
                                        <th width="13%">Type</th>
                                        <th width="13%">Contrôle</th>
                                        <th width="13%">Critère</th>
                                        <th width="13%">Tension d'éssai (V)</th>
                                        <th width="14%" colspan="2">Valeur relevées</th>
                                        <th width="13%">Correction à 20° C</th>
                                        <th width="13%">Conformité</th>
                                        <th width=""></th>
                                    </tr>
                                    <tr>
                                        <td>{{ form_widget(form.type) }}</td>
                                        <td>{{ form_widget(form.controle) }}</td>
                                        <td>{{ form_widget(form.critere,{ value : 0}) }}</td>
                                        <td>{{ form_widget(form.tension) }}</td>
                                        <td>{{ form_widget(form.valeur) }}</td>
                                        <td width="200">{{ form_widget(form.unite) }}</td>
                                        <td>{{ form_widget(form.temp_correction) }}</td>
                                        <td>{{ form_widget(form.conformite) }}</td>
                                        <td><button class="btn btn-primary btn-sm" name="bouton7" value="ajouter">Ajouter</button></td>
                                    </tr>
                                    {% for item2 in items %}
                                        <tr>
                                            <td>{{item2.type}}</td>
                                            <td>{{item2.controle}}</td>
                                            <td>{{item2.critere}}</td>
                                            <td>{{item2.tension}}</td>
                                            <td colspan="2">
                                                {% if item2.controle == 'IP-UVW/masse' or  item2.controle == 'IP-U/VW+masse' or  item2.controle == 'IP-V/UW+masse' or  item2.controle == 'IP-W/UV+masse'  %}
                                                    {{item2.valeur}}
                                                {% else %}
                                                    {{item2.valeur}} {{ item2.unite}}
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if item2.controle == 'IP-UVW/masse' or  item2.controle == 'IP-U/VW+masse' or  item2.controle == 'IP-V/UW+masse' or  item2.controle == 'IP-W/UV+masse'  %}
                                                    -
                                                {% else %}
                                                    {{item2.tempCorrection }} {{ item2.unite}}
                                                {% endif %}

                                            </td>
                                            <td>{{item2.conformite}}</td>
                                            <td class="text-center"><a href="{{path('delete_mesure_essai', {'id' : item2.lig, 'paramID' : parametre.id })}}"><i class="fa fa-trash-o fa-2x text-danger"></i></a></td>   
                                        </tr>                                         
                                    {% endfor %}
                                    <tr class="bg-primary"></tr>
                                    {% if parametre.mesureIsolementEssai %}
                                        {% for item in parametre.mesureIsolementEssai.lmesureIsolementEssais %}
                                            <tr>
                                                <td>{{item.type}}</td>
                                                <td>{{item.controle}}</td>
                                                <td>
                                                    {% if item.controle == 'IP-UVW/masse' or   item.controle == 'IP-U/VW+masse' or  item.controle == 'IP-V/UW+masse' or  item.controle == 'IP-W/UV+masse'  %}
                                                        >= {{item.critere}} 
                                                    {% else %}
                                                            {{item.critere}} MΩ
                                                    {% endif %}
                                                </td>
                                                <td>{{item.tension}}</td>
                                                <td colspan="2">
                                                    {% if item.controle == 'IP-UVW/masse' or  item.controle == 'IP-U/VW+masse' or  item.controle == 'IP-V/UW+masse' or  item.controle == 'IP-W/UV+masse'  %}
                                                        {{item.valeur }}
                                                    {% else %}
                                                        {{item.valeur}} {{ item.unite}}
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if item.controle == 'IP-UVW/masse' or  item.controle == 'IP-U/VW+masse' or  item.controle == 'IP-V/UW+masse' or  item.controle == 'IP-W/UV+masse'  %}
                                                        -
                                                    {% else %}
                                                        {{item.tempCorrection}} {{ item.unite}}
                                                    {% endif %}
                                                </td>
                                                {% if item.conformite ==  'Conforme' %}
                        <td style="color: green;">{{item.conformite}}</td>
                    {% else %}
                        <td style="color: red;">{{item.conformite}}</td>
                    {% endif %}

                                                <td class="text-center">
                                                    <a class="btn btn-info btn-sm" href="{{path('app_edit_mesure_isolement_essais_finaux', {'id' : item.id})}}"><i class="fa fa-edit fa-1x"></i></a>
                                                    <a class="btn btn-danger btn-sm" href="{{path('delete_lmesure_isolement_essai', {'id' : item.id, 'id2' : parametre.id })}}"><i class="fa fa-trash-o fa-1x"></i></a>
                                                </td>
                                            </tr>                                        
                                        {% endfor %}                                            
                                    {% endif %}
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-md-6 text-left">
                                    <button class="btn btn-secondary btn-sm" name="bouton7" value="mesure_isolement_en_cours"> En cours <i class="fa fa-save"></i></button>
                                </div>
                                <div class="col-md-6 text-right">
                                    <button class="btn btn-success btn-sm" name="bouton7" value="mesure_isolement_terminer"> Terminer <i class="fa fa-save"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                <!-- fin Mesure d'isolement -->  
            </div>
        </div>
    </div> 
</div> 
<div>
    {% set var_idUVW = 0 %}
    {% set var_idU = 0 %}
    {% set var_idV = 0 %}
    {% set var_idW = 0 %}
    {% set var_UVW1 = 1 %}
    {% set var_UVW10 = 0 %}
    {% set var_U1 = 1 %}
    {% set var_U10 = 0 %}
    {% set var_V1 = 1 %}
    {% set var_V10 = 0 %}
    {% set var_W1 = 1 %}
    {% set var_W10 = 0 %}
    {% set var_UVW = 0 %}
    {% set var_U = 0 %}
    {% set var_V = 0 %}
    {% set var_W = 0 %}

    {% for it in items %}
        {% if it.type == 'Stator' %}
            {% if it.controle == 'RI - UVW/masse - 1 min' %}
                {% set var_UVW1 = it.valeur %}
            {% elseif it.controle == 'RI - UVW/masse - 10 min' %}
                {% set var_UVW10 = it.valeur %}
            {% elseif it.controle == 'RI - U/VW+masse - 1 min' %}
                {% set var_U1 = it.valeur %}
            {% elseif it.controle == 'RI - U/VW+masse - 10 min' %}
                {% set var_U10 = it.valeur %}
            {% elseif it.controle == 'RI - V/UW+masse - 1 min' %}
                {% set var_V1 = it.valeur %}
            {% elseif it.controle == 'RI - V/UW+masse - 10 min' %}
                {% set var_V10 = it.valeur %}
            {% elseif it.controle == 'RI - W/UV+masse - 1 min' %}
                {% set var_W1 = it.valeur %}
            {% elseif it.controle == 'RI - W/UV+masse - 10 min' %}
                {% set var_W10 = it.valeur %}
            {% endif %} 
        {% elseif it.type == 'Stator 2' %}
            {% if it.controle == 'RI - UVW/masse - 1 min' %}
                {% set var_UVW1 = it.valeur %}
            {% elseif it.controle == 'RI - UVW/masse - 10 min' %}
                {% set var_UVW10 = it.valeur %}
            {% elseif it.controle == 'RI - U/VW+masse - 1 min' %}
                {% set var_U1 = it.valeur %}
            {% elseif it.controle == 'RI - U/VW+masse - 10 min' %}
                {% set var_U10 = it.valeur %}
            {% elseif it.controle == 'RI - V/UW+masse - 1 min' %}
                {% set var_V1 = it.valeur %}
            {% elseif it.controle == 'RI - V/UW+masse - 10 min' %}
                {% set var_V10 = it.valeur %}
            {% elseif it.controle == 'RI - W/UV+masse - 1 min' %}
                {% set var_W1 = it.valeur %}
            {% elseif it.controle == 'RI - W/UV+masse - 10 min' %}
                {% set var_W10 = it.valeur %}
            {% endif %} 
        {% elseif it.type == 'Rotor' %}
            {% if it.controle == 'RI - UVW/masse - 1 min' %}
                {% set var_UVW1 = it.valeur %}
            {% elseif it.controle == 'RI - UVW/masse - 10 min' %}
                {% set var_UVW10 = it.valeur %}
            {% elseif it.controle == 'RI - U/VW+masse - 1 min' %}
                {% set var_U1 = it.valeur %}
            {% elseif it.controle == 'RI - U/VW+masse - 10 min' %}
                {% set var_U10 = it.valeur %}
            {% elseif it.controle == 'RI - V/UW+masse - 1 min' %}
                {% set var_V1 = it.valeur %}
            {% elseif it.controle == 'RI - V/UW+masse - 10 min' %}
                {% set var_V10 = it.valeur %}
            {% elseif it.controle == 'RI - W/UV+masse - 1 min' %}
                {% set var_W1 = it.valeur %}
            {% elseif it.controle == 'RI - W/UV+masse - 10 min' %}
                {% set var_W10 = it.valeur %}
            {% endif %} 
        {% elseif it.type == 'Rotor 2' %}
            {% if it.controle == 'RI - UVW/masse - 1 min' %}
                {% set var_UVW1 = it.valeur %}
            {% elseif it.controle == 'RI - UVW/masse - 10 min' %}
                {% set var_UVW10 = it.valeur %}
            {% elseif it.controle == 'RI - U/VW+masse - 1 min' %}
                {% set var_U1 = it.valeur %}
            {% elseif it.controle == 'RI - U/VW+masse - 10 min' %}
                {% set var_U10 = it.valeur %}
            {% elseif it.controle == 'RI - V/UW+masse - 1 min' %}
                {% set var_V1 = it.valeur %}
            {% elseif it.controle == 'RI - V/UW+masse - 10 min' %}
                {% set var_V10 = it.valeur %}
            {% elseif it.controle == 'RI - W/UV+masse - 1 min' %}
                {% set var_W1 = it.valeur %}
            {% elseif it.controle == 'RI - W/UV+masse - 10 min' %}
                {% set var_W10 = it.valeur %}
            {% endif %} 
        {% endif %}                                      
    {% endfor %}

    {% set var_UVW = var_UVW10 / var_UVW1 %}
    {% set var_U = var_U10 / var_U1 %}
    {% set var_V = var_V10 / var_V1 %}
    {% set var_W = var_W10 / var_W1 %}

    {% for l in listes_controles %}
        {% if l.libelle == 'IP-UVW/masse' %}
            {% set var_idUVW = l.id %}
        {% elseif l.libelle == 'IP-U/VW+masse' %}
            {% set var_idU = l.id %}
        {% elseif l.libelle == 'IP-V/UW+masse' %}
            {% set var_idV = l.id %}
        {% elseif l.libelle == 'IP-W/UV+masse' %}
            {% set var_idW = l.id %}
        {% endif %}
    {% endfor %}
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        function updateSumField() 
        {
            let temp_ambiante = parseFloat(document.getElementById('mesure_isolement_essai_temp_ambiante').value);
            let valeur = parseFloat(document.getElementById('l_mesure_isolement_essai_valeur').value);
            var var_type = document.getElementById('l_mesure_isolement_essai_type');
            var var_controle = document.getElementById('l_mesure_isolement_essai_controle');

            let tension_rotor = {{ parametre.rotorTension }}; 
            let tension_stator = {{ parametre.statorTension }};
            let tension_rotor2 = {{ parametre.rotorTension2 }};
            let tension_stator2 = {{ parametre.statorTension2 }};

            let var_id_UVW = {{ var_idUVW }}
            let var_id_U = {{ var_idU }}
            let var_id_V = {{ var_idV }}
            let var_id_W = {{ var_idW }} 

            let var_j_UVW = {{ var_UVW }}
            let var_j_U = {{ var_U }}
            let var_j_V = {{ var_V }}
            let var_j_W = {{ var_W }} 

            const critere = {{ parametre.critere }};
            const valeur_temp = {{ parametre.tempCorrection }};

            if(var_type.value == 1)
            {
                const ol_critre = (critere*tension_stator)/1000000;
                const new_critere = document.getElementById('l_mesure_isolement_essai_critere');
                new_critere.value = isNaN(ol_critre) ? '' : (ol_critre);

                if(var_controle.value == var_id_UVW )
                {
                    const tension_essaie = var_j_UVW.toFixed(2);
                    const new_tension = document.getElementById('l_mesure_isolement_essai_valeur');
                    new_tension.value = isNaN(tension_essaie) ? '' : (tension_essaie);

                    const ol_critre = 2.5;
                    const new_critere = document.getElementById('l_mesure_isolement_essai_critere');
                    new_critere.value = isNaN(ol_critre) ? '' : (ol_critre);   
                    
                    const correction = document.getElementById('l_mesure_isolement_essai_temp_correction');
                    valeurFinale = 0;
                    correction.value = isNaN(valeurFinale) ? '' : (valeurFinale);
                }     
                else if(var_controle.value == var_id_U )
                {
                    const tension_essaie = var_j_U.toFixed(2);
                    const new_tension = document.getElementById('l_mesure_isolement_essai_valeur');
                    new_tension.value = isNaN(tension_essaie) ? '' : (tension_essaie);

                    const ol_critre = 2.5;
                    const new_critere = document.getElementById('l_mesure_isolement_essai_critere');
                    new_critere.value = isNaN(ol_critre) ? '' : (ol_critre);
                    
                    const correction = document.getElementById('l_mesure_isolement_essai_temp_correction');
                    valeurFinale = 0;
                    correction.value = isNaN(valeurFinale) ? '' : (valeurFinale);
                }    
                else if(var_controle.value == var_id_V )
                {
                    const tension_essaie = var_j_V.toFixed(2);
                    const new_tension = document.getElementById('l_mesure_isolement_essai_valeur');
                    new_tension.value = isNaN(tension_essaie) ? '' : (tension_essaie);

                    const ol_critre = 2.5;
                    const new_critere = document.getElementById('l_mesure_isolement_essai_critere');
                    new_critere.value = isNaN(ol_critre) ? '' : (ol_critre);
                    
                    const correction = document.getElementById('l_mesure_isolement_essai_temp_correction');
                    valeurFinale = 0;
                    correction.value = isNaN(valeurFinale) ? '' : (valeurFinale);
                }    
                else if(var_controle.value == var_id_W )
                {
                    const tension_essaie = var_j_W.toFixed(2);
                    const new_tension = document.getElementById('l_mesure_isolement_essai_valeur');
                    new_tension.value = isNaN(tension_essaie) ? '' : (tension_essaie);

                    const ol_critre = 2.5;
                    const new_critere = document.getElementById('l_mesure_isolement_essai_critere');
                    new_critere.value = isNaN(ol_critre) ? '' : (ol_critre);
                    
                    const correction = document.getElementById('l_mesure_isolement_essai_temp_correction');
                    valeurFinale = 0;
                    correction.value = isNaN(valeurFinale) ? '' : (valeurFinale);
                }
            }
            if(var_type.value == 3)
            {
                const ol_critre = (critere*tension_stator2)/1000000;
                const new_critere = document.getElementById('l_mesure_isolement_essai_critere');
                new_critere.value = isNaN(ol_critre) ? '' : (ol_critre);

                if(var_controle.value == var_id_UVW )
                {
                    const tension_essaie = var_j_UVW.toFixed(2);
                    const new_tension = document.getElementById('l_mesure_isolement_essai_valeur');
                    new_tension.value = isNaN(tension_essaie) ? '' : (tension_essaie);

                    const ol_critre = 2.5;
                    const new_critere = document.getElementById('l_mesure_isolement_essai_critere');
                    new_critere.value = isNaN(ol_critre) ? '' : (ol_critre);
                    
                    const correction = document.getElementById('l_mesure_isolement_essai_temp_correction');
                    valeurFinale = 0;
                    correction.value = isNaN(valeurFinale) ? '' : (valeurFinale);
                }     
                else if(var_controle.value == var_id_U )
                {
                    const tension_essaie = var_j_U.toFixed(2);
                    const new_tension = document.getElementById('l_mesure_isolement_essai_valeur');
                    new_tension.value = isNaN(tension_essaie) ? '' : (tension_essaie);

                    const ol_critre = 2.5;
                    const new_critere = document.getElementById('l_mesure_isolement_essai_critere');
                    new_critere.value = isNaN(ol_critre) ? '' : (ol_critre);
                    
                    const correction = document.getElementById('l_mesure_isolement_essai_temp_correction');
                    valeurFinale = 0;
                    correction.value = isNaN(valeurFinale) ? '' : (valeurFinale);
                }    
                else if(var_controle.value == var_id_V )
                {
                    const tension_essaie = var_j_V.toFixed(2);
                    const new_tension = document.getElementById('l_mesure_isolement_essai_valeur');
                    new_tension.value = isNaN(tension_essaie) ? '' : (tension_essaie);

                    const ol_critre = 2.5;
                    const new_critere = document.getElementById('l_mesure_isolement_essai_critere');
                    new_critere.value = isNaN(ol_critre) ? '' : (ol_critre);
                    
                    const correction = document.getElementById('l_mesure_isolement_essai_temp_correction');
                    valeurFinale = 0;
                    correction.value = isNaN(valeurFinale) ? '' : (valeurFinale);
                }    
                else if(var_controle.value == var_id_W )
                {
                    const tension_essaie = var_j_W.toFixed(2);
                    const new_tension = document.getElementById('l_mesure_isolement_essai_valeur');
                    new_tension.value = isNaN(tension_essaie) ? '' : (tension_essaie);

                    const ol_critre = 2.5;
                    const new_critere = document.getElementById('l_mesure_isolement_essai_critere');
                    new_critere.value = isNaN(ol_critre) ? '' : (ol_critre);
                    
                    const correction = document.getElementById('l_mesure_isolement_essai_temp_correction');
                    valeurFinale = 0;
                    correction.value = isNaN(valeurFinale) ? '' : (valeurFinale);
                }
            }
            else if (var_type.value == 2)
            {
                const ol_critre = (critere*tension_rotor)/1000000;
                const new_critere = document.getElementById('l_mesure_isolement_essai_critere');
                new_critere.value = isNaN(ol_critre) ? '' : (ol_critre);

                if(var_controle.value == var_id_UVW )
                {
                    const tension_essaie = var_j_UVW.toFixed(2);
                    const new_tension = document.getElementById('l_mesure_isolement_essai_valeur');
                    new_tension.value = isNaN(tension_essaie) ? '' : (tension_essaie);

                    const ol_critre = 2.5;
                    const new_critere = document.getElementById('l_mesure_isolement_essai_critere');
                    new_critere.value = isNaN(ol_critre) ? '' : (ol_critre);
                    
                    const correction = document.getElementById('l_mesure_isolement_essai_temp_correction');
                    valeurFinale = 0;
                    correction.value = isNaN(valeurFinale) ? '' : (valeurFinale);
                }     
                else if(var_controle.value == var_id_U )
                {
                    const tension_essaie = var_j_U.toFixed(2);
                    const new_tension = document.getElementById('l_mesure_isolement_essai_valeur');
                    new_tension.value = isNaN(tension_essaie) ? '' : (tension_essaie);

                    const ol_critre = 2.5;
                    const new_critere = document.getElementById('l_mesure_isolement_essai_critere');
                    new_critere.value = isNaN(ol_critre) ? '' : (ol_critre);
                    
                    const correction = document.getElementById('l_mesure_isolement_essai_temp_correction');
                    valeurFinale = 0;
                    correction.value = isNaN(valeurFinale) ? '' : (valeurFinale);
                }    
                else if(var_controle.value == var_id_V )
                {
                    const tension_essaie = var_j_V.toFixed(2);
                    const new_tension = document.getElementById('l_mesure_isolement_essai_valeur');
                    new_tension.value = isNaN(tension_essaie) ? '' : (tension_essaie);

                    const ol_critre = 2.5;
                    const new_critere = document.getElementById('l_mesure_isolement_essai_critere');
                    new_critere.value = isNaN(ol_critre) ? '' : (ol_critre);
                    
                    const correction = document.getElementById('l_mesure_isolement_essai_temp_correction');
                    valeurFinale = 0;
                    correction.value = isNaN(valeurFinale) ? '' : (valeurFinale);
                }    
                else if(var_controle.value == var_id_W )
                {
                    const tension_essaie = var_j_W.toFixed(2);
                    const new_tension = document.getElementById('l_mesure_isolement_essai_valeur');
                    new_tension.value = isNaN(tension_essaie) ? '' : (tension_essaie);

                    const ol_critre = 2.5;
                    const new_critere = document.getElementById('l_mesure_isolement_essai_critere');
                    new_critere.value = isNaN(ol_critre) ? '' : (ol_critre);
                    
                    const correction = document.getElementById('l_mesure_isolement_essai_temp_correction');
                    valeurFinale = 0;
                    correction.value = isNaN(valeurFinale) ? '' : (valeurFinale);
                }
            }
            else if (var_type.value == 4)
            {
                const ol_critre = (critere*tension_rotor2)/1000000;
                const new_critere = document.getElementById('l_mesure_isolement_essai_critere');
                new_critere.value = isNaN(ol_critre) ? '' : (ol_critre);

                if(var_controle.value == var_id_UVW )
                {
                    const tension_essaie = var_j_UVW.toFixed(2);
                    const new_tension = document.getElementById('l_mesure_isolement_essai_valeur');
                    new_tension.value = isNaN(tension_essaie) ? '' : (tension_essaie);

                    const ol_critre = 2.5;
                    const new_critere = document.getElementById('l_mesure_isolement_essai_critere');
                    new_critere.value = isNaN(ol_critre) ? '' : (ol_critre);
                    
                    const correction = document.getElementById('l_mesure_isolement_essai_temp_correction');
                    valeurFinale = 0;
                    correction.value = isNaN(valeurFinale) ? '' : (valeurFinale);
                }     
                else if(var_controle.value == var_id_U )
                {
                    const tension_essaie = var_j_U.toFixed(2);
                    const new_tension = document.getElementById('l_mesure_isolement_essai_valeur');
                    new_tension.value = isNaN(tension_essaie) ? '' : (tension_essaie);

                    const ol_critre = 2.5;
                    const new_critere = document.getElementById('l_mesure_isolement_essai_critere');
                    new_critere.value = isNaN(ol_critre) ? '' : (ol_critre);
                    
                    const correction = document.getElementById('l_mesure_isolement_essai_temp_correction');
                    valeurFinale = 0;
                    correction.value = isNaN(valeurFinale) ? '' : (valeurFinale);
                }    
                else if(var_controle.value == var_id_V )
                {
                    const tension_essaie = var_j_V.toFixed(2);
                    const new_tension = document.getElementById('l_mesure_isolement_essai_valeur');
                    new_tension.value = isNaN(tension_essaie) ? '' : (tension_essaie);

                    const ol_critre = 2.5;
                    const new_critere = document.getElementById('l_mesure_isolement_essai_critere');
                    new_critere.value = isNaN(ol_critre) ? '' : (ol_critre);
                    
                    const correction = document.getElementById('l_mesure_isolement_essai_temp_correction');
                    valeurFinale = 0;
                    correction.value = isNaN(valeurFinale) ? '' : (valeurFinale);
                }    
                else if(var_controle.value == var_id_W )
                {
                    const tension_essaie = var_j_W.toFixed(2);
                    const new_tension = document.getElementById('l_mesure_isolement_essai_valeur');
                    new_tension.value = isNaN(tension_essaie) ? '' : (tension_essaie);

                    const ol_critre = 2.5;
                    const new_critere = document.getElementById('l_mesure_isolement_essai_critere');
                    new_critere.value = isNaN(ol_critre) ? '' : (ol_critre);
                    
                    const correction = document.getElementById('l_mesure_isolement_essai_temp_correction');
                    valeurFinale = 0;
                    correction.value = isNaN(valeurFinale) ? '' : (valeurFinale);
                }
            }

            const correction = document.getElementById('l_mesure_isolement_essai_temp_correction');

            let valeurCorrection = 0;
            if(temp_ambiante >= 10 && temp_ambiante <=30)
            {
                val = (Math.pow(0.50,(valeur_temp - temp_ambiante)/10));
                valeurCorrection = val*valeur;
                valeurFinale = valeurCorrection.toFixed(0);
                correction.value = isNaN(valeurFinale) ? '' : (valeurFinale);
            }
        }
        document.getElementById('mesure_isolement_essai_temp_ambiante').addEventListener('input', updateSumField);
        document.getElementById('l_mesure_isolement_essai_valeur').addEventListener('input', updateSumField);
        document.getElementById('l_mesure_isolement_essai_type').addEventListener('input', updateSumField);
        document.getElementById('l_mesure_isolement_essai_controle').addEventListener('input', updateSumField);
    });
</script>
{% endblock %}
