{% extends 'base.html.twig' %}

{% block title %}Affaire{% endblock %}

{% block body %}
<div class="">
    <div class="page-title">
        <div class="title_left"><h4>Point de fonctionnement rotor bloqué</h4></div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">     
                    <ul class="nav navbar-right panel_toolbox">
                        <a href="{{path('app_essais_finaux',{'id' : parametre.id})}}" class="btn btn-secondary btn-sm p-2">Retour<i class="fa fa-arrow-circle-left p-1"></i></a>
                    </ul>
                    <div class="clearfix"></div> 
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-md-12">
                            {% for message in app.flashes('error') %}
                                <div class="alert alert-danger">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {{ form_start(formAutrePointFonctionnementRotor) }}
                                <div class="item form-group">
                                    <table class="table table-bordered">
                                        <tr  class="table-secondary">
                                            <th colspan="8" class="text-center">Point de fonctionnement rotor bloqué</th>
                                        </tr>
                                        <tr class="table-secondary text-center">
                                            <th>U (v)</th>
                                            <th>I1 (A)</th>
                                            <th>I2 (A)</th>
                                            <th>I3 (A)</th>
                                            <th>Imoy (A)</th>
                                            <th>Pabs (kW)</th>
                                            <th>Pjoule (kW)</th>
                                            <th></th>
                                        </tr>
                                        <tr>
                                            <td>{{ form_widget(formAutrePointFonctionnementRotor.u) }}</td>
                                            <td>{{ form_widget(formAutrePointFonctionnementRotor.i1) }}</td>
                                            <td>{{ form_widget(formAutrePointFonctionnementRotor.i2) }}</td>
                                            <td>{{ form_widget(formAutrePointFonctionnementRotor.i3) }}</td>
                                            <td>{{ form_widget(formAutrePointFonctionnementRotor.imoy) }}</td>
                                            <td>{{ form_widget(formAutrePointFonctionnementRotor.pabs) }}</td>
                                            <td>{{ form_widget(formAutrePointFonctionnementRotor.pjoule) }}</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="item form-group">
                                    <table class="table table-bordered">
                                        <tr class="text-center">
                                            <th class="table-secondary">M</th>
                                            <th class="table-secondary">Indication du peson</th>
                                            <td>{{ form_widget(formAutrePointFonctionnementRotor.m) }}</td>
                                            <td>kg</td>
                                            <td></td>
                                        </tr>
                                        <tr class="text-center">
                                            <th class="table-secondary">ID</th>
                                            <th class="table-secondary">Courant de démarrage à Un</th>
                                            <td>{{ form_widget(formAutrePointFonctionnementRotor.iden) }}</td>
                                            <td>A</td>
                                            <th>ID = Imoy * Un/U</th>
                                        </tr>
                                        <tr class="text-center">
                                            <th class="table-secondary">CD</th>
                                            <th class="table-secondary">Couple de démarrage à Un</th>
                                            <td>{{ form_widget(formAutrePointFonctionnementRotor.cd) }}</td>
                                            <td>Nm</td>
                                            <th>CD = (9.81 * M * Un/U)</th>
                                        </tr>
                                    </table>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 text-left">
                                        <button class="btn btn-secondary btn-sm" name="bouton4" value="autre_en_cours"> En cours <i class="fa fa-save"></i></button>
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <button class="btn btn-success btn-sm" name="bouton4" value="autre_terminer"> Terminer <i class="fa fa-save"></i></button>
                                    </div>
                                </div>
                            {{ form_end(formAutrePointFonctionnementRotor) }}
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div> 
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        function updateSumField() 
        {
            let u = parseFloat(document.getElementById('autre_point_fonctionnement_rotor_u').value);
            let i1 = parseFloat(document.getElementById('autre_point_fonctionnement_rotor_i1').value);
            let i2 = parseFloat(document.getElementById('autre_point_fonctionnement_rotor_i2').value);
            let i3 = parseFloat(document.getElementById('autre_point_fonctionnement_rotor_i3').value);
            let imoy = document.getElementById('autre_point_fonctionnement_rotor_imoy');
            let m = parseFloat(document.getElementById('autre_point_fonctionnement_rotor_m').value);
            let idn = document.getElementById('autre_point_fonctionnement_rotor_iden');
            let cd = document.getElementById('autre_point_fonctionnement_rotor_cd');
            let tension_rotor = {{ parametre.rotorTension }};

            let valeurImoy = (i1 + i2 + i3)/3;
            valeurFinaleImoy = valeurImoy.toFixed(2);
            imoy.value = isNaN(valeurFinaleImoy) ? '' : (valeurFinaleImoy);


            let imoy2 = parseFloat(document.getElementById('autre_point_fonctionnement_rotor_imoy').value);
            let valeurId = (imoy2 *(tension_rotor/u));
            valeurFinaleId = valeurId.toFixed(2);
            idn.value = isNaN(valeurFinaleId) ? '' : (valeurFinaleId);

            let valeurCD = (9.81 * m * (tension_rotor/u));
            valeurFinaleCD = valeurCD.toFixed(2);
            cd.value = isNaN(valeurFinaleCD) ? '' : (valeurFinaleCD);
            
        }

        document.getElementById('autre_point_fonctionnement_rotor_u').addEventListener('input', updateSumField);
        document.getElementById('autre_point_fonctionnement_rotor_i1').addEventListener('input', updateSumField);
        document.getElementById('autre_point_fonctionnement_rotor_i2').addEventListener('input', updateSumField);
        document.getElementById('autre_point_fonctionnement_rotor_i3').addEventListener('input', updateSumField);
        document.getElementById('autre_point_fonctionnement_rotor_imoy').addEventListener('input', updateSumField);
        document.getElementById('autre_point_fonctionnement_rotor_m').addEventListener('input', updateSumField);
    });
</script>
{% endblock %}
