{% extends 'base.html.twig' %}

{% block title %}Hello MetrologieController!{% endblock %}

{% block body %}
<style>
    .btn{
        background-color: #2f3f64;
        border-radius: 10px;
        border: 2px double #6E87C2;
        color: #ffffff;
        text-align: center;
        font-size: 18px;
        width: 180px;
    } 
</style>
<div class="">
    <div class="page-title">
        <div class="title_left"><h3>Base Métrologie</h3></div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title m-2 text-center">
                        <a href="{{path('app_appareil_index')}}" class="btn btn-outline-info p-1">Gestion Appareils</a>
                        <a href="{{path('app_affaire_metrologie_index')}}" class="btn btn-outline-info p-1">Gestion Affaire</a>
                        <a href="{{path('app_intervention_index')}}" class="btn btn-outline-info p-1">Sortie sur DA</a>
                        <a href="{{path('app_retour_intervention_index')}}" class="btn btn-outline-info p-1">Retour sur DA</a>
                        <a href="{{path('app_affectation_index')}}" class="btn btn-outline-info p-1">Sortie sur Chantier</a>
                        <a href="{{path('app_retour_affectation_index')}}" class="btn btn-outline-info p-1">Retour sur Chantier</a>
                        <a href="{{path('app_service_responsable_index')}}" class="btn btn-outline-info p-1">Services</a>
                        <a href="{{path('app_chercher')}}" class="btn btn-outline-info p-1">Chercher</a>
                    </div>
                </div>
                <div class="row mx-auto my-auto" style="">
                    <div class="animated flipInY col-lg-4 col-md-4 col-sm-12">
                        <div class="tile-stats">
                            <div class="icon"><i class="fa fa-life-ring"></i></div>
                            <div class="count">{{ affaireMetrologies }}</div>
                            <h3>Affaires</h3>
                        </div>
                    </div>
                    <div class="animated flipInY col-lg-4 col-md-4 col-sm-12">
                        <div class="tile-stats">
                            <div class="icon"><i class="fa fa-compass"></i></div>
                            <div class="count">{{appareils}}</div>
                            <h3>Appareils</h3>
                        </div>
                    </div>
                    <div class="animated flipInY col-lg-4 col-md-4 col-sm-12">
                        <div class="tile-stats">
                            <div class="icon"><i class="fa fa-compass"></i></div>
                            <div class="count">{{fonctionnels}}</div>
                            <h3>Appareils Fonctionnels</h3>
                        </div>
                    </div>
                </div>
                <div class="row mx-auto my-auto">
                    <div class="animated flipInY col-lg-4 col-md-4 col-sm-12">
                        <div class="tile-stats">
                            <div class="icon"><i class="fa fa-compass"></i></div>
                            <div class="count">{{conformes}}</div>
                            <h3>Appareils Conformes</h3>
                        </div>
                    </div> 
                    <div class="animated flipInY col-lg-4 col-md-4 col-sm-12">
                        <div class="tile-stats">
                            <div class="icon"><i class="fa fa-compass"></i></div>
                            <div class="count">{{hors_validite}}</div>
                            <h3>Appareils Hors Validite</h3>
                        </div>
                    </div>
                    <div class="animated flipInY col-lg-4 col-md-4 col-sm-12">
                        <div class="tile-stats">
                            <div class="icon"><i class="fa fa-compass"></i></div>
                            <div class="count">{{perdu}}</div>
                            <h3>Appareils Perdu</h3>
                        </div>
                    </div>
                </div>
                <div class="row mx-auto my-auto">
                    <div class="animated flipInY col-lg-4 col-md-4 col-sm-12">
                        <div class="tile-stats">
                            <div class="icon"><i class="fa fa-compass"></i></div>
                            <div class="count">{{hs}}</div>
                            <h3>Appareils HS</h3>
                        </div>
                    </div>
                    <div class="animated flipInY col-lg-4 col-md-4 col-sm-12">
                        <div class="tile-stats">
                            <div class="icon"><i class="fa fa-arrow-right"></i></div>
                            <div class="count">{{ interventions }}</div>
                            <h3>Sortie DA</h3>
                        </div>
                    </div>
                    <div class="animated flipInY col-lg-4 col-md-4 col-sm-12">
                        <div class="tile-stats">
                            <div class="icon"><i class="fa fa-arrow-left"></i></div>
                            <div class="count">{{ retours}}</div>
                            <h3>Entrer DA</h3>
                        </div>
                    </div>
                </div>
                <div class="row mx-auto my-auto">
                    <div class="animated flipInY col-lg-4 col-md-4 col-sm-12">
                        <div class="tile-stats">
                            <div class="icon"><i class="fa fa-arrow-right"></i></div>
                            <div class="count">{{affectations }}</div>
                            <h3>Sortie Affaire</h3>
                        </div>
                    </div>
                    <div class="animated flipInY col-lg-4 col-md-4 col-sm-12">
                        <div class="tile-stats">
                            <div class="icon"><i class="fa fa-arrow-right"></i></div>
                            <div class="count">{{retourA}}</div>
                            <h3>Retour Affaire</h3>
                        </div>
                    </div>
                    <div class="animated flipInY col-lg-4 col-md-4 col-sm-12">
                        <div class="tile-stats">
                            <div class="icon"><i class="fa fa-certificate"></i></div>
                            <div class="count">{{ services }}</div>
                            <h3>Services</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>
{% endblock %}
