<div class="row">
    <div class="col-md-12 col-sm-12 ">
        {{ form_start(form) }}
            <div class="x_panel">
                <div class="x_title">
                    <h2>{{button_label | default('Ajouter')}} une machine</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="item form-group">
                        <div class="col-md-3 col-sm-3 ">{{ form_row(form.categorie)}}</div>
                        <div class="col-md-3 col-sm-3 ">{{ form_row(form.sous_categorie)}}</div>
                        <div class="col-md-3 col-sm-3 ">{{ form_row(form.sous_categorie2)}}</div>
                        <div class="col-md-3 col-sm-3 ">{{ form_row(form.sous_categorie3)}}</div>
                    </div> 
                    {#
                    <div class="item form-group">
                        <label class="col-form-label col-md-2 col-sm-2 label-align" for="machine">Type Machine <span class="required text-danger">*</span></label>
                        <div class="col-md-2 col-sm-2 ">{{ form_widget(form.type_machine) }}</div>
                        <label class="col-form-label col-md-2 col-sm-2 label-align" for="puissance">Puissance(kW) <span class="required text-danger">*</span></label>
                        <div class="col-md-2 col-sm-2 ">{{ form_widget(form.puissance) }}</div>
                        <label class="col-form-label col-md-2 col-sm-2 label-align" for="vitesse">Vitesse(tr/min) <span class="required text-danger">*</span></label>
                        <div class="col-md-2 col-sm-2 ">{{ form_widget(form.vitesse) }}</div>
                    </div>
                    <div class="item form-group">
                        <label class="col-form-label col-md-2 col-sm-2 label-align" for="masse">Masse(kg) <span class="required text-danger">*</span></label>
                        <div class="col-md-2 col-sm-2 ">{{ form_widget(form.masse) }}</div>
                        <label class="col-form-label col-md-2 col-sm-2 label-align" for="fabricant">Fabricant <span class="required text-danger">*</span></label>
                        <div class="col-md-2 col-sm-2 ">{{ form_widget(form.fabricant) }}</div>
                        <label class="col-form-label col-md-2 col-sm-2 label-align" for="type_palier">Type palier <span class="required text-danger">*</span></label>
                        <div class="col-md-2 col-sm-2 ">{{ form_widget(form.type_palier) }}</div>
                    </div>
                    <div class="item form-group">
                        <label class="col-form-label col-md-2 col-sm-2 label-align" for="montage">Montage <span class="required text-danger">*</span></label>
                        <div class="col-md-2 col-sm-2 ">{{ form_widget(form.montage) }}</div>
                    </div>  
                    <div class="item form-group">
                        <div class="col-md-6 col-sm-6 ">{{ form_row(form.presence_balais) }}</div>
                        <div class="col-md-6 col-sm-6">{{ form_row(form.presence_balais_masse) }}</div>
                    </div>     
                    #}
                </div>
            </div>
            {#
            <div class="row">
                <div class="col-md-6">
                    <div class="x_panel"> 
                        <div class="x_title">
                            <h2>Stator</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <br />
                            <div class="row">
                                    <div class="col-md-6 col-sm-6 ">{{ form_row(form.stator_tension) }}</div>
                                    <div class="col-md-6 col-sm-6 ">{{ form_row(form.stator_courant) }}</div>
                            </div>
                            <div class="row">
                                    <div class="col-md-6 col-sm-6 ">{{ form_row(form.stator_frequence) }}</div>
                                    <div class="col-md-6 col-sm-6 ">{{ form_row(form.stator_couplage) }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6 ">{{ form_row(form.date_arrivee) }}</div>
                                <div class="col-md-6 col-sm-6 ">{{ form_row(form.stator_tension2) }}</div> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="x_panel"> 
                        <div class="x_title">
                            <h2>Rotor</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <br />
                            <div class="row">
                                <div class="col-md-6 col-sm-6 ">{{ form_row(form.rotor_tension) }}
                                </div>
                                <div class="col-md-6 col-sm-6 ">{{ form_row(form.rotor_courant) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6 ">{{ form_row(form.rotor_expertise_refrigeant) }}
                                </div>
                                <div class="col-md-6 col-sm-6 ">{{ form_row(form.rotor_tension2) }}
                                </div> 
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 ">{{ form_row(form.presence_plans) }}
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
            #}
            <div class="x_panel">
                <div class="x_content">
                    <div class="item form-group">
                        <div class="col-md-12 col-sm-12">
                            <div class="row">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-primary btn-sm">{{button_label | default('Ajouter')}} <i class="fa fa-save p-1"></i></button>
                            </div>
                                <div class="col-md-6 text-right">
                                    <a class="btn btn-secondary btn-sm" href="{{path('app_machine_index')}}">Retour  <i class="fa fa-reply p-1"></i></a>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        {{ form_end(form) }}
    </div>
</div> 